<style>
    .ImportantNote textarea{
        font-size: 14px;
        width: 155px;
        height: 32px;
        border: 1px solid #e6e6e6;
        vertical-align: middle;
    }
    .mainContain .tableListDiv tr td{
        font-size: 12px;
    }
    .mainContain .tableListDiv tr th{
        font-size: 12px;
    }
</style>
<div class="rightinfo mainContain" id="mainContain1">
    <div style="padding: 0;width: 100%" class="queryDiv" >
        <ul>
            <li>
                <label>
                    <button style="margin-left: 10px;" class="btn" ng-click="addDeviceProcess()">新增流程</button>
                </label>
            </li>
        </ul>
    </div>
    <div style="max-height: 400px;overflow: auto;" class="tableListDiv data-container jurisdiction">
        <table>
            <thead>
            <tr>
                <th>流程序号</th>
                <th>流程名称</th>
                <th>流程类型</th>
                <th>流程阶段</th>
                <th>触发条件</th>
                <th>条件详情</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="apply_infos_table" ng-if="deviceProcessLists.length>0">
            <tr ng-repeat="orderDetail in deviceProcessLists" >
                <td ng-bind="$index+1"></td>
                <td ng-bind="orderDetail.processName"></td>
                <td ng-bind="orderDetail.deviceProcessTypeName"></td>
                <td ng-bind="orderDetail.processStageName"></td>
                <td ng-bind="orderDetail.triggerConditionTypeName"></td>
                <td ng-bind="orderDetail.triggerConditionName||'--'"></td>
                <td ng-bind="orderDetail.processRemark"></td>
                <td>
                    <a href="javascript:void(0)" class="resBtn editBtn" ng-click="editSparePartsFuc(orderDetail)">
                        <img src="image/comm/resBtnEdit.png" alt="编辑"/>
                        <b class="title">编辑</b>
                    </a>
                    <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteContactCompanyBalance(orderDetail)">
                    <img src="image/comm/resBtnDelete.png" alt="删除"/>
                    <b class="title">删除</b>
                    </a>
                </td>
            </tr>
            </tbody>
            <tbody ng-if="deviceProcessLists.length<=0">
            <tr>
                <td colspan="8">暂无数据</td>
            </tr>
            </tbody>
            <tfoot ng-if="deviceProcessLists.length>0">
            <tr>
                <td style="text-align: center" colspan="17"><tm-pagination conf="paginationConf"></tm-pagination></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="tip">
        <div class="tiptop"><span>提示信息</span><a></a></div>
        <div class="tipinfo">
            <span><img src="images/ticon.png" /></span>
            <div class="tipright">
                <p>是否确认对信息的修改 ？</p>
                <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
        </div>

        <div class="tipbtn">
            <input name="" type="button"  class="sure" value="确定" />&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
        </div>
    </div>
</div>

<!--新增流程 start-->
<div class="ImportantNote addDeviceProcessPop">
    <div class="headline">
        <span>新增流程</span>
        <img onClick="hideDiv('addDeviceProcessPop')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 30px 0 20px 0;width: 840px;max-height: 320px;height: auto;overflow-y: hidden; overflow: auto;" class="businessAuth" ng-hide="nextPop">
        <div class="titleDiv" id="addP">
            <span class="tips">流程基础设置</span>
            <p>
                <label for="name1">
                    <span style="width: 100px;text-align: right">流程名称:</span>
                    <input id="name1" ng-model="formDeviceProcess.processName" type="text" placeholder="请输入流程名称"/>
                </label>
                <label for="processType" >
                    <span style="width: 100px;text-align: right">流程类型:</span>
                    <select id="processType" ng-model="formDeviceProcess.processType" ng-options="AllCompanyDetail.id as AllCompanyDetail.deviceProcessType for AllCompanyDetail in deviceProcessTypeLists" ng-change="processTypeChange()">
                        <option value="">请选择流程类型</option>
                    </select>
                </label>
                <label for="processStage" >
                    <span style="width: 100px;text-align: right">对应阶段:</span>
                    <select id="processStage" ng-model="formDeviceProcess.processStage" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.deviceProcessPhase for deviceTypeListDetail in deviceProcessPhaseLists">
                        <option value="">请选择对应阶段</option>
                    </select>
                </label>
            </p>
            <p>
                <label>
                    <span style="width: 100px;text-align: right">触发条件:</span>
                    <input type="radio" ng-value="1" id="dt" ng-model="formDeviceProcess.triggerConditionType" name="triggerConditionType" ng-change="triggerConditionTypeChange()">
                    <label for="dt" style="margin-right: 16px">设备类型</label>

                    <input type="radio" id="je" ng-value="2" ng-model="formDeviceProcess.triggerConditionType" name="triggerConditionType" ng-change="triggerConditionTypeChange()">
                    <label for="je" style="margin-right: 16px">金额上限</label>

                    <input type="radio" ng-value="3" id="bm" ng-model="formDeviceProcess.triggerConditionType" name="triggerConditionType" ng-change="triggerConditionTypeChange()">
                    <label for="bm" style="margin-right: 16px">部门</label>
                </label>
                <label for="triggerCondition" >
                    <span style="width: 100px;text-align: right">条件详情:</span>
                    <select ng-if="formDeviceProcess.triggerConditionType==1" id="triggerCondition" ng-model="formDeviceProcess.triggerCondition" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in deviceTypeList">
                        <option value="">默认针对所有类型</option>
                    </select>
                    <input ng-if="formDeviceProcess.triggerConditionType==2" id="triggerCondition" ng-model="formDeviceProcess.triggerCondition" type="text" placeholder="金额上限为该值时触发"/>
                    <select ng-if="formDeviceProcess.triggerConditionType==3" id="triggerCondition" ng-model="formDeviceProcess.triggerCondition" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in departmentList">
                        <option value="">默认针对所有部门</option>
                    </select>
                </label>
            </p>
            <p>
                <label for="processRemark">
                    <span style="width: 100px;text-align: right">备注:</span>
                    <textarea placeholder="请输入备注" name="processRemark" id="processRemark" ng-model="formDeviceProcess.processRemark"></textarea>
                </label>
            </p>
        </div>
        <div class="errP" style="text-align: center" ng-show="nextFlog">表单有空值!!!</div>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="addDeviceProcessNext()" value="" class="btn">下一步</button>
            <button type="button" value="" class="btn" onClick="hideDiv('addDeviceProcessPop')">取消</button>
        </div>
    </div>
    <!--第二步 审核人员选择-->
    <div style="padding: 30px 0 20px 0;width: 840px;max-height: 320px;height: auto;overflow-y: hidden; overflow: auto;" class="businessAuth" ng-show="nextPop">
        <div class="titleDiv" id="addP">
            <span class="tips">流程详情设置</span>
            <div style="padding: 0;width: 100%" class="queryDiv" >
                <ul>
                    <li style="text-align: right;margin-bottom: 12px;margin-top: -8px;margin-right: 8px">
                        <label>
                            <button class="btn" ng-click="addDeviceProcessDetail()">新增</button>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="tableListDiv data-container jurisdiction" style="width: 100%;padding: 0 8px;box-sizing: border-box">
                <table style="width: 100%;">
                    <thead>
                    <tr>
                        <th style="min-width: 30px;">流程顺序</th>
                        <!--<th>审核用户组</th>-->
                        <th>审核人</th>
                        <th>处理要求</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="orderDetail in reqList | orderBy:orderDetail.processStep" ng-if="reqList.length>0">
                        <td class="firstTd">第{{orderDetail.processStep}}步</td>
                        <td>{{orderDetail.nameStrs||'--'}}</td>
                        <td>{{orderDetail.handleDemandType=='1'?'单人会签':'全部都签'||'--'}}</td>
                        <td>
                            <!--<a href="javascript:void(0)" class="resBtn editBtn" ng-click="editSparePartsFuc(orderDetail)">-->
                                <!--<img src="image/comm/resBtnEdit.png" alt="编辑"/>-->
                                <!--<b class="title">编辑</b>-->
                            <!--</a>-->
                            <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteProcessUserBalance(orderDetail)">
                                <img src="image/comm/resBtnDelete.png" alt="删除"/>
                                <b class="title">删除</b>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="reqList.length<=0||reqList==''||reqList==null||reqList==undefined">
                        <td colspan="5">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="errP" style="text-align: center" ng-show="errFlog">表单填写有误!!!</div>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="addDeviceProcessSure()" value="" class="btn">确定</button>
            <button type="button" value="" class="btn" ng-click="addDeviceProcessProv()">上一步</button>
        </div>
    </div>
</div>
<!--新增流程 end-->

<!--新增审核用户组-->
<div class="ImportantNote addDeviceProcessDetailPop mainContain" id="contactCompanyListPop">
    <div class="headline">
        <span>审核流程：选择审核人</span>
        <img onClick="hideDiv('addDeviceProcessDetailPop');popupDiv('addDeviceProcessPop');" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <!-- 设置审核组 -->
    <div style="max-height: 320px;height: auto;overflow-y: hidden; overflow: auto;box-sizing: border-box;" class="businessAuth">
        <div class="titleDiv"  ng-hide="changeFLog">
            <span class="tips">审核组设置</span>
            <p>
                <label>
                    <span style="width: 100px;text-align: right">指定审核人:</span>
                    <input type="radio" disabled ng-value="1" ng-model="deviceProcessDetail.auditType" name="auditType">
                </label>
                <label style="opacity: 0">
                    <span style="width: 100px;text-align: right">指定审核人:</span>
                    <input type="radio" ng-value="" disabled ng-model="deviceProcessDetail.auditType1" name="auditType1">
                </label>
            </p>
            <!--<p>-->
                <!--<label>-->
                    <!--<span style="width: 100px;text-align: right">指定用户组:</span>-->
                    <!--<input type="radio" ng-value="2" ng-model="deviceProcessDetail.auditType" name="auditType">-->
                <!--</label>-->
                <!--<label style="opacity: 0">-->
                    <!--<span style="width: 100px;text-align: right">指定用户组:</span>-->
                    <!--<input type="radio" ng-value="" disabled ng-model="deviceProcessDetail.auditType" name="auditType">-->
                <!--</label>-->
            <!--</p>-->
            <!--<p ng-if="deviceProcessDetail.auditType==2">-->
                <!--<label for="processAuditor" >-->
                    <!--<span style="width: 100px;text-align: right">审核组:</span>-->
                    <!--<select id="processAuditor" ng-model="deviceProcessDetail.processAuditor" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in deviceTypeList">-->
                        <!--<option value="">选择审核组</option>-->
                    <!--</select>-->
                <!--</label>-->
            <!--</p>-->
            <p ng-if="deviceProcessDetail.auditType==1">
                <label for="processAuditor1" style="position: relative;">
                    <span style="width: 100px;text-align: right">审核人:</span>
                    <input id="processAuditor1" ng-model="deviceProcessDetail.nameStrs" type="text" min="0" placeholder="请选择审核人" disabled/>
                    <span class="changedDiv" ng-click="openPA()">...</span>
                </label>
            </p>
            <p>
                <label>
                    <span style="width: 100px;text-align: right">处理要求:</span>
                    <input ng-disabled="deviceProcessDetail.auditType==2" type="radio" ng-value="1" id="dt1" ng-model="deviceProcessDetail.handleDemandType" name="handleDemandType">
                    <label for="dt1" style="margin-right: 16px">一个人签</label>

                    <input ng-disabled="deviceProcessDetail.auditType==2" type="radio" id="je1" ng-value="2" ng-model="deviceProcessDetail.handleDemandType" name="handleDemandType">
                    <label for="je1" style="margin-right: 16px">全部都签</label>
                </label>
            </p>
        </div>
        <!-- 选择审核人 -->
        <div class="titleDiv" ng-show="changeFLog">
            <span class="tips">选择审核人</span>
            <div style="padding: 0;width: 100%" class="queryDiv" >
                <ul>
                    <li style="text-align: left;margin-bottom: 12px;margin-top: -8px;margin-right: 8px">
                        <!--<label>-->
                            <!--<span style="width: 100px;text-align: right">审核用户组:</span>-->
                            <!--<select id="queryYHZ" ng-model="queryYHZ" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in deviceTypeList">-->
                                <!--<option value="">请选择用户组</option>-->
                            <!--</select>-->
                        <!--</label>-->
                    <!--</li>-->
                    <!--<li style="text-align: right;margin-bottom: 12px;margin-top: -8px;margin-right: 8px">-->
                        <label>
                            <span style="width: 100px;text-align: right">可选择人员:</span>
                            <input type="text" ng-model="queryYH" placeholder="输入姓名检索">
                        </label>
                    </li>
                </ul>
            </div>
            <div class="processAuditor">
                <div class="processAuditorLeft">
                    <table class="changeTable">
                        <thead>
                        <tr>
                            <th colspan="2">可选列表</th>
                        </tr>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in userLists | filter:queryYH" ng-click="changePA_left(item.userId,$index)">
                            <td ng-bind="$index+1"></td>
                            <td ng-bind="item.userName"></td>
                        </tr>
                        <tr ng-if="userLists.length<=0||userLists==null||userLists==undefined">
                            <td colspan="2">暂无数据</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="processAuditorRight">
                    <table class="changeTable">
                        <thead>
                        <tr>
                            <th colspan="2">已选列表</th>
                        </tr>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-click="changePA_right(item.userId,$index)" ng-repeat="item in processAuditorLists">
                            <td ng-bind="$index+1"></td>
                            <td ng-bind="item.userName"></td>
                        </tr>
                        <tr ng-if="processAuditorLists.length<=0||processAuditorLists==null||processAuditorLists==undefined">
                            <td colspan="2">暂无数据</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div ng-show="changeFLog" class="submitBtn1" style="text-align: center;padding-left: 40px;margin-bottom: 18px;">
            <button type="button" ng-click="closePA()" value="" class="btn">确定</button>
            <button type="button" value="" class="btn" ng-click="closePA1()">取消</button>
        </div>
    </div>

    <div ng-hide="changeFLog" class="submitBtn1" style="text-align: center;padding-left: 40px;margin-bottom: 18px;">
        <button type="button" ng-click="changeCCSure()" value="" class="btn">保存</button>
        <button type="button" value="" class="btn" onClick="hideDiv('addDeviceProcessDetailPop');popupDiv('addDeviceProcessPop');">取消</button>
    </div>
</div>

<!--保存成功start-->
<div class="ImportantNote SaveSuccess">
    <div class="headline">
        <span>重要提示</span>
        <img onClick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>
        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--保存成功end-->
<!--单个删除弹出框start-->
<div class="ImportantNote deleteSparePartsPop">
    <div class="headline">
        <span>删除设备信息</span>
        <img onClick="hideDiv('deleteSparePartsPop')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/>确认删除选中的设备信息？</p>
        <div class="submitBtn1" style="text-align: center;">
            <input type="button" value="删除"  class="btn" ng-click="deleteSparePartsSure()"/>
            <input type="button" value="取消" class="btn" onClick="hideDiv('deleteSparePartsPop')">
        </div>
    </div>
</div>
<!--单个删除弹出框end-->
<script type="text/javascript">
    $(document).ready(function(){
        $(".click").click(function(){
            $(".tip").fadeIn(200);
        });

        $(".tiptop a").click(function(){
            $(".tip").fadeOut(200);
        });

        $(".sure").click(function(){
            $(".tip").fadeOut(100);
        });

        $(".cancel").click(function(){
            $(".tip").fadeOut(100);
        });

    });
</script>
<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
</script>