<style>
    .ImportantNote textarea{
        font-size: 14px;
        width: 155px;
        height: 32px;
        border: 1px solid #e6e6e6;
        vertical-align: middle;
    }
    .mainContain .tableListDiv tr td{
        font-size: 12px;
    }
    .mainContain .tableListDiv tr th{
        font-size: 12px;
    }
</style>
<div class="rightinfo mainContain" id="mainContain1">
    <div style="padding: 0;width: 100%" class="queryDiv" >
        <ul>
            <li>
                <label>
                    <button style="margin-left: 10px;" class="btn" ng-click="openIPlan(0)">新增巡检计划</button>
                </label>
                <label for="departmentManage" >
                    <span style="width: 100px;text-align: right">部门:</span>
                    <select id="departmentManage" ng-model="departmentManage" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in departmentManageLists">
                        <option value="">请选择部门</option>
                    </select>
                </label>
                <label for="xjsj" >
                    <!--<span style="width: 100px;text-align: right">状态:</span>-->
                    <select id="xjsj" ng-model="xjsj" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in xjsjLists">
                        <option value="">全部</option>
                    </select>
                </label>
                <label for="xjlx" >
                    <!--<span style="width: 100px;text-align: right">名称:</span>-->
                    <select id="xjlx" ng-model="xjlx" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in xjlxLists">
                        <option value="">全部</option>
                    </select>
                </label>
                <label>
                    <button style="margin-left: 10px;" class="btn" ng-click="onQuery()">查询</button>
                </label>
            </li>
        </ul>
    </div>
    <div style="max-height: 400px;overflow: auto;" class="tableListDiv data-container jurisdiction" id="deviceAddressPop">
        <table>
            <thead>
            <tr>
                <th style="text-align: left;padding-left: 20px" colspan="11">巡检计划</th>
            </tr>
            <tr>
                <th style="min-width:50px;">全选<input style="vertical-align: middle;margin-left: 5px" type="checkbox" value="1" onclick="selAll(this)" id="allSelected"/></th>
                <th>序号</th>
                <th>状态</th>
                <th>名称</th>
                <th>部门</th>
                <th>上次巡检时间</th>
                <th>下次巡检时间</th>
                <th>周期</th>
                <th>执行人</th>
                <th>巡检设备数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="apply_infos_table">
            <tr ng-repeat="orderDetail in spotInspectionPlanLists" ng-if="spotInspectionPlanLists.length>0" class="prossTr" ng-click="changeDetail(orderDetail.id,$event)">
                <td class="firstTd">{{$index+1}}<input style="margin-left: 5px;vertical-align: middle;" class="SISListsInput" type="checkbox" name="che"  value="{{orderDetail.id}}" ng-click="stopUp($event)"/></td>
                <td>{{$index+1}}</td>
                <td>{{orderDetail.expiredStatus==1?'未过期':'过期'||'--'}}</td>
                <td>{{orderDetail.name||'--'}}</td>
                <td>{{orderDetail.departmentName||'--'}}</td>
                <td>{{orderDetail.lastExecuteTime||'--'}}</td>
                <td>{{orderDetail.nextExecuteTime||'--'}}</td>
                <td>{{orderDetail.recyclePeroid||'--'}}</td>
                <td>{{orderDetail.executorsName||'--'}}</td>
                <td>{{orderDetail.deviceCount||'--'}}</td>
                <td>
                    <a href="javascript:void(0)" class="resBtn editBtn" ng-click="openAddRecord(orderDetail,$event)">
                        执行
                    </a>
                    <a href="javascript:void(0)" class="resBtn editBtn" ng-click="openIPlan_detail(1,orderDetail,$event)">
                        编辑
                    </a>
                    <a href="javascript:void(0)" class="resBtn editBtn" ng-click="openIPlan_detail(2,orderDetail,$event)">
                        详情
                    </a>
                    <!--<a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteContactCompanyBalance(orderDetail)">-->
                    <!--<img src="image/comm/resBtnDelete.png" alt="删除"/>-->
                    <!--<b class="title">删除</b>-->
                    <!--</a>-->
                </td>
            </tr>
            <tr ng-if="spotInspectionPlanLists.length<=0">
                <td colspan="14">暂无数据</td>
            </tr>
            </tbody>
            <tfoot ng-if="spotInspectionPlanLists.length>0">
            <tr>
                <td>
                    <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteSISBalance()">
                        <img src="image/comm/resBtnDelete.png" alt="删除"/>
                        <b class="title">删除</b>
                    </a>
                </td>
                <td style="text-align: center" colspan="17"><tm-pagination conf="paginationConf"></tm-pagination></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- 历史巡检表格 -->
<div class="rightinfo mainContain" style="margin-top: -50px;">
    <div class="tableListDiv" style="margin-bottom: 0">
        <table>
            <thead>
            <tr>
                <th style="text-align: left;padding-left: 20px" colspan="9">历史巡检</th>
            </tr>
            <tr>
                <th>序号</th>
                <th>计划时间</th>
                <th>巡检时间</th>
                <th>巡检人</th>
                <th>巡检设备异常数</th>
                <th>巡检设备漏检数</th>
                <th>延误情况</th>
                <th>异常处理情况</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="orderDetail in changeDetailLists" ng-if="spotInspectionStandardLists.length>0">
                <td>{{$index+1}}</td>
                <td>{{orderDetail.name||'--'}}</td>
                <td>{{orderDetail.recordTypeName||'--'}}</td>
                <td>{{orderDetail.inputLimitValue.join(',')||'--'}}</td>
                <td>{{orderDetail.lowerLimit||'--'}}</td>
                <td>{{orderDetail.upperLimit||'--'}}</td>
                <td>{{orderDetail.upperLimit||'--'}}</td>
                <td>{{orderDetail.upperLimit||'--'}}</td>
                <td>
                    <a href="javascript:void(0)" class="resBtn editBtn" ng-click="openSIS_detail(2,orderDetail,$event)">
                        详情
                    </a>
                </td>
            </tr>
            <tr ng-if="changeDetailLists.length<=0">
                <td colspan="9">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 弹出层（新增、编辑、详情） -->
<div class="ImportantNote iPlanPopup">
    <div class="headline">
        <span ng-bind="iPlanTip"></span>
        <img onClick="hideDiv('iPlanPopup')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 30px 0 20px 0;width: 840px;height: auto;" class="businessAuth">
        <!-- 计划信息 -->
        <div class="titleDiv" id="iPlanPopup_div">
            <span class="tips">计划信息</span>
            <p>
                <label for="name" >
                    <span style="width: 100px;text-align: right">计划名称:</span>
                    <input id="name" ng-model="iPlanReq.name" ng-disabled="iPlanType==2" type="text" placeholder="请输入巡检计划名称"/>
                </label>
            </p>
            <p>
                <label for="deviceType2" >
                    <span style="width: 100px;text-align: right">所在部门:</span>
                    <select id="deviceType2" ng-model="iPlanReq.department" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in departmentManageLists" ng-disabled="iPlanType==2">
                        <option value="">请选择所在部门</option>
                    </select>
                </label>
                <label for="range" >
                    <span style="width: 100px;text-align: right">位置范围:</span>
                    <input id="range" ng-model="iPlanReq.range" ng-disabled="iPlanType==2" type="text" placeholder="请输入位置范围"/>
                </label>
            </p>
            <p>
                <label for="processAuditor1" style="position: relative;">
                    <span style="width: 100px;text-align: right">执行班组/人:</span>
                    <input id="processAuditor1" ng-model="iPlanReq.nameStrs" type="text" min="0" placeholder="请选择执行班组/人" disabled/>
                    <span class="changedDiv" ng-click="openPA()">...</span>
                </label>
            </p>
            <p>
                <label for="planStatus" >
                    <span style="width: 100px;text-align: right">计划状态:</span>
                    <select id="planStatus" ng-model="iPlanReq.planStatus" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in planStatusLists" ng-disabled="iPlanType==2">
                        <option value="">请选择计划状态</option>
                    </select>
                </label>
                <label for="recyclePeriod_input" >
                    <span style="width: 100px;text-align: right">循环周期:</span>
                    <input style="width: 100px;margin-right: 47px;" id="recyclePeriod_input" ng-model="iPlanReq.recyclePeriod" ng-disabled="iPlanType==2" type="number" placeholder="请输入周期" ng-value="0"/>
                    <select style="width: 100px" id="recyclePeriod" ng-model="iPlanReq.recyclePeriodType" ng-options="deviceTypeListDetail.code as deviceTypeListDetail.name for deviceTypeListDetail in SIPRecycleTypeLists" ng-disabled="iPlanType==2">
                        <option value="">请选择周期类型</option>
                    </select>
                </label>
            </p>
            <p>
                <label for="nextExecuteTime" >
                    <span style="width: 100px;text-align: right">下次执行时间:</span>
                    <input id="nextExecuteTime" ng-model="iPlanReq.nextExecuteTime" ng-disabled="iPlanType==2" type="date" placeholder="请输入下次执行时间"/>
                </label>
                <label for="endTime" >
                    <span style="width: 100px;text-align: right">截止时间:</span>
                    <input id="endTime" ng-model="iPlanReq.endTime" ng-disabled="iPlanType==2" type="date" placeholder="请输入截止时间(为设置表示长期有效)"/>
                </label>
            </p>
        </div>
        <!-- 包含设备 -->
        <div class="titleDiv" id="addP1">
            <span class="tips">包含设备</span>
            <table class="popup_div_table iPlan_popup_table">
                <thead>
                <tr>
                    <th ng-if="iPlanType!=2">
                        <button ng-click="addDevice()">选择设备</button>
                    </th>
                    <th>路线顺序</th>
                    <th>设备名称</th>
                    <th>设备编号</th>
                    <th>设备型号</th>
                    <th>巡检标准名称</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in iPlanReq.list" ng-if="iPlanReq.list.length>0">
                    <td ng-if="iPlanType!=2">
                        <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteSISBalance_device(item,$index)">
                            <img src="image/comm/resBtnDelete.png" alt="删除"/>
                            <b class="title">删除</b>
                        </a>
                    </td>
                    <td ng-bind="$index"></td>
                    <td ng-bind="item.name"></td>
                    <td ng-bind="item.code"></td>
                    <td ng-bind="item.specification"></td>
                    <td ng-bind="item.planStatusName"></td>
                </tr>
                <tr ng-if="iPlanReq.list.length<=0||iPlanReq.list==null||iPlanReq.list==undefined">
                    <td colspan="6" ng-if="iPlanType!=2">暂无数据</td>
                    <td colspan="5" ng-if="iPlanType==2">暂无数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="errP" style="text-align: center" ng-show="errFlog">表单有空值!!!</div>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="addIPlanSure()" value="" class="btn">保存</button>
            <button type="button" value="" class="btn" onClick="hideDiv('iPlanPopup')">取消</button>
        </div>
    </div>
</div>

<!-- 选择执行者弹出层 -->
<div class="ImportantNote executorsPopup">
    <div class="headline">
        <span>选择执行者</span>
        <img ng-click="closePA1()" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="titleDiv">
        <!--<span class="tips">选择执行者</span>-->
        <div style="padding: 0;width: 100%" class="queryDiv" >
            <ul>
                <li style="text-align: left;margin-bottom: 12px;margin-top: -8px;margin-right: 8px">
                    <label>
                        <span style="width: 100px;text-align: right;display: inline-block">可选择人员:</span>
                        <input type="text" ng-model="queryYH" placeholder="输入姓名检索">
                    </label>
                </li>
            </ul>
        </div>
        <div class="processAuditor">
            <div class="processAuditorLeft">
                <table class="changeTable">
                    <thead>
                    <tr>
                        <th colspan="2">可选列表</th>
                    </tr>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in userLists | filter:queryYH" ng-click="changePA_left(item.userId,$index)">
                        <td ng-bind="$index+1"></td>
                        <td ng-bind="item.userName"></td>
                    </tr>
                    <tr ng-if="userLists.length<=0||userLists==null||userLists==undefined">
                        <td colspan="2">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="processAuditorRight">
                <table class="changeTable">
                    <thead>
                    <tr>
                        <th colspan="2">已选列表</th>
                    </tr>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-click="changePA_right(item.userId,$index)" ng-repeat="item in processAuditorLists">
                        <td ng-bind="$index+1"></td>
                        <td ng-bind="item.userName"></td>
                    </tr>
                    <tr ng-if="processAuditorLists.length<=0||processAuditorLists==null||processAuditorLists==undefined">
                        <td colspan="2">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="submitBtn1" style="text-align: center;padding-left: 40px;margin-bottom: 18px;">
        <button type="button" ng-click="closePA()" value="" class="btn">确定</button>
        <button type="button" value="" class="btn" ng-click="closePA1()">取消</button>
    </div>
</div>

<!-- 选择包含设备弹出层 -->
<div class="ImportantNote iPlanDevicePopup">
    <div class="headline">
        <span>添加巡检对象</span>
        <img onClick="hideDiv('iPlanDevicePopup');popupDiv('iPlanPopup');" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 10px 0 20px 0;height: auto;width: 400px" class="businessAuth">
        <div class="titleDiv" id="iPlanDevicePopup_div">
            <span class="tips">添加巡检对象</span>
            <p>
                <label for="code_device" >
                    <span style="width: 100px;text-align: right">设备编号:</span>
                    <input id="code_device" ng-model="changedDeviceObj.code" disabled type="text"/>
                </label>
            </p>
            <p>
                <label for="name_devece" >
                    <span style="width: 100px;text-align: right">设备名称:</span>
                    <input id="name_devece" ng-model="changedDeviceObj.name" disabled type="text"/>
                </label>
            </p>
            <p>
                <label for="sr_device" >
                    <span style="width: 100px;text-align: right">规格型号:</span>
                    <input id="sr_device" ng-model="changedDeviceObj.specification" disabled type="text"/>
                </label>
            </p>
            <p>
                <label for="bm_device" style="position: relative;">
                    <span style="width: 100px;text-align: right">使用部门:</span>
                    <input id="bm_device" ng-model="changedDeviceObj.useDept" type="text" disabled/>
                    <span class="changedDiv">...</span>
                </label>
            </p>
            <p>
                <label for="deviceType_device" >
                    <span style="width: 100px;text-align: right">设备分类:</span>
                    <input id="deviceType_device" ng-model="changedDeviceObj.deviceType" disabled type="text"/>
                </label>
            </p>
            <p>
                <label for="sis_device" >
                    <span style="width: 100px;text-align: right">点巡检标准:</span>
                    <select id="sis_device" ng-model="changedDeviceObj.planStatus" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in stanardByDeviceIdLists">
                        <option value="">请选择点巡检标准</option>
                    </select>
                </label>
            </p>
            <button class="iPlanDevicePopup_div_btn" ng-click="changedDevice()">
                选择设备
            </button>
        </div>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="addSISSure_device()" value="" class="btn">保存</button>
            <button type="button" value="" class="btn" onClick="hideDiv('iPlanDevicePopup');popupDiv('iPlanPopup');">取消</button>
        </div>
    </div>
</div>

<!-- 选择设备弹出层 -->
<div class="ImportantNote changedDevicePop mainContain" id="iPlanDevicePopup">
    <div class="headline">
        <span>添加设备</span>
        <img onClick="hideDiv('changedDevicePop');popupDiv('iPlanDevicePopup');" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 0;width: 100%" class="queryDiv" >
        <ul>
            <li>
                <label for="dd_DeviceType" >
                <span style="width: 100px;text-align: right">设备类型:</span>
                <select id="dd_DeviceType" ng-model="dd_DeviceType" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in deviceTypeLists">
                <option value="">请选择设备类型</option>
                </select>
                </label>
                <label for="dd_departmentManage" >
                    <span style="width: 100px;text-align: right">使用部门:</span>
                    <select id="dd_departmentManage" ng-model="dd_departmentManage" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in departmentManageLists">
                        <option value="">请选择使用部门</option>
                    </select>
                </label>
                <label style="margin-left: 10px" for="dd_DeviceTypeName"><span>设备名称：</span>
                    <input type="text" id="dd_DeviceTypeName" placeholder="请输入设备名称" ng-model="dd_DeviceTypeName"/>
                </label>
                <label>
                    <button class="btn" ng-click="onQuery_cc()">查询</button>
                </label>
            </li>
        </ul>
    </div>
    <div class="tableListDiv data-container jurisdiction">
        <table>
            <thead>
            <tr>
                <th style="text-align: left" colspan="5">设备列表</th>
            </tr>
            <tr>
                <th>设备编号</th>
                <th>设备名称</th>
                <th>使用部门</th>
                <th>规格型号</th>
                <th>设备类别</th>
            </tr>
            </thead>
            <tbody id="apply_infos_table1">
            <tr ng-click="changedDeviceClick($event,orderDetail)" data-appid = "{{orderDetail.id}}" ng-class="{'':dataAudit=='','bg-gray':orderDetail.id == dataAudit}"  ng-repeat="orderDetail in deviceListInfos" class="dd_prossTr">
                <td>{{orderDetail.code||'--'}}</td>
                <td>{{orderDetail.name||'--'}}</td>
                <td>{{orderDetail.useDept||'--'}}</td>
                <td>{{orderDetail.specification||'--'}}</td>
                <td>{{orderDetail.deviceType||'--'}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td style="text-align: center" colspan="5"><tm-pagination conf="paginationConf_CC"></tm-pagination></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="submitBtn1" style="text-align: center;padding-left: 40px;margin-bottom: 10px">
        <button type="button" ng-click="changeCCSure_changedDevice()" value="" class="btn">保存</button>
        <button type="button" value="" class="btn" onClick="hideDiv('changedDevicePop');popupDiv('iPlanDevicePopup');">取消</button>
    </div>
</div>


<!--保存成功start-->
<div class="ImportantNote SaveSuccess">
    <div class="headline">
        <span>重要提示</span>
        <img onClick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>
        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--保存成功end-->
<!--单个删除弹出框start-->
<div class="ImportantNote deleteSISPop">
    <div class="headline">
        <span>删除巡检标准</span>
        <img onClick="hideDiv('deleteSISPop')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/>确认删除选中的巡检标准？</p>
        <div class="submitBtn1" style="text-align: center;">
            <input type="button" value="删除"  class="btn" ng-click="deleteSISPopSure()"/>
            <input type="button" value="取消" class="btn" onClick="hideDiv('deleteSISPop')">
        </div>
    </div>
</div>
<!--单个删除弹出框end-->

<!-- 执行巡检计划（新增巡检记录1）弹出层 -->
<div class="ImportantNote addRecordPopup">
    <div class="headline">
        <span>执行巡检计划</span>
        <img ng-click="closeAR1()" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 30px 0 20px 0;width: 840px;height: auto;" class="businessAuth">
        <div class="titleDiv" id="p_t_l">
            <span class="tips">巡检内容</span>
            <p>
                <label for="AR_name" >
                    <span style="width: 100px;text-align: right">巡检名称:</span>
                    <input id="AR_name" ng-model="spotInspectionRecordAddReq.name" type="text"/>
                </label>
            </p>
            <p>
                <label for="AR_date" >
                    <span style="width: 100px;text-align: right">巡检时间:</span>
                    <input id="AR_date" ng-model="spotInspectionRecordAddReq.name" type="date"/>
                </label>
                <label for="AR_people" >
                    <span style="width: 100px;text-align: right">巡检人:</span>
                    <input id="AR_people" ng-model="spotInspectionRecordAddReq.name" type="text"/>
                </label>
            </p>
            <p>
                <label for="AR_yc" >
                    <span style="width: 100px;text-align: right">异常处理情况:</span>
                    <input id="AR_yc" ng-model="spotInspectionRecordAddReq.name" type="text"/>
                </label>
            </p>
            <div style="padding-left: 104px;position: relative;padding-right: 5px;box-sizing: border-box;">
                <span style="width: 100px;text-align: right;position: absolute;left: 0;top:0">巡检明细:</span>
                <table class="popup_div_table iPlan_popup_table">
                    <thead>
                    <tr>
                        <th>执行顺序</th>
                        <th>巡检项</th>
                        <th>漏检项</th>
                        <th>异常项</th>
                        <th>设备编号</th>
                        <th>设备名称</th>
                        <th>设备型号</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in spotInspectionRecordAddReq.detailList" ng-if="spotInspectionRecordAddReq.detailList.length>0">
                        <td ng-bind="$index"></td>
                        <td ng-bind="item.name"></td>
                        <td ng-bind="item.code"></td>
                        <td ng-bind="item.specification"></td>
                        <td ng-bind="item.planStatusName"></td>
                        <td ng-bind="item.planStatusName"></td>
                        <td ng-bind="item.planStatusName"></td>
                        <td>
                            <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="open_ar_lrs(item,$index)">
                                录入
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="spotInspectionRecordAddReq.detailList.length<=0||spotInspectionRecordAddReq.detailList==null||spotInspectionRecordAddReq.detailList==undefined">
                        <td colspan="8">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="submitBtn1" style="text-align: center;padding-left: 40px;margin-bottom: 18px;">
        <button type="button" ng-click="closeAR()" value="" class="btn">确定</button>
        <button type="button" value="" class="btn" ng-click="closeAR1()">取消</button>
    </div>
</div>

<!-- 执行巡检明细（新增巡检记录2）弹出层 -->
<div class="ImportantNote addRecordPopup2">
    <div class="headline">
        <span>执行</span>
        <img ng-click="closeAR21()" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 0;width: 840px;height: auto;" class="businessAuth">
        <div class="titleDiv" id="p_t_l" style="border: none;">
            <!--<span class="tips">巡检内容</span>-->
            <p>
                <label for="AR_bh" >
                    <span style="width: 100px;text-align: right">设备编号:</span>
                    <input id="AR_bh" ng-model="spotInspectionRecordAddReq.name" disabled type="text"/>
                </label>
                <label for="AR_mc" >
                    <span style="width: 100px;text-align: right">设备名称:</span>
                    <input id="AR_mc" ng-model="spotInspectionRecordAddReq.name" disabled type="text"/>
                </label>
            </p>
            <p>
                <label for="AR_xh" >
                    <span style="width: 100px;text-align: right">规格型号:</span>
                    <input id="AR_xh" ng-model="spotInspectionRecordAddReq.name" disabled type="text"/>
                </label>
                <label for="AR_bm" >
                    <span style="width: 100px;text-align: right">使用部门:</span>
                    <input id="AR_bm" ng-model="spotInspectionRecordAddReq.name" disabled type="text"/>
                </label>
            </p>
            <p>
                <label for="AR_bz" >
                    <span style="width: 100px;text-align: right">备注:</span>
                    <textarea id="AR_bz"></textarea>
                </label>
            </p>
            <div style="padding-left: 104px;position: relative;padding-right: 5px;box-sizing: border-box;">
                <span style="margin-top: 6px;width: 100px;text-align: right;position: absolute;left: 0;top:0">巡检明细:</span>
                <table class="popup_div_table iPlan_popup_table">
                    <thead>
                    <tr>
                        <th>点检项</th>
                        <th>记录结果</th>
                        <th>是否异常</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in spotInspectionRecordAddReq.detailList" ng-if="spotInspectionRecordAddReq.detailList.length>0">
                        <td ng-bind="$index"></td>
                        <td ng-bind="item.name"></td>
                        <td ng-bind="item.code"></td>
                        <td ng-bind="item.specification"></td>
                        <td>
                            <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="open_ar_lrs2(item,$index)">
                                录入
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="spotInspectionRecordAddReq.detailList.length<=0||spotInspectionRecordAddReq.detailList==null||spotInspectionRecordAddReq.detailList==undefined">
                        <td colspan="8">暂无数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="padding-left: 104px;position: relative;padding-right: 5px;box-sizing: border-box;">
                <span style="margin-top: 6px;width: 100px;text-align: right;position: absolute;left: 0;top:0">图片上传:</span>
                <div class="choose-file-area" id="uploadFileDiv">
                    <input class="file-name" type="text" readonly="readonly" ng-model="fileItem.name"/>
                    <a href="javascript:;" class="choose-book">
                        <input type="file" name="certificate" accept="image/*" nv-file-select uploader="uploader" ng-click="clearItems()"/>浏览
                    </a>
                    <button class="uploadFileBtn" type="button" ng-click="UploadFile()">上传</button>
                </div>
            </div>
            <div style="padding-left: 104px;position: relative;padding-right: 5px;box-sizing: border-box;">
                <span style="margin-top: 6px;width: 100px;text-align: right;position: absolute;left: 0;top:0">已上传图片:</span>
                <div style="padding: 5px;box-sizing: border-box;margin-top: 10px;border: 1px solid #e6e6e6">暂无数据</div>
            </div>
        </div>
    </div>
    <div class="submitBtn1" style="text-align: center;padding-left: 40px;margin-bottom: 18px;">
        <button type="button" ng-click="closeAR2()" value="" class="btn">确定</button>
        <button type="button" value="" class="btn" ng-click="closeAR21()">取消</button>
    </div>
</div>

<!-- 执行巡检明细（新增巡检记录3）弹出层 -->
<div class="ImportantNote addRecordPopup3">
    <div class="headline">
        <span>编辑</span>
        <img ng-click="closeAR31()" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 0;width: 840px;height: auto;" class="businessAuth">
        <div class="titleDiv" id="p_t_l" style="border: none;">
            <!--<span class="tips">巡检内容</span>-->
            <p>
                <label for="AR_djx" >
                    <span style="width: 100px;text-align: right">点检项:</span>
                    <input id="AR_djx" ng-model="spotInspectionRecordAddReq.name" disabled type="text"/>
                </label>

                <label for="AR_djz" >
                    <span style="width: 100px;text-align: right">点检值:</span>
                    <select id="AR_djz" ng-model="departmentManage" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in djzLists">
                        <option value="">请选择点检值</option>
                    </select>
                </label>
            </p>
            <p>
                <label>
                    <span style="width: 100px;text-align: right">有无异常:</span>

                    <label for="yyc" style="margin-left: 45px">无异常</label>
                    <input id="yyc" type="radio" name="ywyc" style="width: auto" ng-value="1">
                    <label for="wyc" style="margin-left: 45px">有异常</label>
                    <input id="wyc" type="radio" name="ywyc" style="width: auto" ng-value="2">
                </label>
            </p>
            <p>
                <label for="AR_bz1" >
                    <span style="width: 100px;text-align: right">备注:</span>
                    <textarea id="AR_bz1"></textarea>
                </label>
            </p>
        </div>
    </div>
    <div class="submitBtn1" style="text-align: center;padding-left: 40px;margin-bottom: 18px;">
        <button type="button" ng-click="closeAR3()" value="" class="btn">确定</button>
        <button type="button" value="" class="btn" ng-click="closeAR31()">取消</button>
    </div>
</div>
