<div>
    <style>
        .ImportantNote textarea{
            font-size: 14px;
            width: 155px;
            height: 32px;
            border: 1px solid #e6e6e6;
            vertical-align: middle;
        }
    </style>
    <div class="rightinfo mainContain">
        <div class="tools">
            <ul class="toolbar">
                <li>
                    <input type="text" id="1" placeholder="请输入角色名" ng-model="QueryName"/>
                    <span><img style="width: 24px;" src="images/ico06.png" /></span>
                </li>
                <li ng-click="addRole()"><span><img src="images/t01.png" /></span>添加</li>
                <!--<li class="click"><span><img src="images/t02.png" /></span>修改</li>-->
                <!--<li><span><img src="images/t03.png" /></span>删除</li>-->
                <!--<li><span><img src="images/t04.png" /></span>统计</li>-->
            </ul>
            <!--<ul class="toolbar1">-->
            <!--<li><span><img src="images/t05.png" /></span>设置</li>-->
            <!--</ul>-->
        </div>
        <div style="padding:0;" class="queryDiv" >
            <ul>

            </ul>
        </div>
        <div class="tableListDiv data-container jurisdiction">
            <table>
                <thead>
                <tr>
                    <th style="min-width: 30px;">序号</th>
                    <th>角色名称</th>
                    <th>角色描述</th>
                    <th>添加菜单</th>
                    <th>删除菜单</th>
                    <th>删除角色</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="roleList in roleLists | filter:QueryName | orderBy:roleList.roleId">
                    <td ng-bind="$index+1"></td>
                    <td ng-bind="roleList.roleName"></td>
                    <td ng-bind="roleList.roleDescription"></td>
                    <!--<td>-->
                    <!--<a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="">-->
                    <!--<img src="image/comm/resBtnReset.png" alt="详情"/>-->
                    <!--<b class="title">详情</b>-->
                    <!--</a>-->
                    <!--</td>-->
                    <!--<td>-->
                    <!--<a href="javascript:void(0)" class="resBtn editBtn" ng-click="">-->
                    <!--<img src="image/comm/resBtnEdit.png" alt="编辑"/>-->
                    <!--<b class="title">编辑</b>-->
                    <!--</a>-->
                    <!--</td>-->
                    <td>
                        <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="addMenuRole(roleList.roleId,roleList.roleName)">
                            <img src="image/comm/resBtnEdit.png" alt="添加菜单"/>
                            <b class="title">添加菜单</b>
                        </a>
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="delMenuRole(roleList.roleId,roleList.roleName)">
                        <img src="image/comm/resBtnDelete.png" alt="删除菜单"/>
                        <b class="title">删除菜单</b>
                    </a>
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteRole(roleList.roleId,roleList.roleName)">
                        <img src="image/comm/resBtnDelete.png" alt="删除角色"/>
                        <b class="title">删除角色</b>
                    </a>
                    </td>
                </tr>
                </tbody>
                <!--<tfoot>-->
                <!--<tr>-->
                <!--<td style="text-align: center" colspan="14">-->
                <!--<tm-pagination conf="paginationConf"></tm-pagination>-->
                <!--</td>-->
                <!--</tr>-->
                <!--</tfoot>-->
            </table>
        </div>
        <div class="tip">
            <div class="tiptop"><span>提示信息</span><a></a></div>
            <div class="tipinfo">
                <span><img src="images/ticon.png" /></span>
                <div class="tipright">
                    <p>是否确认对信息的修改 ？</p>
                    <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
                </div>
            </div>

            <div class="tipbtn">
                <input name="" type="button"  class="sure" value="确定" />&nbsp;
                <input name="" type="button"  class="cancel" value="取消" />
            </div>
        </div>
    </div>
    <!--新增 企业角色 start-->
    <div class="ImportantNote addRolePop">
        <div class="headline">
            <span>添加角色</span>
            <img onClick="hideDiv('addRolePop')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
        </div>
        <div style="padding: 20px 40px 20px 0;" class="businessAuth">
            <p style="margin-bottom: 20px;">
                <label for="code" style="width:auto;">
                    <span style="width: 100px;text-align: right">角色名称:</span>
                    <input id="code" ng-model="roleName" type="text" placeholder="请输入角色名称"/>
                </label>
                <label for="email" style="width:auto;">
                    <span style="width: 100px;text-align: right">角色编码:</span>
                    <input id="email" ng-model="roleCode" type="text" placeholder="请输入角色编码"/>
                </label>
            </p>
            <p style="margin-bottom: 20px;">
                <label for="contactPhone" style="width:auto;">
                    <span style="width: 100px;text-align: right">角色描述:</span>
                    <input id="contactPhone" ng-model="roleDescription" type="text" placeholder="请输入角色描述"/>
                </label>
                <label for="fax" style="width:auto;opacity: 0">
                    <span style="width: 100px;text-align: right">传真:</span>
                    <input id="fax" ng-model="fax" type="text" placeholder="请输入传真"/>
                </label>
            </p>
            <p class="errP" ng-bind="errMessge" ng-show="isErr"></p>
            <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
                <button type="button" ng-click="addRoleSure()" value="" class="btn">保存</button>
                <button type="button" value="" class="btn" onClick="hideDiv('addRolePop')">取消</button>
            </div>
        </div>
    </div>
    <!--新增 企业角色 end-->

    <!--  为角色新增菜单-->
    <div class="ImportantNote addMenuRolePop" style="max-width: 760px;">
        <div class="headline">
            <span>{{addMenuRoleName}}添加菜单</span>
            <img onClick="hideDiv('addMenuRolePop')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
        </div>
        <div style="padding: 20px 40px 20px 0;" class="businessAuth">
            <ul class="checkBoxUl checkBoxUlRole">
                <li ng-repeat="menuRoleList in menuRoleLists" class="userRoleLi" ng-if="menuRoleList.parentId==''||menuRoleList.parentId==null||menuRoleList.parentId==undefined||menuRoleList.parentId=='-1'||menuRoleList.parentId==0">
                    <input type="checkbox" roleId="{{menuRoleList.id}}" ng-model="menuRoleList.modelN" ng-change="chengedRole(menuRoleList.id)" class="menuRoleCheckBox" id="{{menuRoleList.id}}">
                    <label for="{{menuRoleList.id}}" ng-bind="menuRoleList.name"></label>
                </li>
                <p style="margin-bottom: 20px;">
                    <label for="remark" style="width:auto;">
                        <span style="width: 100px;text-align: right">备注:</span>
                        <textarea style="width: 417px;height: 80px;" id="remark" ng-model="remark" placeholder="请输入备注"></textarea>
                    </label>
                </p>
            </ul>
            <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
                <button type="button" ng-click="addMenuRoleSure()" value="" class="btn">保存</button>
                <button type="button" value="" class="btn" onClick="hideDiv('addMenuRolePop')">取消</button>
            </div>
        </div>
    </div>

    <!--  为角色删除菜单-->
    <div class="ImportantNote delMenuRolePop" style="max-width: 760px;min-width: 450px">
        <div class="headline">
            <span>{{delMenuRoleName}}删除菜单</span>
            <img onClick="hideDiv('delMenuRolePop')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
        </div>
        <div style="padding: 20px 40px 20px 0;" class="businessAuth"><div style="padding-left: 36px;box-sizing: border-box;text-align: center" ng-if="delmenuRoleLists.length<=0||delmenuRoleLists==undefined||delmenuRoleLists==null">该角色暂无菜单</div>
            <ul class="checkBoxUl checkBoxUlRole" ng-if="delmenuRoleLists.length>0">
                <!--<li ng-repeat="menuRoleList in delmenuRoleLists" class="userRoleLi">-->
                    <!--<input type="checkbox" roleId="{{menuRoleList.id}}" id="{{menuRoleList.id}}" class="delmenuRoleCheckBox">-->
                    <!--<label for="{{menuRoleList.id}}" ng-bind="menuRoleList.name"></label>-->
                <!--</li>-->
                <li ng-repeat="menuRoleList in delmenuRoleLists" class="userRoleLi" ng-if="menuRoleList.parentId==''||menuRoleList.parentId==null||menuRoleList.parentId==undefined||menuRoleList.parentId=='-1'||menuRoleList.parentId==0">
                    <input type="checkbox" roleId="{{menuRoleList.id}}" ng-model="menuRoleList.modelN" ng-change="chengedRoleDel(menuRoleList.id)" class="delmenuRoleCheckBox" id="{{menuRoleList.id}}">
                    <label for="{{menuRoleList.id}}" ng-bind="menuRoleList.name"></label>
                </li>
            </ul>
            <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
                <button type="button" ng-click="delMenuRoleSure()" value="" class="btn" ng-if="delmenuRoleLists.length>0">保存</button>
                <button type="button" value="" class="btn" onClick="hideDiv('delMenuRolePop')">取消</button>
            </div>
        </div>
    </div>

    <!--保存成功start-->
    <div class="ImportantNote SaveSuccess">
        <div class="headline">
            <span>重要提示</span>
            <img ng-click="reload()" onClick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
        </div>
        <div class="businessAuth">
            <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>
            <div class="submitBtn1" style="text-align: right;">
                <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
            </div>
        </div>
    </div>
    <!--保存成功end-->
    <!--单个删除弹出框start-->
    <div class="ImportantNote deleteRolePop">
        <div class="headline">
            <span>删除企业角色</span>
            <img onClick="hideDiv('deleteRolePop')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
        </div>
        <div class="businessAuth">
            <p><img src="image/comm/attentionPlease.png" alt="注意："/>确认删除 <span style="color: #ff0000;">{{deleteName}}</span> 该角色？</p>
            <div class="submitBtn1" style="text-align: center;">
                <input type="button" value="删除"  class="btn" ng-click="deleteRoleSure()"/>
                <input type="button" value="取消" class="btn" onClick="hideDiv('deleteRolePop')">
            </div>
        </div>
    </div>
    <!--单个删除弹出框end-->
    <script type="text/javascript">
        $(document).ready(function(){
            $(".click").click(function(){
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function(){
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function(){
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function(){
                $(".tip").fadeOut(100);
            });

        });
    </script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>

</div>