<!-- 巡检记录 -->
<style>
    .ImportantNote textarea{
        font-size: 14px;
        width: 155px;
        height: 32px;
        border: 1px solid #e6e6e6;
        vertical-align: middle;
    }
    .mainContain .tableListDiv tr td{
        font-size: 12px;
    }
    .mainContain .tableListDiv tr th{
        font-size: 12px;
    }
</style>
<div class="rightinfo mainContain" id="mainContain1">
    <div style="padding: 0;width: 100%" class="queryDiv" >
        <ul>
            <li>
                <label for="departmentManage" >
                    <span style="width: 100px;text-align: right">部门:</span>
                    <select id="departmentManage" ng-model="departmentManage" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in departmentManageLists">
                        <option value="">请选择部门</option>
                    </select>
                </label>
                <label for="xjsj" >
                    <!--<span style="width: 100px;text-align: right">状态:</span>-->
                    <select id="xjsj" ng-model="xjsj" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in xjsjLists">
                        <option value="">全部</option>
                    </select>
                </label>
                <label for="xjlx" >
                    <!--<span style="width: 100px;text-align: right">名称:</span>-->
                    <select id="xjlx" ng-model="xjlx" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in xjlxLists">
                        <option value="">全部</option>
                    </select>
                </label>
                <label>
                    <button style="margin-left: 10px;" class="btn" ng-click="onQuery()">查询</button>
                </label>
            </li>
        </ul>
    </div>
    <div style="max-height: 400px;overflow: auto;" class="tableListDiv data-container jurisdiction" id="deviceAddressPop">
        <table>
            <thead>
            <tr>
                <th style="text-align: left;padding-left: 20px" colspan="12">巡检记录</th>
            </tr>
            <tr>
                <th style="min-width:50px;">全选<input style="vertical-align: middle;margin-left: 5px" type="checkbox" value="1" onclick="selAll(this)" id="allSelected"/></th>
                <th>序号</th>
                <th>巡检名称</th>
                <th>计划时间</th>
                <th>巡检时间</th>
                <th>延误情况</th>
                <th>周期</th>
                <th>巡检人</th>
                <th>发现异常数</th>
                <th>漏检数</th>
                <th>异常处理情况</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="apply_infos_table">
            <tr ng-repeat="orderDetail in spotInspectionRecordLists" ng-if="spotInspectionRecordLists.length>0" class="prossTr" ng-click="changeDetail(orderDetail.id,$event)">
                <td class="firstTd">{{$index+1}}<input style="margin-left: 5px;vertical-align: middle;" class="SISListsInput" type="checkbox" name="che"  value="{{orderDetail.id}}" ng-click="stopUp($event)"/></td>
                <td>{{$index+1}}</td>
                <td>{{orderDetail.expiredStatus==1?'未过期':'过期'||'--'}}</td>
                <td>{{orderDetail.name||'--'}}</td>
                <td>{{orderDetail.departmentName||'--'}}</td>
                <td>{{orderDetail.lastExecuteTime||'--'}}</td>
                <td>{{orderDetail.nextExecuteTime||'--'}}</td>
                <td>{{orderDetail.recyclePeroid||'--'}}</td>
                <td>{{orderDetail.executorsName||'--'}}</td>
                <td>{{orderDetail.executorsName||'--'}}</td>
                <td>{{orderDetail.deviceCount||'--'}}</td>
                <td>
                    <a href="javascript:void(0)" class="resBtn editBtn" ng-click="openIPlan_detail(1,orderDetail,$event)">
                        编辑
                    </a>
                    <a href="javascript:void(0)" class="resBtn editBtn" ng-click="openIPlan_detail(2,orderDetail,$event)">
                        详情
                    </a>
                    <!--<a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteContactCompanyBalance(orderDetail)">-->
                    <!--<img src="image/comm/resBtnDelete.png" alt="删除"/>-->
                    <!--<b class="title">删除</b>-->
                    <!--</a>-->
                </td>
            </tr>
            <tr ng-if="spotInspectionRecordLists.length<=0">
                <td colspan="15">暂无数据</td>
            </tr>
            </tbody>
            <tfoot ng-if="spotInspectionRecordLists.length>0">
            <tr>
                <td>
                    <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteSISBalance()">
                        <img src="image/comm/resBtnDelete.png" alt="删除"/>
                        <b class="title">删除</b>
                    </a>
                </td>
                <td style="text-align: center" colspan="17"><tm-pagination conf="paginationConf"></tm-pagination></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- 巡检明细表格 -->
<div class="rightinfo mainContain" style="margin-top: -50px;">
    <div class="tableListDiv" style="margin-bottom: 0">
        <table>
            <thead>
            <tr>
                <th style="text-align: left;padding-left: 20px" colspan="9">巡检明细</th>
            </tr>
            <tr>
                <th>序号</th>
                <th>执行顺序</th>
                <th>巡检项</th>
                <th>漏检</th>
                <th>异常项</th>
                <th>备注</th>
                <th>设备编号</th>
                <th>设备名称</th>
                <th>设备型号</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="orderDetail in changeDetailLists" ng-if="spotInspectionStandardLists.length>0">
                <td>{{$index+1}}</td>
                <td>{{orderDetail.name||'--'}}</td>
                <td>{{orderDetail.recordTypeName||'--'}}</td>
                <td>{{orderDetail.inputLimitValue.join(',')||'--'}}</td>
                <td>{{orderDetail.lowerLimit||'--'}}</td>
                <td>{{orderDetail.upperLimit||'--'}}</td>
                <td>{{orderDetail.upperLimit||'--'}}</td>
                <td>{{orderDetail.upperLimit||'--'}}</td>
                <td>{{orderDetail.upperLimit||'--'}}</td>
            </tr>
            <tr ng-if="changeDetailLists.length<=0">
                <td colspan="9">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!--保存成功start-->
<div class="ImportantNote SaveSuccess">
    <div class="headline">
        <span>重要提示</span>
        <img onClick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>
        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--保存成功end-->
<!--单个删除弹出框start-->
<div class="ImportantNote deleteSISPop">
    <div class="headline">
        <span>删除巡检标准</span>
        <img onClick="hideDiv('deleteSISPop')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/>确认删除选中的巡检标准？</p>
        <div class="submitBtn1" style="text-align: center;">
            <input type="button" value="删除"  class="btn" ng-click="deleteSISPopSure()"/>
            <input type="button" value="取消" class="btn" onClick="hideDiv('deleteSISPop')">
        </div>
    </div>
</div>
<!--单个删除弹出框end-->