<style>
    .isbrush{
        display: none;
    }
</style>
<div id="bg1"></div>
<!--top 导航 start-->
<div style="height: 88px;background:url(images/topbg.gif) repeat-x;">
    <div class="topleft">
        <a href="#/main/home" ui-sref="main.home"><img src="images/logo.png" title="系统首页" /></a>
    </div>

    <ul class="nav">
        <li ng-repeat="item in publicMenu">
            <!--<a ng-if="item.url=='home'" ng-class="{selected:  item.url== topMenuLi}" ng-href="{{'#/main/'+item.url}}" ui-sref="{{'main.'+item.url}}"><img ng-src="{{'images/'+item.url+'.png'}}" title="{{item.name}}" /><h2>{{item.name}}</h2></a>-->
            <a ng-class="{selected:  item.twoMenu[0].url== topMenuLi}" ng-href="{{'#/main/'+item.twoMenu[0].url}}" ui-sref="{{'main.'+item.twoMenu[0].url}}"><img ng-src="{{'images/'+item.url+'.png'}}" title="{{item.name}}" /><h2>{{item.name}}</h2></a>
        </li>

        <!--<li><a href="#/main/home" ui-sref="main.home" class="selected"><img src="images/home.png" title="首页" /><h2>首页</h2></a></li>-->
        <!--<li><a href="#/main/deviceManage" ui-sref="main.deviceManage"><img src="images/deviceManage.png" title="设备管理" /><h2>设备管理</h2></a></li>-->
        <!--<li><a href="#/main/sparePartsManage"  ui-sref="main.sparePartsManage"><img src="images/sparePartsManage.png" title="备件仓库" /><h2>备件仓库</h2></a></li>-->
        <!--&lt;!&ndash;<li><a href="#/main/modelToolsManage"  ui-sref="main.modelToolsManage"><img src="images/sparePartsManage.png" title="工装模具" /><h2>工装模具</h2></a></li>&ndash;&gt;-->
        <!--<li><a href="#/main/userManagements" ui-sref="main.userManagements"><img src="images/userManagements.png" title="用户管理" /><h2>用户管理</h2></a></li>-->
        <!--<li><a href="#/main/departmentManage"  ui-sref="main.departmentManage"><img src="images/departmentManage.png" title="参数设置" /><h2>参数设置</h2></a></li>-->



        <!--<li><a href="tab.html"  target="rightFrame"><img src="images/home.png" title="点巡检" /><h2>点巡检</h2></a></li>-->
        <!--<li><a href="tab.html"  target="rightFrame"><img src="images/deviceManage.png" title="导入" /><h2>导入</h2></a></li>-->
        <!--<li><a href="tab.html"  target="rightFrame"><img src="images/sparePartsManage.png" title="导入" /><h2>查看提醒</h2></a></li>-->
    </ul>

    <div class="topright">
        <ul>
            <li><span><img src="images/help.png" title="帮助"  class="helpimg"/></span><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
            <li><a ng-click="onLogout()" href="javascript:void(0)">退出</a></li>
        </ul>

        <div class="user">
            <span>{{username}}</span>
            <i>消息</i>
            <b>5</b>
        </div>

    </div>
</div>
<!--top 导航 end-->