<style>
    .isbrush{
        display: none;
    }
</style>
<div id="bg1"></div>
<!--top 导航 start-->
<div style="height: 88px;background:url(images/topbg.gif) repeat-x;">
    <div class="topleft">
        <a href="#/main/home" ui-sref="main.home">
            <p>山西华圣铝业有限公司</p>
            <span>设备管理系统</span>
        </a>
    </div>

    <ul class="nav">
        <li ng-repeat="item in publicMenu">
            <a ng-if="item.url=='home'" ng-class="{selected:  item.url== topMenuLi}" ng-href="{{'#/main/'+item.url}}" ui-sref="{{'main.'+item.url}}"><img ng-src="{{'images/'+item.url+'.png'}}" title="{{item.name}}" /><h2>{{item.name}}</h2></a>
            <a ng-if="item.url!='home'" ng-class="{selected:  item.twoMenu[0].url== topMenuLi}" ng-href="{{'#/main/'+item.twoMenu[0].url}}" ui-sref="{{'main.'+item.twoMenu[0].url}}"><img ng-src="{{'images/'+item.url+'.png'}}" title="{{item.name}}" /><h2>{{item.name}}</h2></a>
        </li>

        <!--<li><a href="#/main/home" ui-sref="main.home" class="selected"><img src="images/home.png" title="首页" /><h2>首页</h2></a></li>-->
        <!--<li><a href="#/main/deviceManage" ui-sref="main.deviceManage"><img src="images/deviceManage.png" title="设备管理" /><h2>设备管理</h2></a></li>-->
        <!--<li><a href="#/main/sparePartsManage"  ui-sref="main.sparePartsManage"><img src="images/sparePartsManage.png" title="备件仓库" /><h2>备件仓库</h2></a></li>-->
        <!--&lt;!&ndash;<li><a href="#/main/modelToolsManage"  ui-sref="main.modelToolsManage"><img src="images/sparePartsManage.png" title="工装模具" /><h2>工装模具</h2></a></li>&ndash;&gt;-->
        <!--<li><a href="#/main/userManagements" ui-sref="main.userManagements"><img src="images/userManagements.png" title="用户管理" /><h2>用户管理</h2></a></li>-->
        <!--<li><a href="#/main/departmentManage"  ui-sref="main.departmentManage"><img src="images/departmentManage.png" title="参数设置" /><h2>参数设置</h2></a></li>-->



        <!--<li><a href="tab.html"  target="rightFrame"><img src="images/home.png" title="点巡检" /><h2>点巡检</h2></a></li>-->
        <!--<li><a href="tab.html"  target="rightFrame"><img src="images/deviceManage.png" title="导入" /><h2>导入</h2></a></li>-->
        <!--<li><a href="tab.html"  target="rightFrame"><img src="images/sparePartsManage.png" title="导入" /><h2>查看提醒</h2></a></li>-->
    </ul>

    <div class="topright">
        <ul>
            <li><span><img src="images/help.png" title="帮助"  class="helpimg"/></span><a href="#">帮助</a></li>
            <li><a ng-click="updatePasswordClick()" href="javascript:void(0)">修改密码</a></li>
            <li><a ng-click="onLogoutNew()" href="javascript:void(0)">退出</a></li>
        </ul>

        <div class="user">
            <span>{{username}}</span>
            <i>消息</i>
            <b>5</b>
        </div>

    </div>
</div>
<!--top 导航 end-->
<style>
    .updatePassword input{
        width: 150px;
        font-size: 12px !important;
        border: 1px solid #e6e6e6;
    }
    .updatePassword .businessAuth p{
        margin-bottom: 20px;
    }
    .updatePassword .businessAuth p span{
        width: 60px;
        text-align: right;
        display: inline-block;
        font-size: 12px;
    }
</style>
<!--修改密码弹出框 start-->
<div style="width: 500px;max-height: 300px !important;overflow: inherit" class="ImportantNote updatePassword">
    <div class="headline">
        <span>修改密码</span>
        <img onclick="hideDiv('updatePassword')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p>
            <label for="oldPassword">
                <span>原密码</span>
                <input id="oldPassword" ng-model="oldPassword" type="password" placeholder="请输入原密码">
            </label>
        </p>
        <p>
            <label for="newPassword">
                <span>新密码</span>
                <input id="newPassword" ng-model="newPassword" type="password" placeholder="请输入新密码">
            </label>
        </p>
        <p>
            <label for="newPasswordSure">
                <span>重复密码</span>
                <input id="newPasswordSure" ng-model="newPasswordSure" type="password" placeholder="请再次输入新密码">
            </label>
        </p>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="updatePasswordSure()" value="" class="btn">确定</button>
            <button type="button" value="" class="btn" onclick="hideDiv('updatePassword')">取消</button>
        </div>
    </div>
</div>
<!--修改密码弹出框 end-->
<!--保存成功start-->
<div class="ImportantNote SaveSuccess">
    <div class="headline">
        <span>重要提示</span>
        <img onClick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>
        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--保存成功end-->