<style>
    .ImportantNote textarea{
        font-size: 14px;
        width: 155px;
        height: 32px;
        border: 1px solid #e6e6e6;
        vertical-align: middle;
    }
</style>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">数据表</a></li>
        <li><a href="#">基本内容</a></li>
    </ul>
</div>
<div class="rightinfo mainContain">
    <div class="tools">
        <ul class="toolbar">
            <li>
                <input type="text" id="1" placeholder="请输入往来单位名称" ng-model="QueryName"/>
                <span><img style="width: 24px;" src="images/ico06.png" /></span>
            </li>
            <li ng-click="addContactCompany()"><span><img src="images/t01.png" /></span>添加</li>
            <!--<li class="click"><span><img src="images/t02.png" /></span>修改</li>-->
            <!--<li><span><img src="images/t03.png" /></span>删除</li>-->
            <!--<li><span><img src="images/t04.png" /></span>统计</li>-->
        </ul>
        <!--<ul class="toolbar1">-->
            <!--<li><span><img src="images/t05.png" /></span>设置</li>-->
        <!--</ul>-->
    </div>
    <div style="padding:0;" class="queryDiv" >
        <ul>

        </ul>
    </div>
    <div class="tableListDiv data-container jurisdiction">
        <table>
            <thead>
            <tr>
                <th style="min-width: 30px;">序号</th>
                <th>单位名称</th>
                <th>单位编码</th>
                <th>默认联系人</th>
                <th>联系电话</th>
                <th>传真</th>
                <th>地址</th>
                <th>邮编</th>
                <th>电子邮件</th>
                <th>网址</th>
                <th>税务登记号</th>
                <th>开户行</th>
                <th>开户行账号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="orderDetail in orderList | filter:QueryName | orderBy:orderDetail.orderNumber">
                <td class="firstTd">{{$index+1}}</td>
                <td>{{orderDetail.name||'--'}}</td>
                <td>{{orderDetail.code||'--'}}</td>
                <td>{{orderDetail.contactName||'--'}}</td>
                <td>{{orderDetail.contactPhone||'--'}}</td>
                <td>{{orderDetail.fax||'--'}}</td>
                <td>{{orderDetail.address||'--'}}</td>
                <td>{{orderDetail.zipCode||'--'}}</td>
                <td>{{orderDetail.email||'--'}}</td>
                <td>{{orderDetail.webSite||'--'}}</td>
                <td>{{orderDetail.taxNumber||'--'}}</td>
                <td>{{orderDetail.bankName||'--'}}</td>
                <td>{{orderDetail.bankNumber||'--'}}</td>
                <td>
                    <a href="javascript:void(0)" class="resBtn editBtn" ng-click="editContactCompanyBalance(orderDetail)">
                        <img src="image/comm/resBtnEdit.png" alt="编辑"/>
                        <b class="title">编辑</b>
                    </a>
                    <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteContactCompanyBalance(orderDetail)">
                        <img src="image/comm/resBtnDelete.png" alt="删除"/>
                        <b class="title">删除</b>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td style="text-align: center" colspan="14"><tm-pagination conf="paginationConf"></tm-pagination></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="tip">
        <div class="tiptop"><span>提示信息</span><a></a></div>
        <div class="tipinfo">
            <span><img src="images/ticon.png" /></span>
            <div class="tipright">
                <p>是否确认对信息的修改 ？</p>
                <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
        </div>

        <div class="tipbtn">
            <input name="" type="button"  class="sure" value="确定" />&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
        </div>
    </div>
</div>
<!--新增 往来单位 start-->
<div class="ImportantNote addContactBalance">
    <div class="headline">
        <span>添加往来单位</span>
        <img onClick="hideDiv('addContactBalance')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 20px 40px 20px 0;" class="businessAuth">
        <p style="margin-bottom: 20px;">
            <label for="name" style="width:auto;">
                <span style="width: 100px;text-align: right">单位名称:</span>
                <input id="name" ng-model="name" type="text" placeholder="请输入单位名称"/>
            </label>
            <label for="name1" style="width:auto;opacity: 0">
                <span style="width: 100px;text-align: right">单位名称:</span>
                <input id="name1" ng-model="name1" type="text" placeholder="请输入单位名称"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="code" style="width:auto;">
                <span style="width: 100px;text-align: right">单位编码:</span>
                <input id="code" ng-model="code" type="text" placeholder="请输入单位编码"/>
            </label>
            <label for="contactName" style="width:auto;">
                <span style="width: 100px;text-align: right">默认联系人:</span>
                <input id="contactName" ng-model="contactName" type="text" placeholder="请输入默认联系人"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="contactPhone" style="width:auto;">
                <span style="width: 100px;text-align: right">联系电话:</span>
                <input id="contactPhone" ng-model="contactPhone" type="text" placeholder="请输入联系电话"/>
            </label>
            <label for="fax" style="width:auto;">
                <span style="width: 100px;text-align: right">传真:</span>
                <input id="fax" ng-model="fax" type="text" placeholder="请输入传真"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="taxNumber" style="width:auto;">
                <span style="width: 100px;text-align: right">税号:</span>
                <input id="taxNumber" ng-model="taxNumber" type="text" placeholder="请输入税号"/>
            </label>
            <label for="email" style="width:auto;">
                <span style="width: 100px;text-align: right">电子邮箱:</span>
                <input id="email" ng-model="email" type="text" placeholder="请输入电子邮箱"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="address" style="width:auto;">
                <span style="width: 100px;text-align: right">地址:</span>
                <input id="address" ng-model="address" type="text" placeholder="请输入地址"/>
            </label>
            <label for="zipCode" style="width:auto;">
                <span style="width: 100px;text-align: right">邮编:</span>
                <input id="zipCode" ng-model="zipCode" type="text" placeholder="请输入邮编"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="bankName" style="width:auto;">
                <span style="width: 100px;text-align: right">开户银行:</span>
                <input id="bankName" ng-model="bankName" type="text" placeholder="请输入开户银行"/>
            </label>
            <label for="bankNumber" style="width:auto;">
                <span style="width: 100px;text-align: right">账户:</span>
                <input id="bankNumber" ng-model="bankNumber" type="text" placeholder="请输入账户"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="webSite" style="width:auto;">
                <span style="width: 100px;text-align: right">网址:</span>
                <input style="width: 417px;" id="webSite" ng-model="webSite" type="text" placeholder="请输入网址"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="remark" style="width:auto;">
                <span style="width: 100px;text-align: right">备注:</span>
                <textarea style="width: 417px;height: 80px;" id="remark" ng-model="remark" placeholder="请输入备注"></textarea>
            </label>
        </p>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="addContactSure()" value="" class="btn">保存</button>
            <button type="button" value="" class="btn" onClick="hideDiv('addContactBalance')">取消</button>
        </div>
    </div>
</div>
<!--新增 往来单位 end-->

<!--编辑 往来单位 start-->
<div class="ImportantNote editContactBalance">
    <div class="headline">
        <span>查看编辑往来单位</span>
        <img onClick="hideDiv('editContactBalance')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 20px 40px 20px 0;" class="businessAuth">
        <p style="margin-bottom: 20px;">
            <label for="editName" style="width:auto;">
                <span style="width: 100px;text-align: right">单位名称:</span>
                <input id="editName" ng-model="editName" type="text" placeholder="请输入单位名称"/>
            </label>
            <label for="name1" style="width:auto;opacity: 0">
                <span style="width: 100px;text-align: right">单位名称:</span>
                <input id="editname1" ng-model="name1" type="text" placeholder="请输入单位名称"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="editCode" style="width:auto;">
                <span style="width: 100px;text-align: right">单位编码:</span>
                <input id="editCode" ng-model="editCode" type="text" placeholder="请输入单位编码"/>
            </label>
            <label for="editContactName" style="width:auto;">
                <span style="width: 100px;text-align: right">默认联系人:</span>
                <input id="editContactName" ng-model="editContactName" type="text" placeholder="请输入默认联系人"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="editContactPhone" style="width:auto;">
                <span style="width: 100px;text-align: right">联系电话:</span>
                <input id="editContactPhone" ng-model="editContactPhone" type="text" placeholder="请输入联系电话"/>
            </label>
            <label for="editFax" style="width:auto;">
                <span style="width: 100px;text-align: right">传真:</span>
                <input id="editFax" ng-model="editFax" type="text" placeholder="请输入传真"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="editTaxNumber" style="width:auto;">
                <span style="width: 100px;text-align: right">税号:</span>
                <input id="editTaxNumber" ng-model="editTaxNumber" type="text" placeholder="请输入税号"/>
            </label>
            <label for="editEmail" style="width:auto;">
                <span style="width: 100px;text-align: right">电子邮箱:</span>
                <input id="editEmail" ng-model="editEmail" type="text" placeholder="请输入电子邮箱"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="editAddress" style="width:auto;">
                <span style="width: 100px;text-align: right">地址:</span>
                <input id="editAddress" ng-model="editAddress" type="text" placeholder="请输入地址"/>
            </label>
            <label for="editZipCode" style="width:auto;">
                <span style="width: 100px;text-align: right">邮编:</span>
                <input id="editZipCode" ng-model="editZipCode" type="text" placeholder="请输入邮编"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="editBankName" style="width:auto;">
                <span style="width: 100px;text-align: right">开户银行:</span>
                <input id="editBankName" ng-model="editBankName" type="text" placeholder="请输入开户银行"/>
            </label>
            <label for="editBankNumber" style="width:auto;">
                <span style="width: 100px;text-align: right">账户:</span>
                <input id="editBankNumber" ng-model="editBankNumber" type="text" placeholder="请输入账户"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="editWebSite" style="width:auto;">
                <span style="width: 100px;text-align: right">网址:</span>
                <input style="width: 417px;" id="editWebSite" ng-model="editWebSite" type="text" placeholder="请输入网址"/>
            </label>
        </p>
        <p style="margin-bottom: 20px;">
            <label for="editRemark" style="width:auto;">
                <span style="width: 100px;text-align: right">备注:</span>
                <textarea style="width: 417px;height: 80px;" id="editRemark" ng-model="editRemark" placeholder="请输入备注"></textarea>
            </label>
        </p>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="editContactSure()" value="" class="btn">保存</button>
            <button type="button" value="" class="btn" onClick="hideDiv('editContactBalance')">取消</button>
        </div>
    </div>
</div>
<!--编辑 往来单位 end-->
<!--保存成功start-->
<div class="ImportantNote SaveSuccess">
    <div class="headline">
        <span>重要提示</span>
        <img ng-click="reload()" onClick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>
        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--保存成功end-->
<!--单个删除弹出框start-->
<div class="ImportantNote deleteContactCompany">
    <div class="headline">
        <span>删除往来单位</span>
        <img onClick="hideDiv('deleteContactCompany')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/>确认删除 <span style="color: #ff0000;">{{companyName}}</span> 该单位？</p>
        <div class="submitBtn1" style="text-align: center;">
            <input type="button" value="删除"  class="btn" ng-click="deleteContactCompanySure()"/>
            <input type="button" value="取消" class="btn" onClick="hideDiv('deleteContactCompany')">
        </div>
    </div>
</div>
<!--单个删除弹出框end-->
    <script type="text/javascript">
        $(document).ready(function(){
            $(".click").click(function(){
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function(){
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function(){
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function(){
                $(".tip").fadeOut(100);
            });

        });
    </script>
    <script type="text/javascript">
	    $('.tablelist tbody tr:odd').addClass('odd');
	</script>
