<style>
    .ImportantNote textarea{
        font-size: 14px;
        width: 155px;
        height: 32px;
        border: 1px solid #e6e6e6;
        vertical-align: middle;
    }
    .mainContain .tableListDiv tr td{
        font-size: 12px;
    }
    .mainContain .tableListDiv tr th{
        font-size: 12px;
    }
    .ImportantNote input[type='text']{
        width: 133px;
    }
    .ImportantNote input[type='date']{
        width: 133px;
    }
    .ImportantNote .titleDiv p textarea{
        width: 612px;
    }
    .mainContain .tableListDiv{
        margin-bottom: 0;
    }
    .ImportantNote .titleDiv p select{
        width: 135px;
    }
</style>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">设备管理</a></li>
        <li><a href="#">设备台账</a></li>
    </ul>
</div>
<div class="rightinfo mainContain">
    <div style="padding: 0;width: 100%" class="queryDiv" >
        <ul>
            <li>
                <label style="margin-left: 10px" for="useDeptQuery">
                    <span style="width: auto">使用部门：</span>
                    <select id="useDeptQuery" ng-model="useDeptQuery" ng-options="departmentListDetail.id as departmentListDetail.name for departmentListDetail in departmentList">
                        <option value="">选择使用部门</option>
                    </select>
                </label>
                <label for="deviceTypeQuery">
                    <span style="width: auto">设备类型：</span>
                    <select ng-model="deviceTypeQuery" name="" id="deviceTypeQuery" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in deviceTypeList">
                        <option value="">选择设备类型</option>
                    </select>
                </label>
                <label for="useStatusQuery">
                    <span style="width: auto">使用状态：</span>
                    <select ng-model="useStatusQuery" name="" id="useStatusQuery" ng-options="useStatusDetail.id as useStatusDetail.name for useStatusDetail in useStatusList">
                        <option value="">选择使用状态</option>
                        <option value="1">有</option>
                        <option value="0">无</option>
                    </select>
                </label>
                <label for="deviceFlagQuery">
                    <span style="width: auto">设备标志：</span>
                    <select ng-model="deviceFlagQuery" name="" id="deviceFlagQuery" ng-options="deviceFlagDetail.name as deviceFlagDetail.name for deviceFlagDetail in deviceFlag">
                        <option value="">选择设备标志</option>
                    </select>
                </label>
                <label>
                    <button style="margin:10px 0 0 10px;" class="btn" ng-click="onQuery()">查询</button>
                    <button id="search_btn" style="margin:10px 0 0 10px;" class="btn" ng-click="addContactCompany()">添加</button>
                </label>
            </li>
        </ul>
    </div>
    <div style="padding-left: 10px;display: none" class="tools">
        <ul class="toolbar">
            <li>
                <span><img style="width: 24px;" src="images/ico06.png" /></span>查询
            </li>
            <li ng-click="addContactCompany()"><span><img src="images/t01.png" /></span>添加</li>
            <!--<li class="click"><span><img src="images/t02.png" /></span>修改</li>-->
            <!--<li><span><img src="images/t03.png" /></span>删除</li>-->
            <!--<li><span><img src="images/t04.png" /></span>统计</li>-->
        </ul>
        <!--<ul class="toolbar1">-->
            <!--<li><span><img src="images/t05.png" /></span>设置</li>-->
        <!--</ul>-->
    </div>
    <div style="max-height: 400px;overflow: auto;" class="tableListDiv data-container jurisdiction">
        <table>
            <thead>
            <tr>
                <th style="text-align: left" colspan="17">设备列表</th>
            </tr>
            <tr>
                <th style="min-width:50px;">全选<input style="vertical-align: middle;margin-left: 5px" type="checkbox" value="1" onclick="selAll(this)" id="allSelected"/></th>
                <!--<th>设备编号</th>-->
                <th>设备名称</th>
                <th>使用部门</th>
                <th>规格型号</th>
                <th>安装地点</th>
                <th>操作人员</th>
                <th>使用情况</th>
                <th>购买时间</th>
                <th>资产负责人</th>
                <th>设备类别</th>
                <th>供应商</th>
                <th>生产厂商</th>
                <th>设备标记</th>
                <th>资产原值</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="apply_infos_table">
            <tr ng-click="deviceTroubleRecord($event,orderDetail)" data-appid = "{{orderDetail.id}}" ng-class="{'':dataAudit=='','bg-gray':orderDetail.id == dataAudit}"  ng-repeat="orderDetail in deviceListInfos">
                <td class="firstTd">{{$index+1}}<input style="margin-left: 5px;vertical-align: middle;" type="checkbox" name="che"  value="{{orderDetail.id}}"/></td>
                <!--<td>{{orderDetail.code||'--'}}</td>-->
                <td>{{orderDetail.name||'--'}}</td>
                <td>{{orderDetail.useDept||'--'}}</td>
                <td>{{orderDetail.specification||'--'}}</td>
                <td>{{orderDetail.installationAddress||'--'}}</td>
                <td>{{orderDetail.operator||'--'}}</td>
                <td>{{orderDetail.useStatus||'--'}}</td>
                <td>{{orderDetail.buyDate|date:'yyyy-MM-dd'||'--'}}</td>
                <td>{{orderDetail.head||'--'}}</td>
                <td>{{orderDetail.deviceType||'--'}}</td>
                <td>{{orderDetail.supplier||'--'}}</td>
                <td>{{orderDetail.manufacturer||'--'}}</td>
                <td>{{orderDetail.deviceFlag||'--'}}</td>
                <td>{{orderDetail.sourcePrice||'--'}}</td>
                <td>{{orderDetail.remark||'--'}}</td>
                <td>
                    <a href="javascript:void(0)" class="resBtn editBtn" ng-click="editContactCompanyBalance(orderDetail)">
                        <img src="image/comm/resBtnEdit.png" alt="编辑"/>
                        <b class="title">编辑</b>
                    </a>
                    <!--<a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteContactCompanyBalance(orderDetail)">-->
                        <!--<img src="image/comm/resBtnDelete.png" alt="删除"/>-->
                        <!--<b class="title">删除</b>-->
                    <!--</a>-->
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteContactCompanyBalance(orderDetail)">
                            <img src="image/comm/resBtnDelete.png" alt="删除"/>
                            <b class="title">删除</b>
                        </a>
                    </td>
                    <td style="text-align: center" colspan="17"><tm-pagination conf="paginationConf"></tm-pagination></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="tip">
        <div class="tiptop"><span>提示信息</span><a></a></div>
        <div class="tipinfo">
            <span><img src="images/ticon.png" /></span>
            <div class="tipright">
                <p>是否确认对信息的修改 ？</p>
                <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
        </div>

        <div class="tipbtn">
            <input name="" type="button"  class="sure" value="确定" />&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
        </div>
    </div>

    <!--故障报修相关 start-->
    <div id="tabWarp">
        <div id="tabMenu">
            <ul>
                 <li class="curent">故障报修</li>
                 <li>维修计划</li>
                 <li>保养计划</li>
                 <li>维修记录</li>
                 <li>保养记录</li>
                 <li>配件更换记录</li>
                 <li>关联备件</li>
                 <li>关联文档</li>
                 <li>设备图片</li>
                 <li>自定义选项</li>
                 <li>扩展技术参数</li>
                 <li>设备生命期</li>
            </ul>
        </div>
        <div id="tabContent">
            <div style="max-height: 400px;overflow: auto;" class="tableListDiv">
                <table>
                    <thead>
                    <tr>
                        <th style="text-align: left" colspan="17">
                            <a ng-click="addTroubleRecord()" href="javascript:void(0)" class="smallButton">故障提出</a>
                            <a ng-click="dealTroubleRecord()" href="javascript:void(0)" class="smallButton">故障处理</a>
                            <a ng-click="deleteTroubleRecord()" href="javascript:void(0)" class="smallButton">故障删除</a>
                            <a ng-click="importTroubleRecord()" href="javascript:void(0)" class="smallButton">导出EXCEL</a>
                        </th>
                    </tr>
                    <tr>
                        <th style="min-width:50px;">全选<input style="vertical-align: middle;margin-left: 5px" type="checkbox" value="1" onclick="selAll1(this)" id="allSelected"/></th>
                        <!--<th>设备编号</th>-->
                        <th>故障状态</th>
                        <th>发现时间</th>
                        <th>记录时间</th>
                        <th>故障等级</th>
                        <th>故障描述</th>
                        <th>记录人</th>
                        <th>维修班组</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="orderDetail in troubleRecordList">
                        <td class="firstTd">{{$index+1}}<input style="margin-left: 5px;vertical-align: middle;" type="checkbox" name="che1"  value="{{orderDetail.id}}"/></td>
                        <td>{{orderDetail.status||'--'}}</td>
                        <td>{{orderDetail.happenTime||'--'|date:'yyyy-MM-dd'}}</td>
                        <td>{{orderDetail.createTime||'--'|date:'yyyy-MM-dd'}}</td>
                        <td>{{orderDetail.troubleLevel||'--'}}</td>
                        <td>{{orderDetail.remark||'--'}}</td>
                        <td>{{orderDetail.createUser||'--'}}</td>
                        <td>{{orderDetail.repairGroupName||'--'}}</td>
                        <td>
                            <a href="javascript:void(0)" class="resBtn editBtn" ng-click="editTroubleRecord(orderDetail)">
                                <img src="image/comm/resBtnEdit.png" alt="编辑"/>
                                <b class="title">详细</b>
                            </a>
                            <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="dealTroubleRecord(orderDetail)">
                                <img src="image/comm/resBtnEdit.png" alt="删除"/>
                                <b class="title">执行维修</b>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>
                            <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteAllTroubleRecords(orderDetail)">
                                <img src="image/comm/resBtnDelete.png" alt="删除"/>
                                <b class="title">删除</b>
                            </a>
                        </td>
                        <td style="text-align: center" colspan="17"><tm-pagination conf="paginationConf1"></tm-pagination></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tableListDiv hide">
                <p>维修计划</p>
            </div>
            <div class="tableListDiv hide">
                <p>保养计划</p>
            </div>
            <div class="tableListDiv hide">
                <p>维修记录</p>
            </div>
            <div class="tableListDiv hide">
                <p>保养记录</p>
            </div>
            <div class="tableListDiv hide">
                <p>配件更换记录</p>
            </div>
            <div class="tableListDiv hide">
                <p>关联备件</p>
            </div>
            <div class="tableListDiv hide">
                <p>关联文档</p>
            </div>
            <div class="tableListDiv hide">
                <p>设备图片</p>
            </div>
            <div class="tableListDiv hide">
                <p>自定义选项</p>
            </div>
            <div class="tableListDiv hide">
                <p>扩展技术参数</p>
            </div>
            <div class="tableListDiv hide">
                <p>设备生命期</p>
            </div>
        </div>
    </div>
    <!--故障报修相关 end-->
</div>
<!--新增设备 start-->
<div class="ImportantNote addContactBalance">
    <div class="headline">
        <span>新增设备</span>
        <img onClick="hideDiv('addContactBalance')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 30px 0 20px 0;width: 840px;max-height: 380px;height: auto;overflow-y: hidden; overflow: auto;" class="businessAuth">
        <div class="titleDiv">
            <span class="tips">基本信息</span>
            <p>
                <label for="deviceName">
                    <span style="width: 100px;text-align: right">设备名称:<i>*</i></span>
                    <input id="deviceName" ng-model="deviceName" type="text" placeholder="请输入设备名称"/>
                </label>
                <label for="deviceCode">
                    <span style="width: 100px;text-align: right">设备编号:<i>*</i></span>
                    <input id="deviceCode" ng-model="deviceCode" type="text" placeholder="请输入设备编号"/>
                </label>
                <label for="specification">
                    <span style="width: 100px;text-align: right">规格型号:</span>
                    <input id="specification" ng-model="specification" type="text" placeholder="请输入规格型号"/>
                </label>
            </p>
            <p>
                <label for="manufacturer" >
                    <span style="width: 100px;text-align: right">生产厂商:</span>
                    <select id="manufacturer" ng-model="manufacturer" ng-options="AllCompanyDetail.id as AllCompanyDetail.name for AllCompanyDetail in AllCompany">
                        <option value="">请选择生产厂商</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="supplier" >
                    <span style="width: 100px;text-align: right">供应商:</span>
                    <select id="supplier" ng-model="supplier" ng-options="AllCompanyDetail.id as AllCompanyDetail.name for AllCompanyDetail in AllCompany">
                        <option value="">请选择供应商</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="deviceType" >
                    <span style="width: 100px;text-align: right">设备类型:</span>
                    <select id="deviceType" ng-model="deviceType" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in deviceTypeList">
                        <option value="">请选择设备类型</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
            </p>
            <p>
                <label for="deviceFlag" >
                    <span style="width: 100px;text-align: right">设备标记:</span>
                    <b class="checkBox" id="deviceFlag">
                        <label ng-repeat="deviceFlagDetail in deviceFlag" for="{{deviceFlagDetail.id}}"><input id="{{deviceFlagDetail.id}}" value="{{deviceFlagDetail.name}}" type="checkbox" name="deviceFlag"/><span>{{deviceFlagDetail.name}}</span></label>
                    </b>
                </label>
            </p>
            <p>
                <label for="buyDate" >
                    <span style="width: 100px;text-align: right">购买时间:</span>
                    <input type="date" id="buyDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="buyDate">
                </label>
                <label for="sourcePrice" >
                    <span style="width: 100px;text-align: right">资产原值:</span>
                    <input id="sourcePrice" ng-model="sourcePrice" type="text" placeholder="请输入资产原值"/>
                </label>
                <label for="netWorth" >
                    <span style="width: 100px;text-align: right">资产净值:</span>
                    <input id="netWorth" ng-model="netWorth" type="text" placeholder="请输入资产净值"/>
                </label>
            </p>
            <p>
                <label for="head" >
                    <span style="width: 100px;text-align: right">资产负责人:</span>
                    <input type="text" id="head" placeholder="资产负责人" ng-model="head">
                </label>
                <label for="usefulLife" >
                    <span style="width: 100px;text-align: right">使用寿命:</span>
                    <input id="usefulLife" ng-model="usefulLife" type="text" placeholder="请输入使用寿命"/>
                </label>
                <label for="netResidueRate" >
                    <span style="width: 100px;text-align: right">净残率（%）:</span>
                    <input id="netResidueRate" ng-model="netResidueRate" type="text" placeholder="请输入净残率"/>
                </label>
            </p>
        </div>
        <div class="titleDiv">
            <span class="tips">使用情况</span>
            <p>
                <label for="useStatus">
                    <span style="width: 100px;text-align: right">使用状况:</span>
                    <select id="useStatus" ng-model="useStatus" ng-options="useStatusDetail.id as useStatusDetail.name for useStatusDetail in useStatusList">
                        <option value="">请选择使用状况</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="useDept">
                    <span style="width: 100px;text-align: right">使用部门:</span>
                    <select id="useDept" ng-model="useDept" ng-options="departmentListDetail.id as departmentListDetail.name for departmentListDetail in departmentList">
                        <option value="">请选择使用部门</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="operator">
                    <span style="width: 100px;text-align: right">操作人员:</span>
                    <input id="operator" ng-model="operator" type="text" placeholder="请输入操作人员"/>
                </label>
            </p>
            <p>
                <label for="repairName" >
                    <span style="width: 100px;text-align: right">维修班组:</span>
                    <input id="repairName" ng-model="repairName" type="text" placeholder="请输入维修班组"/>
                </label>
                <label for="installationAddress" >
                    <span style="width: 100px;text-align: right">安装地点:</span>
                    <input style="width: 371px" id="installationAddress" ng-model="installationAddress" type="text" placeholder="请输入操作人员"/>
                </label>
            </p>
            <p>
                <label for="checkCircle" >
                    <span style="width: 100px;text-align: right">检验周期（月）:</span>
                    <input id="checkCircle" ng-model="checkCircle" type="text" placeholder="请输入检验周期"/>
                </label>
                <label for="lastCheckDate" >
                    <span style="width: 100px;text-align: right">上次检验时间:</span>
                    <input type="date" id="lastCheckDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="lastCheckDate">
                </label>
                <label for="nextCheckDate" >
                    <span style="width: 100px;text-align: right">下次检验时间:</span>
                    <input type="date" id="nextCheckDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="nextCheckDate">
                </label>
            </p>
        </div>
        <div class="titleDiv">
            <span class="tips">扩展字段</span>
            <p>
                <label for="extendFieldOne">
                    <span style="width: 100px;text-align: right">固定资产编号:</span>
                    <input id="extendFieldOne" ng-model="extendFieldOne" type="text" placeholder="请输入固定资产编号"/>
                </label>
                <label for="extendFieldTwo">
                    <span style="width: 100px;text-align: right">功率:</span>
                    <input id="extendFieldTwo" ng-model="extendFieldTwo" type="text" placeholder="请输入功率"/>
                </label>
                <label for="extendFieldThree">
                    <span style="width: 100px;text-align: right">自定义3:</span>
                    <input id="extendFieldThree" ng-model="extendFieldThree" type="text" placeholder=""/>
                </label>
            </p>
            <p>
                <label for="extendFieldFour">
                    <span style="width: 100px;text-align: right">自定义4:</span>
                    <input id="extendFieldFour" ng-model="extendFieldFour" type="text" placeholder=""/>
                </label>
                <label for="extendFieldFive">
                    <span style="width: 100px;text-align: right">自定义5:</span>
                    <input id="extendFieldFive" ng-model="extendFieldFive" type="text" placeholder=""/>
                </label>
                <label for="extendFieldSix">
                    <span style="width: 100px;text-align: right">自定义6:</span>
                    <input id="extendFieldSix" ng-model="extendFieldSix" type="text" placeholder=""/>
                </label>
            </p>
            <p>
                <label for="extendFieldSeven">
                    <span style="width: 100px;text-align: right">自定义7:</span>
                    <input id="extendFieldSeven" ng-model="extendFieldSeven" type="text" placeholder=""/>
                </label>
                <label for="extendFieldEight">
                    <span style="width: 100px;text-align: right">自定义8:</span>
                    <input id="extendFieldEight" ng-model="extendFieldEight" type="text" placeholder=""/>
                </label>
                <label for="extendFieldNine">
                    <span style="width: 100px;text-align: right">自定义9:</span>
                    <input id="extendFieldNine" ng-model="extendFieldNine" type="text" placeholder=""/>
                </label>
            </p>
            <p>
                <label for="extendFieldTen">
                    <span style="width: 100px;text-align: right">自定义10:</span>
                    <input id="extendFieldTen" ng-model="extendFieldTen" type="text" placeholder=""/>
                </label>
                <label for="Number">
                    <span style="width: 100px;text-align: right">台数:</span>
                    <input id="Number" ng-model="Number" type="text" placeholder="请输入台数"/>
                </label>
                <label for="startDate">
                    <span style="width: 100px;text-align: right">启用时间:</span>
                    <input type="date" id="startDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="startDate">
                </label>
            </p>
            <p>
                <label for="remark">
                    <span style="width: 100px;text-align: right">备注:</span>
                    <textarea placeholder="请输入备注" name="remark" id="remark" ng-model="remark"></textarea>
                </label>
            </p>
        </div>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="addContactSure()" value="" class="btn">保存</button>
            <button type="button" value="" class="btn" onClick="hideDiv('addContactBalance')">取消</button>
        </div>
    </div>
</div>
<!--新增设备 end-->

<!--编辑设备 start-->
<div class="ImportantNote editContactBalance">
    <div class="headline">
        <span>编辑设备</span>
        <img onClick="hideDiv('editContactBalance')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 30px 0 20px 0;width: 840px;max-height: 380px;height: auto;overflow-y: hidden; overflow: auto;" class="businessAuth">
        <div class="titleDiv">
            <span class="tips">基本信息</span>
            <p>
                <label for="deviceNameEdit">
                    <span style="width: 100px;text-align: right">设备名称:<i>*</i></span>
                    <input id="deviceNameEdit" ng-model="deviceNameEdit" type="text" placeholder="请输入设备名称"/>
                </label>
                <label for="deviceCodeEdit">
                    <span style="width: 100px;text-align: right">设备编号:<i>*</i></span>
                    <input id="deviceCodeEdit" ng-model="deviceCodeEdit" type="text" placeholder="请输入设备编号"/>
                </label>
                <label for="specificationEdit">
                    <span style="width: 100px;text-align: right">规格型号:</span>
                    <input id="specificationEdit" ng-model="specificationEdit" type="text" placeholder="请输入规格型号"/>
                </label>
            </p>
            <p>
                <label for="manufacturerEdit" >
                    <span style="width: 100px;text-align: right">生产厂商:</span>
                    <select id="manufacturerEdit" ng-model="manufacturerEdit" ng-options="AllCompanyDetail.id as AllCompanyDetail.name for AllCompanyDetail in AllCompany">
                        <option value="">请选择生产厂商</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="supplierEdit" >
                    <span style="width: 100px;text-align: right">供应商:</span>
                    <select id="supplierEdit" ng-model="supplierEdit" ng-options="AllCompanyDetail.id as AllCompanyDetail.name for AllCompanyDetail in AllCompany">
                        <option value="">请选择供应商</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="deviceTypeEdit" >
                    <span style="width: 100px;text-align: right">设备类型:</span>
                    <select id="deviceTypeEdit" ng-model="deviceTypeEdit" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in deviceTypeList">
                        <option value="">请选择设备类型</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
            </p>
            <p>
                <label for="deviceFlagEdit" >
                    <span style="width: 100px;text-align: right">设备标记:</span>
                    <b class="checkBox" id="deviceFlagEdit">
                        <label ng-repeat="deviceFlagDetail1 in deviceFlag" for="{{deviceFlagDetail1.id}}"><input id="{{deviceFlagDetail1.id}}" value="{{deviceFlagDetail1.name}}" type="checkbox" name="deviceFlagEdit"/><span>{{deviceFlagDetail1.name}}</span></label>
                    </b>
                </label>
            </p>
            <p>
                <label for="buyDateEdit" >
                    <span style="width: 100px;text-align: right">购买时间:</span>
                    <input type="date" id="buyDateEdit" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="buyDateEdit">
                </label>
                <label for="sourcePriceEdit" >
                    <span style="width: 100px;text-align: right">资产原值:</span>
                    <input id="sourcePriceEdit" ng-model="sourcePriceEdit" type="text" placeholder="请输入资产原值"/>
                </label>
                <label for="netWorthEdit" >
                    <span style="width: 100px;text-align: right">资产净值:</span>
                    <input id="netWorthEdit" ng-model="netWorthEdit" type="text" placeholder="请输入资产净值"/>
                </label>
            </p>
            <p>
                <label for="headEdit" >
                    <span style="width: 100px;text-align: right">资产负责人:</span>
                    <input type="text" id="headEdit" placeholder="资产负责人" ng-model="headEdit">
                </label>
                <label for="usefulLifeEdit" >
                    <span style="width: 100px;text-align: right">使用寿命:</span>
                    <input id="usefulLifeEdit" ng-model="usefulLifeEdit" type="text" placeholder="请输入使用寿命"/>
                </label>
                <label for="netResidueRateEdit" >
                    <span style="width: 100px;text-align: right">净残率（%）:</span>
                    <input id="netResidueRateEdit" ng-model="netResidueRateEdit" type="text" placeholder="请输入净残率"/>
                </label>
            </p>
        </div>
        <div class="titleDiv">
            <span class="tips">使用情况</span>
            <p>
                <label for="useStatusEdit">
                    <span style="width: 100px;text-align: right">使用状况:</span>
                    <select id="useStatusEdit" ng-model="useStatusEdit" ng-options="useStatusDetail.id as useStatusDetail.name for useStatusDetail in useStatusList">
                        <option value="">请选择使用状况</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="useDeptEdit">
                    <span style="width: 100px;text-align: right">使用部门:</span>
                    <select id="useDeptEdit" ng-model="useDeptEdit" ng-options="departmentListDetail.id as departmentListDetail.name for departmentListDetail in departmentList">
                        <option value="">请选择使用部门</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="operatorEdit">
                    <span style="width: 100px;text-align: right">操作人员:</span>
                    <input id="operatorEdit" ng-model="operatorEdit" type="text" placeholder="请输入操作人员"/>
                </label>
            </p>
            <p>
                <label for="repairNameEdit" >
                    <span style="width: 100px;text-align: right">维修班组:</span>
                    <input id="repairNameEdit" ng-model="repairNameEdit" type="text" placeholder="请输入维修班组"/>
                </label>
                <label for="installationAddressEdit" >
                    <span style="width: 100px;text-align: right">安装地点:</span>
                    <input style="width: 371px" id="installationAddressEdit" ng-model="installationAddressEdit" type="text" placeholder="请输入操作人员"/>
                </label>
            </p>
            <p>
                <label for="checkCircleEdit" >
                    <span style="width: 100px;text-align: right">检验周期（月）:</span>
                    <input id="checkCircleEdit" ng-model="checkCircleEdit" type="text" placeholder="请输入检验周期"/>
                </label>
                <label for="lastCheckDateEdit" >
                    <span style="width: 100px;text-align: right">上次检验时间:</span>
                    <input type="date" id="lastCheckDateEdit" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="lastCheckDateEdit">
                </label>
                <label for="nextCheckDateEdit" >
                    <span style="width: 100px;text-align: right">下次检验时间:</span>
                    <input type="date" id="nextCheckDateEdit" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="nextCheckDateEdit">
                </label>
            </p>
        </div>
        <div class="titleDiv">
            <span class="tips">扩展字段</span>
            <p>
                <label for="extendFieldOneEdit">
                    <span style="width: 100px;text-align: right">固定资产编号:</span>
                    <input id="extendFieldOneEdit" ng-model="extendFieldOneEdit" type="text" placeholder="请输入固定资产编号"/>
                </label>
                <label for="extendFieldTwoEdit">
                    <span style="width: 100px;text-align: right">功率:</span>
                    <input id="extendFieldTwoEdit" ng-model="extendFieldTwoEdit" type="text" placeholder="请输入功率"/>
                </label>
                <label for="extendFieldThreeEdit">
                    <span style="width: 100px;text-align: right">自定义3:</span>
                    <input id="extendFieldThreeEdit" ng-model="extendFieldThreeEdit" type="text" placeholder=""/>
                </label>
            </p>
            <p>
                <label for="extendFieldFourEdit">
                    <span style="width: 100px;text-align: right">自定义4:</span>
                    <input id="extendFieldFourEdit" ng-model="extendFieldFourEdit" type="text" placeholder=""/>
                </label>
                <label for="extendFieldFiveEdit">
                    <span style="width: 100px;text-align: right">自定义5:</span>
                    <input id="extendFieldFiveEdit" ng-model="extendFieldFiveEdit" type="text" placeholder=""/>
                </label>
                <label for="extendFieldSixEdit">
                    <span style="width: 100px;text-align: right">自定义6:</span>
                    <input id="extendFieldSixEdit" ng-model="extendFieldSixEdit" type="text" placeholder=""/>
                </label>
            </p>
            <p>
                <label for="extendFieldSevenEdit">
                    <span style="width: 100px;text-align: right">自定义7:</span>
                    <input id="extendFieldSevenEdit" ng-model="extendFieldSevenEdit" type="text" placeholder=""/>
                </label>
                <label for="extendFieldEightEdit">
                    <span style="width: 100px;text-align: right">自定义8:</span>
                    <input id="extendFieldEightEdit" ng-model="extendFieldEightEdit" type="text" placeholder=""/>
                </label>
                <label for="extendFieldNineEdit">
                    <span style="width: 100px;text-align: right">自定义9:</span>
                    <input id="extendFieldNineEdit" ng-model="extendFieldNineEdit" type="text" placeholder=""/>
                </label>
            </p>
            <p>
                <label for="extendFieldTenEdit">
                    <span style="width: 100px;text-align: right">自定义10:</span>
                    <input id="extendFieldTenEdit" ng-model="extendFieldTenEdit" type="text" placeholder=""/>
                </label>
                <label for="NumberEdit">
                    <span style="width: 100px;text-align: right">台数:</span>
                    <input id="NumberEdit" ng-model="NumberEdit" type="text" placeholder="请输入台数"/>
                </label>
                <label for="startDateEdit">
                    <span style="width: 100px;text-align: right">启用时间:</span>
                    <input type="date" id="startDateEdit" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="startDateEdit">
                </label>
            </p>
            <p>
                <label for="remarkEdit">
                    <span style="width: 100px;text-align: right">备注:</span>
                    <textarea placeholder="请输入备注" name="remark" id="remarkEdit" ng-model="remarkEdit"></textarea>
                </label>
            </p>
        </div>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="editDeviceSure()" value="" class="btn">保存</button>
            <button type="button" value="" class="btn" onClick="hideDiv('editContactBalance')">取消</button>
        </div>
    </div>
</div>
<!--编辑 往来单位 end-->
<!--保存成功start-->
<div class="ImportantNote SaveSuccess">
    <div class="headline">
        <span>重要提示</span>
        <img onClick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>
        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--保存成功end-->
<!--单个删除弹出框start-->
<div class="ImportantNote deleteContactCompany">
    <div class="headline">
        <span>删除设备信息</span>
        <img onClick="hideDiv('deleteContactCompany')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/>确认删除选中的设备信息？</p>
        <div class="submitBtn1" style="text-align: center;">
            <input type="button" value="删除"  class="btn" ng-click="deleteDeviceSure()"/>
            <input type="button" value="取消" class="btn" onClick="hideDiv('deleteContactCompany')">
        </div>
    </div>
</div>
<!--单个删除弹出框end-->
<!--添加故障记录 start-->
<div class="ImportantNote addTroubleRecordBalance">
    <div class="headline">
        <span>添加故障记录</span>
        <img onClick="hideDiv('addTroubleRecordBalance')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 30px 0 20px 0;width: 840px;max-height: 380px;height: auto;overflow-y: hidden; overflow: auto;" class="businessAuth">
        <div class="titleDiv">
            <span class="tips">设备信息</span>
            <p>
                <label for="deviceType">
                    <span style="width: 100px;text-align: right">设备信息:</span>
                    <b style="width: 617px;display: inline-block;text-align: left;font-weight: 100">
                        <input style="vertical-align: middle;margin-top: -2px;" ng-model="deviceTypes" value="1" type="radio" name="deviceTypes"/>
                        <span>选择设备报修</span>
                        <input style="vertical-align: middle;margin-top: -2px;margin-left: 87px;" ng-model="deviceTypes" value="2" type="radio" name="deviceTypes"/>
                        <span>其他报修（手工输入设备）</span>
                    </b>
                </label>
            </p>
            <p>
                <label for="deviceTypeTrouble" >
                    <span style="width: 100px;text-align: right">设备类型:</span>
                    <select ng-disabled="deviceTypes=='1'" id="deviceTypeTrouble" ng-model="deviceTypeTrouble" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in deviceTypeList">
                        <option value="">请选择设备类型</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="deviceCodeTrouble">
                    <span style="width: 100px;text-align: right">设备编号:<i>*</i></span>
                    <input ng-disabled="deviceTypes=='1'" id="deviceCodeTrouble" ng-model="deviceCodeTrouble" type="text" placeholder="请输入设备编号"/>
                </label>
                <label style="opacity: 1">
                    <span style="width: 100px;text-align: right">选择设备:</span>
                    <button style="width: 135px;font-size: 12px;" class="btn">选择设备</button>
                </label>
            </p>
            <p>
                <label for="deviceNameTrouble">
                    <span style="width: 100px;text-align: right">设备名称:<i>*</i></span>
                    <input ng-disabled="deviceTypes=='1'" id="deviceNameTrouble" ng-model="deviceNameTrouble" type="text" placeholder="请输入设备名称"/>
                </label>

                <label for="specificationTrouble">
                    <span style="width: 100px;text-align: right">规格型号:</span>
                    <input ng-disabled="deviceTypes=='1'" id="specificationTrouble" ng-model="specificationTrouble" type="text" placeholder="请输入规格型号"/>
                </label>
                <label for="useDeptTrouble">
                    <span style="width: 100px;text-align: right">所在部门:</span>
                    <select ng-disabled="deviceTypes=='1'" id="useDeptTrouble" ng-model="useDeptTrouble" ng-options="departmentListDetail.id as departmentListDetail.name for departmentListDetail in departmentList">
                        <option value="">请选择使用部门</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
            </p>
        </div>

        <div class="titleDiv">
            <span class="tips">故障信息</span>
            <p>
                <label for="happendDate" >
                    <span style="width: 100px;text-align: right">发生时间:<i>*</i></span>
                    <input type="date" id="happendDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="happendDate">
                </label>
                <label for="deviceUser">
                    <span style="width: 100px;text-align: right">操作者:</span>
                    <input id="deviceUser" ng-model="deviceUser" type="text" placeholder="请输入操作者"/>
                </label>
                <label for="deviceUserPhone">
                    <span style="width: 100px;text-align: right">操作者电话:</span>
                    <input id="deviceUserPhone" ng-model="deviceUserPhone" type="text" placeholder="请输入操作者电话"/>
                </label>
            </p>
            <p>
                <label for="troubleLevel">
                    <span style="width: 100px;text-align: right">故障等级:</span>
                    <select id="troubleLevel" ng-model="troubleLevel" ng-options="deviceTroubleLevelDetail.type as deviceTroubleLevelDetail.name for deviceTroubleLevelDetail in deviceTroubleLevel">
                        <option value="">请选择故障等级</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="deviceStatus">
                    <span style="width: 100px;text-align: right">设备状态:<i>*</i></span>
                    <select id="deviceStatus" ng-model="deviceStatus" ng-options="deviceStatusDetail.type as deviceStatusDetail.name for deviceStatusDetail in deviceStatusList">
                        <option value="">请选择设备状态</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="troubleType">
                    <span style="width: 100px;text-align: right">故障类别:</span>
                    <select id="troubleType" ng-model="troubleType" ng-options="deviceTroubleType.id as deviceTroubleType.name for deviceTroubleType in deviceTroubleTypeList">
                        <option value="">请选择故障类别</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
            </p>
            <p>
                <label for="repairGroupId">
                    <span style="width: 100px;text-align: right">维修班组:</span>
                    <select id="repairGroupId" ng-model="repairGroupId" ng-options="repairGroupDetail.id as repairGroupDetail.name for repairGroupDetail in repairGroupList">
                        <option value="">请选择维修班组</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="deviceAddress">
                    <span style="width: 100px;text-align: right">设备位置:</span>
                    <input style="width: 375px;" id="deviceAddress" ng-model="deviceAddress" type="text" placeholder="请输入设备位置"/>
                </label>
            </p>
            <p>
                <label for="troubleAddRemark">
                    <span style="width: 100px;text-align: right">故障描述:<i>*</i></span>
                    <textarea placeholder="请输入故障描述" name="troubleAddRemark" id="troubleAddRemark" ng-model="troubleAddRemark"></textarea>
                </label>
            </p>
        </div>
        <div class="titleDiv">
            <span class="tips">故障图片</span>
            <p>
                <label for="remarkEdit">
                    <span style="width: 100px;text-align: right">图片上传:</span>
                    <input style="width: 553px;border: 1px solid #e6e6e6;height: 30px;line-height: 30px;" type="file" placeholder="选择上传的图片">
                    <button style="font-size: 12px;" class="btn">上传</button>
                </label>
            </p>
            <p>
                <label for="remarkEdit">
                    <span style="width: 100px;text-align: right">已上传图片:</span>
                    <b style="    display: inline-block;width: 636px;height: auto;min-height: 85px;border: 1px solid #e6e6e6;vertical-align: top;">

                    </b>
                </label>
            </p>
        </div>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="addTroubleRecordSure()" value="" class="btn">保存</button>
            <button type="button" value="" class="btn" onClick="hideDiv('addTroubleRecordBalance')">取消</button>
        </div>
    </div>
</div>
<!--添加故障记录 end-->
<!--查询故障记录详情 start-->
<div class="ImportantNote editTroubleRecordBalance">
    <div class="headline">
        <span>故障信息详情</span>
        <img onClick="hideDiv('editTroubleRecordBalance')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 30px 0 20px 0;width: 840px;max-height: 380px;height: auto;overflow-y: hidden; overflow: auto;" class="businessAuth">
        <div class="titleDiv">
            <span class="tips">设备信息</span>
            <p>
                <label for="deviceType">
                    <span style="width: 100px;text-align: right">设备信息:</span>
                    <b style="width: 617px;display: inline-block;text-align: left;font-weight: 100">
                        <input style="vertical-align: middle;margin-top: -2px;" ng-model="deviceTypes" value="1" type="radio" name="deviceTypes"/>
                        <span>选择设备报修</span>
                        <input style="vertical-align: middle;margin-top: -2px;margin-left: 87px;" ng-model="deviceTypes" value="2" type="radio" name="deviceTypes"/>
                        <span>其他报修（手工输入设备）</span>
                    </b>
                </label>
            </p>
            <p>
                <label for="deviceTypeTroubleEdit" >
                    <span style="width: 100px;text-align: right">设备类型:</span>
                    <select ng-disabled="deviceTypes=='1'" id="deviceTypeTroubleEdit" ng-model="deviceTypeTroubleEdit" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in deviceTypeList">
                        <option value="">请选择设备类型</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="deviceCodeTroubleEdit">
                    <span style="width: 100px;text-align: right">设备编号:<i>*</i></span>
                    <input ng-disabled="deviceTypes=='1'" id="deviceCodeTroubleEdit" ng-model="deviceCodeTroubleEdit" type="text" placeholder="请输入设备编号"/>
                </label>
                <label style="opacity: 1">
                    <span style="width: 100px;text-align: right">选择设备:</span>
                    <button style="width: 135px;font-size: 12px;" class="btn">选择设备</button>
                </label>
            </p>
            <p>
                <label for="deviceNameTroubleEdit">
                    <span style="width: 100px;text-align: right">设备名称:<i>*</i></span>
                    <input ng-disabled="deviceTypes=='1'" id="deviceNameTroubleEdit" ng-model="deviceNameTroubleEdit" type="text" placeholder="请输入设备名称"/>
                </label>

                <label for="specificationTroubleEdit">
                    <span style="width: 100px;text-align: right">规格型号:</span>
                    <input ng-disabled="deviceTypes=='1'" id="specificationTroubleEdit" ng-model="specificationTroubleEdit" type="text" placeholder="请输入规格型号"/>
                </label>
                <label for="useDeptTroubleEdit">
                    <span style="width: 100px;text-align: right">所在部门:</span>
                    <select ng-disabled="deviceTypes=='1'" id="useDeptTroubleEdit" ng-model="useDeptTroubleEdit" ng-options="departmentListDetail.id as departmentListDetail.name for departmentListDetail in departmentList">
                        <option value="">请选择使用部门</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
            </p>
        </div>

        <div class="titleDiv">
            <span class="tips">故障信息</span>
            <p>
                <label for="happendDateEdit" >
                    <span style="width: 100px;text-align: right">发生时间:<i>*</i></span>
                    <input type="date" id="happendDateEdit" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="happendDateEdit">
                </label>
                <label for="deviceUserEdit">
                    <span style="width: 100px;text-align: right">操作者:</span>
                    <input id="deviceUserEdit" ng-model="deviceUserEdit" type="text" placeholder="请输入操作者"/>
                </label>
                <label for="deviceUserPhoneEdit">
                    <span style="width: 100px;text-align: right">操作者电话:</span>
                    <input id="deviceUserPhoneEdit" ng-model="deviceUserPhoneEdit" type="text" placeholder="请输入操作者电话"/>
                </label>
            </p>
            <p>
                <label for="troubleLevelEdit">
                    <span style="width: 100px;text-align: right">故障等级:</span>
                    <select id="troubleLevelEdit" ng-model="troubleLevelEdit" ng-options="deviceTroubleLevelDetail.type as deviceTroubleLevelDetail.name for deviceTroubleLevelDetail in deviceTroubleLevel">
                        <option value="">请选择故障等级</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="deviceStatusEdit">
                    <span style="width: 100px;text-align: right">设备状态:<i>*</i></span>
                    <select id="deviceStatusEdit" ng-model="deviceStatusEdit" ng-options="deviceStatusDetail.type as deviceStatusDetail.name for deviceStatusDetail in deviceStatusList">
                        <option value="">请选择设备状态</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="troubleTypeEdit">
                    <span style="width: 100px;text-align: right">故障类别:</span>
                    <select id="troubleTypeEdit" ng-model="troubleTypeEdit" ng-options="deviceTroubleType.id as deviceTroubleType.name for deviceTroubleType in deviceTroubleTypeList">
                        <option value="">请选择故障类别</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
            </p>
            <p>
                <label for="repairGroupIdEdit">
                    <span style="width: 100px;text-align: right">维修班组:</span>
                    <select id="repairGroupIdEdit" ng-model="repairGroupIdEdit" ng-options="repairGroupDetail.id as repairGroupDetail.name for repairGroupDetail in repairGroupList">
                        <option value="">请选择维修班组</option>
                        <option value="1">呵呵</option>
                    </select>
                </label>
                <label for="deviceAddressEdit">
                    <span style="width: 100px;text-align: right">设备位置:</span>
                    <input style="width: 375px;" id="deviceAddressEdit" ng-model="deviceAddressEdit" type="text" placeholder="请输入设备位置"/>
                </label>
            </p>
            <p>
                <label for="troubleAddRemarkEdit">
                    <span style="width: 100px;text-align: right">故障描述:<i>*</i></span>
                    <textarea placeholder="请输入故障描述" name="troubleAddRemarkEdit" id="troubleAddRemarkEdit" ng-model="troubleAddRemark"></textarea>
                </label>
            </p>
        </div>
        <div class="titleDiv">
            <span class="tips">故障图片</span>
            <p>
                <label for="remarkEdit">
                    <span style="width: 100px;text-align: right">图片上传:</span>
                    <input style="width: 553px;border: 1px solid #e6e6e6;height: 30px;line-height: 30px;" type="file" placeholder="选择上传的图片">
                    <button style="font-size: 12px;" class="btn">上传</button>
                </label>
            </p>
            <p>
                <label for="remarkEdit">
                    <span style="width: 100px;text-align: right">已上传图片:</span>
                    <b style="    display: inline-block;width: 636px;height: auto;min-height: 85px;border: 1px solid #e6e6e6;vertical-align: top;">

                    </b>
                </label>
            </p>
        </div>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="editTroubleRecordSure()" value="" class="btn">保存</button>
            <button type="button" value="" class="btn" onClick="hideDiv('editTroubleRecordBalance')">取消</button>
        </div>
    </div>
</div>
<!--查询故障记录详情 end-->
<!--单个删除弹出框start-->
<div class="ImportantNote deleteTroubleRecords">
    <div class="headline">
        <span>删除故障信息</span>
        <img onClick="hideDiv('deleteTroubleRecords')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/>确认删除选中的故障信息？</p>
        <div class="submitBtn1" style="text-align: center;">
            <input type="button" value="删除"  class="btn" ng-click="deleteTroubleRecordSure()"/>
            <input type="button" value="取消" class="btn" onClick="hideDiv('deleteTroubleRecords')">
        </div>
    </div>
</div>
<!--单个删除弹出框end-->
    <script type="text/javascript">
        $(document).ready(function(){
            $(".click").click(function(){
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function(){
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function(){
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function(){
                $(".tip").fadeOut(100);
            });

        });
        /*tab 切换效果 start*/
        function fgTab(tabNav,tabBody){
            var tabMenu=document.getElementById(tabNav);
            var tabTitle=tabMenu.getElementsByTagName('li');
            var tabContent=document.getElementById(tabBody);
            var tabBody=tabContent.getElementsByClassName('tableListDiv');
            function switchTab(i){
                tabTitle[i].onclick=function(){
                    for(j=0; j<tabTitle.length; j++){
                        if(i==j){
                            tabTitle[j].className='curent';
                            tabBody[j].style.display="block";
                        }else{
                            tabTitle[j].className='';
                            tabBody[j].style.display="none";
                        }
                    }
                    //document.getElementById('what').innerHTML = i+'<br/>'+out();
                }
            }
            for( i=0; i<tabTitle.length; i++){
                switchTab(i);
            }
        }
        function out(){
            return i + '<br/>'+j;
        }
        fgTab('tabMenu','tabContent');
        /*tab 切换效果 end*/
    </script>
    <script type="text/javascript">
	    $('.tablelist tbody tr:odd').addClass('odd');
	</script>

