<style>
    .ImportantNote textarea{
        font-size: 14px;
        width: 155px;
        height: 32px;
        border: 1px solid #e6e6e6;
        vertical-align: middle;
    }
    .mainContain .tableListDiv tr td{
        font-size: 12px;
    }
    .mainContain .tableListDiv tr th{
        font-size: 12px;
    }
    .ImportantNote .businessAuth p{
        font-size: 12px;
        color: #4d4d4d;
        text-align: left;
        padding-left: 10px;
    }
    .ImportantNote{
        max-height: 500px !important;
    }
    .ImportantNote input[type='text']{
        width: 133px;
    }
    .ImportantNote input[type='date']{
        width: 133px;
    }
    .ImportantNote .titleDiv p textarea{
        width: 611px;
    }
</style>
<div class="rightinfo mainContain" id="mainContain1">
    <div style="padding: 0;width: 100%" class="queryDiv" >
        <ul>
            <li>
                <label style="margin-left: 10px" for="dealStatus">
                    <span style="width: auto">处理状态：</span>
                    <select id="dealStatus" ng-model="dealStatus">
                        <option value="">选择处理状态</option>
                        <option value="1">处理中</option>
                        <option value="2">处理完成</option>
                        <option value="3">被否决</option>
                    </select>
                </label>
                <label ng-show="dealStatus=='1'" style="margin-left: 10px" for="dealStatusChild">
                    <span style="width: auto">处理子状态：</span>
                    <select id="dealStatusChild" ng-model="dealStatusChild">
                        <option value="">选择处理子状态</option>
                        <option value="1">待我审核</option>
                        <option value="2">所有待审核</option>
                        <option value="3">暂不处理</option>
                        <option value="4">列入计划</option>
                        <option value="5">等待维修</option>
                        <option value="6">维修中</option>
                        <option value="7">维修结束待认证</option>
                    </select>
                </label>
                <label>
                    <button class="btn" ng-click="onQuery()">查询</button>
                </label>
            </li>
        </ul>
    </div>
    <div style="max-height: 400px;overflow: auto;" class="tableListDiv data-container jurisdiction">
        <table>
            <thead>
            <tr>
                <th style="min-width:50px;">全选<input style="vertical-align: middle;margin-left: 5px" type="checkbox" value="1" onclick="selAll(this)" id="allSelected"/></th>
                <th>序号</th>
                <th>编号</th>
                <th>处理状态</th>
                <th>设备编号</th>
                <th>设备名称</th>
                <th>规格型号</th>
                <th>使用部门</th>
                <th>发生时间</th>
                <th>记录时间</th>
                <th>维修班组</th>
                <th>故障等级</th>
                <th>故障类别</th>
                <th>故障描述</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="apply_infos_table">
            <tr ng-repeat="myWaitAuditDetail in myWaitAuditList" ng-if="myWaitAuditList.length>0">
                <td class="firstTd">{{$index+1}}<input style="margin-left: 5px;vertical-align: middle;" type="checkbox" name="che"  value="{{orderDetail.id}}"/></td>
                <td>{{$index+1}}</td>
                <td>{{myWaitAuditDetail.orderNo||'--'}}</td>
                <td>{{myWaitAuditDetail.status||'--'}}</td>
                <td>{{myWaitAuditDetail.deviceCode||'--'}}</td>
                <td>{{myWaitAuditDetail.deviceName||'--'}}</td>
                <td>{{myWaitAuditDetail.specification||'--'}}</td>
                <td>{{myWaitAuditDetail.useDept||'--'}}</td>
                <td>{{myWaitAuditDetail.happenTime||'--'|date:'yyyy-MM-dd'}}</td>
                <td>{{myWaitAuditDetail.createTime||'--'|date:'yyyy-MM-dd'}}</td>
                <td>{{myWaitAuditDetail.repairGroup||'--'}}</td>
                <td>{{myWaitAuditDetail.troubleLevel||'--'}}</td>
                <td>{{myWaitAuditDetail.troubleType||'--'}}</td>
                <td>{{myWaitAuditDetail.remark||'--'}}</td>
                <td>
                    <a href="javascript:void(0)" class="resBtn editBtn" ng-click="getDeviceDetail(myWaitAuditDetail)">
                        详细
                    </a>
                    <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="auditDevice(myWaitAuditDetail)">
                        审核
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot ng-if="myWaitAuditList.length>0">
            <tr>
                <td>
                    <a href="javascript:void(0)" class="resBtn deleteBtn" ng-click="deleteSparePartsBalance(orderDetail)">
                        <img src="image/comm/resBtnDelete.png" alt="删除"/>
                        <b class="title">删除</b>
                    </a>
                </td>
                <td style="text-align: center" colspan="18"><tm-pagination conf="paginationConf"></tm-pagination></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="tip">
        <div class="tiptop"><span>提示信息</span><a></a></div>
        <div class="tipinfo">
            <span><img src="images/ticon.png" /></span>
            <div class="tipright">
                <p>是否确认对信息的修改 ？</p>
                <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
        </div>

        <div class="tipbtn">
            <input name="" type="button"  class="sure" value="确定" />&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
        </div>
    </div>
</div>
<!--新增备件 start-->
<div class="ImportantNote addSparePartsPop">
    <div class="headline">
        <span>新增备件</span>
        <img onClick="hideDiv('addSparePartsPop')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 30px 0 20px 0;width: 840px;height: auto;overflow-y: hidden; overflow: auto;" class="businessAuth">
        <div class="titleDiv" id="addP">
            <span class="tips">新增备件</span>
            <p>
                <label for="sparePartType1" >
                    <span style="width: 100px;text-align: right">备件类型:</span>
                    <select id="sparePartType1" ng-model="editSpareParts.sparePartType" ng-options="AllCompanyDetail.id as AllCompanyDetail.name for AllCompanyDetail in sparePartTypeLists">
                        <option value="">请选择备件类型</option>
                    </select>
                </label>
                <label for="suppliers" style="position: relative;">
                    <span style="width: 100px;text-align: right">供应商:</span>
                    <input id="suppliers" ng-model="editSpareParts.suppliersName" dd="editSpareParts.suppliers" type="text" min="0" placeholder="请选择供应商" disabled/>
                    <span class="changedDiv" ng-click="openCC(2)">...</span>
                </label>
                <label for="deviceType" >
                    <span style="width: 100px;text-align: right">关联设备:</span>
                    <select id="deviceType" ng-model="editSpareParts.deviceInfoId" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in deviceTypeList">
                        <option value="">请选择关联设备</option>
                    </select>
                </label>
            </p>
            <p>
                <label for="name1">
                    <span style="width: 100px;text-align: right">备件名称:</span>
                    <input id="name1" ng-model="editSpareParts.name" type="text" placeholder="请输入设备名称"/>
                </label>
                <label for="code1">
                    <span style="width: 100px;text-align: right">备件编号:</span>
                    <input id="code1" ng-model="editSpareParts.code" type="text" placeholder="请输入设备编号"/>
                </label>
                <label for="barCode1">
                    <span style="width: 100px;text-align: right">条形码:</span>
                    <input id="barCode1" ng-model="editSpareParts.barCode" type="text" placeholder="请输入条形码"/>
                </label>
            </p>
            <p>
                <label for="specificationsAndodels1">
                    <span style="width: 100px;text-align: right">规格型号:</span>
                    <input id="specificationsAndodels1" ng-model="editSpareParts.specificationsAndodels" type="text" min="0" placeholder="请输入规格型号"/>
                </label>
                <label for="measuringUnit" >
                    <span style="width: 100px;text-align: right">计量单位:</span>
                    <select id="measuringUnit" ng-model="editSpareParts.measuringUnit" ng-options="AllCompanyDetail.id as AllCompanyDetail.name for AllCompanyDetail in measuringUnitLists">
                        <option value="">请选择计量单位</option>
                    </select>
                </label>
                <label for="replacementCycle">
                    <span style="width: 100px;text-align: right">更换周期:</span>
                    <input id="replacementCycle" ng-model="editSpareParts.replacementCycle" type="number" min="0" placeholder="请输入更换周期"/> 天
                </label>
            </p>
            <p>
                <label for="manufacturer11"  style="position: relative">
                    <span style="width: 100px;text-align: right">生产厂商:</span>
                    <input id="manufacturer11" ng-model="editSpareParts.manufacturerName" dd="editSpareParts.manufacturer" type="text" min="0" placeholder="请选择生产厂商" disabled/>
                    <span class="changedDiv" ng-click="openCC(1)">...</span>
                </label>
                <label for="inventoryFloor1" >
                    <span style="width: 100px;text-align: right">库存下限:</span>
                    <input id="inventoryFloor1" ng-model="editSpareParts.inventoryFloor" type="number" min="0" placeholder="请输入库存下限"/>
                </label>
                <label for="inventoryUpperLimit1" >
                    <span style="width: 100px;text-align: right">库存上限:</span>
                    <input id="inventoryUpperLimit1" ng-model="editSpareParts.inventoryUpperLimit" type="number" min="0" placeholder="请输入库存上限"/>
                </label>
            </p>
            <p>
                <label for="referencePrice" >
                    <span style="width: 100px;text-align: right">参考价:</span>
                    <input id="referencePrice" ng-model="editSpareParts.referencePrice" type="text" placeholder="请输入参考价"/>
                </label>
                <label for="unitConversion" >
                    <span style="width: 100px;text-align: right">换算单位:</span>
                    <select id="unitConversion" ng-model="editSpareParts.unitConversion" ng-options="AllCompanyDetail.id as AllCompanyDetail.name for AllCompanyDetail in measuringUnitLists">
                        <option value="">请选择换算单位</option>
                    </select>
                </label>
                <label for="materialProperties" >
                    <span style="width: 100px;text-align: right">物料属性:</span>
                    <input id="materialProperties" ng-model="editSpareParts.materialProperties" type="text" placeholder="请输入物料属性"/>
                </label>
            </p>
            <p>
                <label for="extendFieldTwo" >
                    <span style="width: 100px;text-align: right">文本型2:</span>
                    <input id="extendFieldTwo" ng-model="editSpareParts.extendFieldTwo" type="text" placeholder="请输入文本型2"/>
                </label>
                <label for="extendFieldThree" >
                    <span style="width: 100px;text-align: right">文本型3:</span>
                    <input id="extendFieldThree" ng-model="editSpareParts.extendFieldThree" type="text" placeholder="请输入文本型3"/>
                </label>
                <label for="extendFieldFour" >
                    <span style="width: 100px;text-align: right">文本型4:</span>
                    <input id="extendFieldFour" ng-model="editSpareParts.extendFieldFour" type="text" placeholder="请输入文本型4"/>
                </label>
            </p>
            <p>
                <label for="extendFieldFive" >
                    <span style="width: 100px;text-align: right">文本型5:</span>
                    <input id="extendFieldFive" ng-model="editSpareParts.extendFieldFive" type="text" placeholder="请输入文本型5"/>
                </label>
                <label for="extendFieldSix" >
                    <span style="width: 100px;text-align: right">文本型6:</span>
                    <input id="extendFieldSix" ng-model="editSpareParts.extendFieldSix" type="text" placeholder="请输入文本型6"/>
                </label>
                <label for="conversionRatio" >
                    <span style="width: 100px;text-align: right">换算比例:</span>
                    <input id="conversionRatio" ng-model="editSpareParts.conversionRatio" type="number" step="0.01" placeholder="请输入换算比例"/>
                </label>
            </p>
            <p>
                <label for="extendFieldSeven" >
                    <span style="width: 100px;text-align: right">文本型7:</span>
                    <input id="extendFieldSeven" ng-model="editSpareParts.extendFieldSeven" type="text" placeholder="请输入文本型7"/>
                </label>
                <label for="extendDateFieldOne" >
                    <span style="width: 100px;text-align: right">自定义日期1:</span>
                    <input id="extendDateFieldOne" ng-model="editSpareParts.extendDateFieldOne" type="date" placeholder="请输入自定义日期1"/>
                </label>
                <label for="extendDateFieldTwo" >
                    <span style="width: 100px;text-align: right">自定义日期2:</span>
                    <input id="extendDateFieldTwo" ng-model="editSpareParts.extendDateFieldTwo" type="date" placeholder="请输入自定义日期2"/>
                </label>
            </p>
            <p>
                <label for="remark">
                    <span style="width: 100px;text-align: right">备注:</span>
                    <textarea placeholder="请输入备注" name="remark" id="remark" ng-model="editSpareParts.remark"></textarea>
                </label>
            </p>
        </div>
        <div class="errP" style="text-align: center" ng-show="errFlog">表单有空值!!!</div>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="addSparePartsSure()" value="" class="btn">保存</button>
            <button type="button" value="" class="btn" onClick="hideDiv('addSparePartsPop')">取消</button>
        </div>
    </div>
</div>
<!--新增备件 end-->

<!--生产厂商和供应商弹出层-->
<div class="ImportantNote contactCompanyListPop mainContain" id="contactCompanyListPop">
    <div class="headline">
        <span>选择{{contactCompanyName}}</span>
        <img onClick="hideDiv('contactCompanyListPop');popupDiv('addSparePartsPop');" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 0;width: 100%" class="queryDiv" >
        <ul>
            <li>
                <label style="margin-left: 10px" for="code2"><span>单位编码：</span>
                    <input type="text" id="code2" placeholder="请输入单位编码" ng-model="ccQuery.code"/>
                </label>
                <label style="margin-left: 10px" for="contactName"><span>联系人名称：</span>
                    <input type="text" id="contactName" placeholder="请输入联系人名称" ng-model="ccQuery.contactName"/>
                </label>
                <label style="margin-left: 10px" for="name2"><span>单位名称：</span>
                    <input type="text" id="name2" placeholder="请输入单位名称" ng-model="ccQuery.name"/>
                </label>
                <label>
                    <button class="btn" ng-click="onQuery_cc()">查询</button>
                </label>
            </li>
        </ul>
    </div>
    <div class="tableListDiv data-container jurisdiction">
        <table>
            <thead>
            <tr>
                <th style="min-width: 30px;">序号</th>
                <th>单位名称</th>
                <th>默认联系人</th>
                <th>联系电话</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="orderDetail in orderList | filter:QueryName | orderBy:orderDetail.orderNumber" ng-click="changeCC(orderDetail.id,orderDetail.name,$event)" ng-if="orderList.length>0">
                <td class="firstTd">{{$index+1}}</td>
                <td>{{orderDetail.name||'--'}}</td>
                <td>{{orderDetail.contactName||'--'}}</td>
                <td>{{orderDetail.contactPhone||'--'}}</td>
            </tr>
            <tr ng-if="orderList.length<=0||orderList==''||orderList==null||orderList==undefined">
                <td colspan="4">暂无数据</td>
            </tr>
            </tbody>
            <tfoot ng-if="orderList.length>0">
            <tr>
                <td style="text-align: center" colspan="14"><tm-pagination conf="paginationConf_CC"></tm-pagination></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
        <button type="button" ng-click="changeCCSure()" value="" class="btn">保存</button>
        <button type="button" value="" class="btn" onClick="hideDiv('contactCompanyListPop');popupDiv('addSparePartsPop');">取消</button>
    </div>
</div>


<!--保存成功start-->
<div class="ImportantNote SaveSuccess">
    <div class="headline">
        <span>重要提示</span>
        <img onClick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>
        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--保存成功end-->
<!--单个删除弹出框start-->
<div class="ImportantNote deleteSparePartsPop">
    <div class="headline">
        <span>删除备件信息</span>
        <img onClick="hideDiv('deleteSparePartsPop')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/>确认删除选中的备件信息？</p>
        <div class="submitBtn1" style="text-align: center;">
            <input type="button" value="删除"  class="btn" ng-click="deleteSparePartsSure()"/>
            <input type="button" value="取消" class="btn" onClick="hideDiv('deleteSparePartsPop')">
        </div>
    </div>
</div>
<!--单个删除弹出框end-->
<!--审核弹出框 start-->
<div class="ImportantNote auditDeviceRecordBalance">
    <div class="headline">
        <span>外委维修审核</span>
        <img onClick="hideDiv('auditDeviceRecordBalance')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 30px 0 20px 0;width: 840px;max-height: 380px;height: auto;overflow-y: hidden; overflow: auto;" class="businessAuth">
        <div class="titleDiv">
            <span class="tips">设备信息</span>
            <p>
                <label for="deviceCodeAudit">
                    <span style="width: 100px;text-align: right">设备编号:</span>
                    <input readonly id="deviceCodeAudit" ng-model="deviceCodeAudit" type="text" placeholder="请输入设备编号"/>
                </label>
                <label for="deviceNameAudit">
                    <span style="width: 100px;text-align: right">设备名称:</span>
                    <input readonly id="deviceNameAudit" ng-model="deviceNameAudit" type="text" placeholder="请输入设备名称"/>
                </label>
                <label for="specificationAudit">
                    <span style="width: 100px;text-align: right">规格型号:</span>
                    <input readonly id="specificationAudit" ng-model="specificationAudit" type="text" placeholder="请输入规格型号"/>
                </label>
            </p>
            <p>
                <label for="deviceTypeAudit" >
                    <span style="width: 100px;text-align: right">设备分类:</span>
                    <input readonly id="deviceTypeAudit" ng-model="deviceTypeAudit" type="text" placeholder="请输入设备分类"/>
                </label>
                <label for="useDeptAudit">
                    <span style="width: 100px;text-align: right">使用部门:</span>
                    <input readonly id="useDeptAudit" ng-model="useDeptAudit" type="text" placeholder="请输入使用部门"/>
                </label>
                <label for="addressAudit">
                    <span style="width: 100px;text-align: right">所在位置:</span>
                    <input readonly id="addressAudit" ng-model="addressAudit" type="text" placeholder="请输入所在位置"/>
                </label>
            </p>
        </div>
        <div class="titleDiv">
            <span class="tips">报修信息</span>
            <p>
                <label for="happenDateAudit" >
                    <span style="width: 100px;text-align: right">发生时间:</span>
                    <input readonly type="date" id="happenDateAudit" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="happenDateAudit">
                </label>
                <label for="deviceUserAudit">
                    <span style="width: 100px;text-align: right">操作者:</span>
                    <input readonly id="deviceUserAudit" ng-model="deviceUserAudit" type="text" placeholder="请输入操作者"/>
                </label>
                <label for="deviceUserPhoneAudit">
                    <span style="width: 100px;text-align: right">操作者电话:</span>
                    <input readonly id="deviceUserPhoneAudit" ng-model="deviceUserPhoneAudit" type="text" placeholder="请输入操作者电话"/>
                </label>
            </p>
            <p>
                <label for="troubleLevelAudit">
                    <span style="width: 100px;text-align: right">故障等级:</span>
                    <input readonly id="troubleLevelAudit" ng-model="troubleLevelAudit" type="text" placeholder="请输入故障等级"/>
                </label>
                <label for="troubleTypeAudit">
                    <span style="width: 100px;text-align: right">故障类别:</span>
                    <input readonly id="troubleTypeAudit" ng-model="troubleTypeAudit" type="text" placeholder="请输入故障类别"/>
                </label>
                <label for="deviceStatusAudit">
                    <span style="width: 100px;text-align: right">设备状态:</span>
                    <input readonly id="deviceStatusAudit" ng-model="deviceStatusAudit" type="text" placeholder="请输入设备状态"/>
                </label>
            </p>
            <p>
                <label for="orderNoAudit">
                    <span style="width: 100px;text-align: right">维修单号:</span>
                    <input readonly id="orderNoAudit" ng-model="orderNoAudit" type="text" placeholder="请输入维修单号"/>
                </label>
                <label for="troubleRepairDateAudit">
                    <span style="width: 100px;text-align: right">报修时间:</span>
                    <input readonly type="date" id="troubleRepairDateAudit" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="troubleRepairDateAudit">
                </label>
                <label for="createUserAudit">
                    <span style="width: 100px;text-align: right">维修申请人:</span>
                    <input readonly id="createUserAudit" ng-model="createUserAudit" type="text" placeholder="请输入维修申请人"/>
                </label>
            </p>
            <p>
                <label for="troubleRemarkAudit">
                    <span style="width: 100px;text-align: right">故障描述:</span>
                    <textarea readonly placeholder="请输入故障描述" name="troubleRemarkAudit" id="troubleRemarkAudit" ng-model="troubleRemarkAudit"></textarea>
                </label>
            </p>
        </div>
        <div class="titleDiv">
            <span class="tips">内修审核</span>
            <p>
                <label>
                    <span style="width: 100px;text-align: right">审核意见:</span>
                    <b style="width: 135px;display: inline-block;text-align: left;font-weight: 100">
                        <input type="radio" style="display: none"/>
                        <input style="vertical-align: middle;margin-top: 2px;" ng-model="dealStatusAudit" value="1" type="radio" name="dealStatusAudit"/>
                        <span>通过</span>
                        <input style="vertical-align: middle;margin-top: 2px;margin-left: 50px !important;" ng-model="dealStatusAudit" value="2" type="radio" name="dealStatusAudit"/>
                        <span>拒绝</span>
                    </b>
                </label>
            </p>
            <p>
                <label for="dealSuggestAudit">
                    <span style="width: 100px;text-align: right">处理意见:</span>
                    <textarea placeholder="请输入处理意见" name="dealSuggestAudit" id="dealSuggestAudit" ng-model="dealSuggestAudit"></textarea>
                </label>
            </p>
        </div>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" ng-click="auditDeviceRecordSure()" value="" class="btn">审核</button>
            <button type="button" value="" class="btn" onClick="hideDiv('auditDeviceRecordBalance')">取消</button>
        </div>
    </div>
</div>
<!--审核弹出框 end-->
<!--查看详情 start-->
<div class="ImportantNote deviceRecordBalanceDetail">
    <div class="headline">
        <span>详情信息</span>
        <img onClick="hideDiv('deviceRecordBalanceDetail')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 30px 0 20px 0;width: 840px;max-height: 380px;height: auto;overflow-y: hidden; overflow: auto;" class="businessAuth">
        <div class="titleDiv">
            <span class="tips">设备信息</span>
            <p>
                <label for="deviceCodeAuditEdit">
                    <span style="width: 100px;text-align: right">设备编号:</span>
                    <input readonly id="deviceCodeAuditEdit" ng-model="deviceCodeAuditEdit" type="text" placeholder="请输入设备编号"/>
                </label>
                <label for="deviceNameAuditEdit">
                    <span style="width: 100px;text-align: right">设备名称:</span>
                    <input readonly id="deviceNameAuditEdit" ng-model="deviceNameAuditEdit" type="text" placeholder="请输入设备名称"/>
                </label>
                <label for="specificationAuditEdit">
                    <span style="width: 100px;text-align: right">规格型号:</span>
                    <input readonly id="specificationAuditEdit" ng-model="specificationAuditEdit" type="text" placeholder="请输入规格型号"/>
                </label>
            </p>
            <p>
                <label for="deviceTypeAuditEdit" >
                    <span style="width: 100px;text-align: right">设备分类:</span>
                    <input readonly id="deviceTypeAuditEdit" ng-model="deviceTypeAuditEdit" type="text" placeholder="请输入设备分类"/>
                </label>
                <label for="useDeptAuditEdit">
                    <span style="width: 100px;text-align: right">使用部门:</span>
                    <input readonly id="useDeptAuditEdit" ng-model="useDeptAuditEdit" type="text" placeholder="请输入使用部门"/>
                </label>
                <label for="addressAuditEdit">
                    <span style="width: 100px;text-align: right">所在位置:</span>
                    <input readonly id="addressAuditEdit" ng-model="addressAuditEdit" type="text" placeholder="请输入所在位置"/>
                </label>
            </p>
        </div>
        <div class="titleDiv">
            <span class="tips">报修信息</span>
            <p>
                <label for="happenDateAuditEdit" >
                    <span style="width: 100px;text-align: right">发生时间:</span>
                    <input readonly type="date" id="happenDateAuditEdit" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="happenDateAuditEdit">
                </label>
                <label for="deviceUserAuditEdit">
                    <span style="width: 100px;text-align: right">操作者:</span>
                    <input readonly id="deviceUserAuditEdit" ng-model="deviceUserAuditEdit" type="text" placeholder="请输入操作者"/>
                </label>
                <label for="deviceUserPhoneAuditEdit">
                    <span style="width: 100px;text-align: right">操作者电话:</span>
                    <input readonly id="deviceUserPhoneAuditEdit" ng-model="deviceUserPhoneAuditEdit" type="text" placeholder="请输入操作者电话"/>
                </label>
            </p>
            <p>
                <label for="troubleLevelAuditEdit">
                    <span style="width: 100px;text-align: right">故障等级:</span>
                    <input readonly id="troubleLevelAuditEdit" ng-model="troubleLevelAuditEdit" type="text" placeholder="请输入故障等级"/>
                </label>
                <label for="troubleTypeAuditEdit">
                    <span style="width: 100px;text-align: right">故障类别:</span>
                    <input readonly id="troubleTypeAuditEdit" ng-model="troubleTypeAuditEdit" type="text" placeholder="请输入故障类别"/>
                </label>
                <label for="deviceStatusAuditEdit">
                    <span style="width: 100px;text-align: right">设备状态:</span>
                    <input readonly id="deviceStatusAuditEdit" ng-model="deviceStatusAuditEdit" type="text" placeholder="请输入设备状态"/>
                </label>
            </p>
            <p>
                <label for="orderNoAuditEdit">
                    <span style="width: 100px;text-align: right">维修单号:</span>
                    <input readonly id="orderNoAuditEdit" ng-model="orderNoAuditEdit" type="text" placeholder="请输入维修单号"/>
                </label>
                <label for="troubleRepairDateAuditEdit">
                    <span style="width: 100px;text-align: right">报修时间:</span>
                    <input readonly type="date" id="troubleRepairDateAuditEdit" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="troubleRepairDateAuditEdit">
                </label>
                <label for="createUserAuditEdit">
                    <span style="width: 100px;text-align: right">维修申请人:</span>
                    <input readonly id="createUserAuditEdit" ng-model="createUserAuditEdit" type="text" placeholder="请输入维修申请人"/>
                </label>
            </p>
            <p>
                <label for="troubleRemarkAuditEdit">
                    <span style="width: 100px;text-align: right">故障描述:</span>
                    <textarea readonly placeholder="请输入故障描述" name="troubleRemarkAuditEdit" id="troubleRemarkAuditEdit" ng-model="troubleRemarkAuditEdit"></textarea>
                </label>
            </p>
        </div>
        <div class="submitBtn1" style="text-align: center;padding-left: 40px;">
            <button type="button" value="" class="btn" onClick="hideDiv('deviceRecordBalanceDetail')">关闭</button>
        </div>
    </div>
</div>
<!--查看详情 end-->
<script type="text/javascript">
    $(document).ready(function(){
        $(".click").click(function(){
            $(".tip").fadeIn(200);
        });

        $(".tiptop a").click(function(){
            $(".tip").fadeOut(200);
        });

        $(".sure").click(function(){
            $(".tip").fadeOut(100);
        });

        $(".cancel").click(function(){
            $(".tip").fadeOut(100);
        });

    });
</script>
<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
</script>

