<style>
    .isbrush{
        display: none;
    }
</style>
<div id="bg1"></div>
<!--top 导航 start-->
<div style="height: 88px;background:url(images/topbg.gif) repeat-x;">
    <div class="topleft">
        <a href="#/main/home" ui-sref="main.home"><img src="images/logo.png" title="系统首页" /></a>
    </div>

    <ul class="nav">
        <li><a href="#/main/home" ui-sref="main.home" class="selected"><img src="images/icon01.png" title="首页" /><h2>首页</h2></a></li>
        <li><a href="#/main/deviceManage" ui-sref="main.deviceManage"><img src="images/icon02.png" title="设备管理" /><h2>设备管理</h2></a></li>
        <li><a href="#/main/sparePartsManage"  ui-sref="main.sparePartsManage"><img src="images/icon03.png" title="备件仓库" /><h2>备件仓库</h2></a></li>
        <li><a href="#/main/modelToolsManage"  ui-sref="main.modelToolsManage"><img src="images/icon04.png" title="工装模具" /><h2>工装模具</h2></a></li>
        <li><a href="#/main/home" ui-sref="main.home"><img src="images/icon05.png" title="用户管理" /><h2>用户管理</h2></a></li>
        <li><a href="#/main/departmentManage"  ui-sref="main.departmentManage"><img src="images/icon06.png" title="参数设置" /><h2>参数设置</h2></a></li>
        <li><a href="tab.html"  target="rightFrame"><img src="images/icon01.png" title="点巡检" /><h2>点巡检</h2></a></li>
        <li><a href="tab.html"  target="rightFrame"><img src="images/icon02.png" title="导入" /><h2>导入</h2></a></li>
        <li><a href="tab.html"  target="rightFrame"><img src="images/icon03.png" title="导入" /><h2>查看提醒</h2></a></li>
    </ul>

    <div class="topright">
        <ul>
            <li><span><img src="images/help.png" title="帮助"  class="helpimg"/></span><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
            <li><a ng-click="exitSystem()" href="#/login" ui-sref="login">退出</a></li>
        </ul>

        <div class="user">
            <span>admin</span>
            <i>消息</i>
            <b>5</b>
        </div>

    </div>
</div>
<!--top 导航 end-->
<!--left 菜单栏 start-->
<div id="menuLeft" style="float: left">
    <div class="lefttop"><span></span>欢迎您</div>
    <dl class="leftmenu">
        <dd>
            <div class="title">
                <span><img src="images/leftico01.png" /></span>用户管理
            </div>
            <ul class="menuson">
                <li class="active"><cite></cite><a href="#/main/home" ui-sref="main.home" ui-sref-active="active">用户/用户组</a><i></i></li>
                <li><cite></cite><a href="#/main/parameterSetting" ui-sref="main.parameterSetting" ui-sref-active="active">在线用户管理</a><i></i></li>
                <li><cite></cite><a href="#/main/functionManage" ui-sref="main.functionManage" ui-sref-active="active">菜单管理</a><i></i></li>
            </ul>
        </dd>
        <dd>
            <div class="title">
                <span><img src="images/leftico02.png" /></span>通用设置
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="#/main/departmentManage" ui-sref="main.departmentManage" ui-sref-active="active">部门设置</a><i></i></li>
                <li><cite></cite><a href="#/main/contactCompany" ui-sref="main.contactCompany" ui-sref-active="active">往来单位</a><i></i></li>
                <li><cite></cite><a href="#/main/repairGroup" ui-sref="main.repairGroup" ui-sref-active="active">维修工段/班组</a><i></i></li>
            </ul>
        </dd>
        <dd>
            <div class="title">
                <span><img src="images/leftico03.png" /></span>设备参数设置
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="#/main/home" ui-sref="main.home" ui-sref-active="active">全局设置</a><i></i></li>
                <li><cite></cite><a href="#/main/parameterSetting" ui-sref="main.parameterSetting" ui-sref-active="active">设备类型设置</a><i></i></li>
                <li><cite></cite><a href="imgtable.html" target="rightFrame">工装类型设置</a><i></i></li>
                <li><cite></cite><a href="form.html" target="rightFrame">扩展技术参数</a><i></i></li>
                <li><cite></cite><a href="imglist.html" target="rightFrame">审核流程设置</a><i></i></li>
                <li><cite></cite><a href="imglist1.html" target="rightFrame">其他选项设置</a><i></i></li>
                <li><cite></cite><a href="tools.html" target="rightFrame">自定义字段设置</a><i></i></li>
                <li><cite></cite><a href="filelist.html" target="rightFrame">文档类型设置</a><i></i></li>
                <li><cite></cite><a href="tab.html" target="rightFrame">设备列表隐藏/显示</a><i></i></li>
                <li><cite></cite><a href="error.html" target="rightFrame">404页面</a><i></i></li>
            </ul>
        </dd>
        <dd>
            <div class="title">
                <span><img src="images/leftico02.png" /></span>其他设置
            </div>
            <ul class="menuson">
                <li><cite></cite><a href="#">编辑内容</a><i></i></li>
                <li><cite></cite><a href="#">发布信息</a><i></i></li>
                <li><cite></cite><a href="#">档案列表显示</a><i></i></li>
            </ul>
        </dd>
        <dd><div class="title"><span><img src="images/leftico03.png" /></span>编辑器</div>
            <ul class="menuson">
                <li><cite></cite><a href="#">自定义</a><i></i></li>
                <li><cite></cite><a href="#">常用资料</a><i></i></li>
                <li><cite></cite><a href="#">信息列表</a><i></i></li>
                <li><cite></cite><a href="#">其他</a><i></i></li>
            </ul>
        </dd>
        <dd><div class="title"><span><img src="images/leftico04.png" /></span>日期管理</div>
            <ul class="menuson">
                <li><cite></cite><a href="#">自定义</a><i></i></li>
                <li><cite></cite><a href="#">常用资料</a><i></i></li>
                <li><cite></cite><a href="#">信息列表</a><i></i></li>
                <li><cite></cite><a href="#">其他</a><i></i></li>
            </ul>
        </dd>
        <dd class="deviceManage hide">
            <div class="title">
                <span><img src="images/leftico01.png" /></span>设备管理
            </div>
            <ul class="menuson">
                <li class="active"><cite></cite><a href="#/main/deviceManage" ui-sref="main.deviceManage" ui-sref-active="active">设备台账</a><i></i></li>
                <li><cite></cite><a href="#/main/deviceManage" ui-sref="main.deviceManage" ui-sref-active="active">保养/维修</a><i></i></li>
                <li><cite></cite><a href="#/main/deviceManage" ui-sref="main.deviceManage" ui-sref-active="active">业务管理</a><i></i></li>
                <li><cite></cite><a href="#/main/deviceManage" ui-sref="main.deviceManage" ui-sref-active="active">分析统计</a><i></i></li>
                <li><cite></cite><a href="#/main/deviceManage" ui-sref="main.deviceManage" ui-sref-active="active">文档管理</a><i></i></li>
            </ul>
        </dd>
        <dd class="sparePartsManage hide">
            <div class="title">
                <span><img src="images/leftico01.png" /></span>备件仓库
            </div>
            <ul class="menuson">
                <li class="active"><cite></cite><a href="#/main/sparePartsManage" ui-sref="main.sparePartsManage" ui-sref-active="active">配件台账</a><i></i></li>
                <li><cite></cite><a href="#/main/sparePartsManage" ui-sref="main.sparePartsManage" ui-sref-active="active">采购申请</a><i></i></li>
                <li><cite></cite><a href="#/main/sparePartsManage" ui-sref="main.sparePartsManage" ui-sref-active="active">领用申请</a><i></i></li>
                <li><cite></cite><a href="#/main/sparePartsManage" ui-sref="main.sparePartsManage" ui-sref-active="active">出入库单据</a><i></i></li>
                <li><cite></cite><a href="#/main/sparePartsManage" ui-sref="main.sparePartsManage" ui-sref-active="active">分析统计</a><i></i></li>
            </ul>
        </dd>
        <dd class="modelToolsManage hide">
            <div class="title">
                <span><img src="images/leftico01.png" /></span>工装模具
            </div>
            <ul class="menuson">
                <li class="active"><cite></cite><a href="#/main/modelToolsManage" ui-sref="main.modelToolsManage" ui-sref-active="active">工装工具总账</a><i></i></li>
                <li><cite></cite><a href="#/main/modelToolsManage" ui-sref="main.modelToolsManage" ui-sref-active="active">工装工具明细账</a><i></i></li>
                <li><cite></cite><a href="#/main/modelToolsManage" ui-sref="main.modelToolsManage" ui-sref-active="active">历史记录</a><i></i></li>
            </ul>
        </dd>
    </dl>
</div>

<!--left 菜单栏 end-->
<!--right 内容栏 start-->
<div style="position: absolute;overflow-x: scroll;left: 187px;width: 90%;height: auto;">
    <div style="overflow-y: scroll;width:110%" ui-view>

    </div>
</div>
<!--right 内容栏 end-->
<script type="text/javascript">
    $(function(){
        //顶部导航切换
        $(".nav li a").click(function(){
            $(".nav li a.selected").removeClass("selected");
            $(this).addClass("selected");
        });
        //导航切换
        $(".menuson li").click(function(){
            $(".menuson li.active").removeClass("active");
            $(this).addClass("active");
        });

        $('.title').click(function(){
            var $ul = $(this).next('ul');
            $('dd').find('ul').slideUp();
            if($ul.is(':visible')){
                $(this).next('ul').slideUp();
            }else{
                $(this).next('ul').slideDown();
            }
        });
    });
</script>