<style>
    .isbrush{
        display: none;
    }
    .mainContain .queryDiv ul li label{
        margin: 0;
    }
</style>
<body>
<!--<div id="bg1"></div>-->
<!--<div>-->


    <!--<div class="mainbox">-->
        <!--<div class="leftinfo">-->
            <!--<div class="listtitle"><a href="#" class="more1">更多</a>数据统计</div>-->
            <!--<div style="width: 405px;display: inline-block;" id="container" class="maintj"></div>-->
            <!--<div style="width: 405px;display: inline-block;" id="container1" class="maintj"></div>-->
            <!--<div style="width: 405px;display: inline-block;" id="container2" class="maintj"></div>-->
        <!--</div>-->
        <!--&lt;!&ndash;leftinfo end&ndash;&gt;-->
        <!--<div class="mainleft">-->
            <!--<div class="leftinfos">-->
                <!--<div class="infoleft">-->
                    <!--<div class="listtitle"><a href="#" class="more1">更多</a>待办事项</div>-->
                    <!--<ul class="newlist">-->
                        <!--<li><a href="#">上海自贸区今日正式挂牌成立</a><b>10-09</b></li>-->
                        <!--<li><a href="#">习近平将访东南亚两国 首次出席APEC峰会</a><b>10-08</b></li>-->
                        <!--<li><a href="#">最高法:谎称炸弹致航班备降者从重追刑责</a><b>10-09</b></li>-->
                        <!--<li><a href="#">华北大部遭遇雾霾天 北京全城陷重污染</a><b>10-06</b></li>-->
                        <!--<li><a href="#">"环保专家"董良杰涉嫌寻衅滋事被刑拘</a><b>10-05</b></li>-->
                        <!--<li><a href="#">中央巡视组：重庆对一把手监督不到位</a><b>10-04</b></li>-->
                        <!--<li><a href="#">囧!悍马没改好成华丽马车(图)</a><b>10-03</b></li>-->
                    <!--</ul>-->

                <!--</div>-->
                <!--<div class="inforight">-->
                    <!--<div class="listtitle"><a href="#" class="more1">添加</a>常用工具</div>-->

                    <!--<ul class="tooli">-->
                        <!--<li><span><img src="images/d01.png" /></span><p><a href="#">信息资料</a></p></li>-->
                        <!--<li><span><img src="images/d02.png" /></span><p><a href="#">编辑</a></p></li>-->
                        <!--<li><span><img src="images/d03.png" /></span><p><a href="#">记事本</a></p></li>-->
                        <!--<li><span><img src="images/d04.png" /></span><p><a href="#">任务日历</a></p></li>-->
                        <!--<li><span><img src="images/d05.png" /></span><p><a href="#">图片管理</a></p></li>-->
                        <!--<li><span><img src="images/d06.png" /></span><p><a href="#">交易</a></p></li>-->
                        <!--<li><span><img src="images/d07.png" /></span><p><a href="#">档案袋</a></p></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;mainleft end&ndash;&gt;-->
        <!--<div class="mainright">-->
            <!--<div class="dflist">-->
                <!--<div class="listtitle"><a href="#" class="more1">更多</a>最新信息</div>-->
                <!--<ul class="newlist">-->
                    <!--<li><a href="#">上海自贸区今日正式挂牌成立</a></li>-->
                    <!--<li><a href="#">习近平将访东南亚两国 首次出席APEC峰会</a></li>-->
                    <!--<li><a href="#">最高法:谎称炸弹致航班备降者从重追刑责</a></li>-->
                    <!--<li><a href="#">华北大部遭遇雾霾天 北京全城陷重污染</a></li>-->
                    <!--<li><a href="#">"环保专家"董良杰涉嫌寻衅滋事被刑拘</a></li>-->
                    <!--<li><a href="#">中央巡视组：重庆对一把手监督不到位</a></li>-->
                    <!--<li><a href="#">囧!悍马没改好成华丽马车(图)</a></li>-->
                    <!--<li><a href="#">澳门黄金周加派稽查人员监察出租车违规行为</a></li>-->
                    <!--<li><a href="#">香港环境局长吁民众支持政府扩建堆填区</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="dflist1">-->
                <!--<div class="listtitle"><a href="#" class="more1">更多</a>信息统计</div>-->
                <!--<ul class="newlist">-->
                    <!--<li><i>会员数：</a></i>2535462</li>-->
                    <!--<li><i>文档数：</a></i>5546</li>-->
                    <!--<li><i>普通文章：</a></i>2315</li>-->
                    <!--<li><i>软件：</a></i>1585</li>-->
                    <!--<li><i>评论数：</a></i>5342</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;mainright end&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->


<div>
    <div class="mainbox" style="box-sizing: border-box">
        <div class="home-left" style="float: left;margin-bottom: 10px">
            <div class="home-title">
                <div class="home-title-name">故障维修</div>
                <p class="home-title-total">
                    总共{{countDevice||'0'}}台
                </p>
                <p class="home-title-num">
                    故障{{countTrouble||'0'}}台，正在维修{{countRepairing||'0'}}台
                </p>
            </div>
            <div id="troubleTable" class="home-table">
                <div style="width: 100%">
                    <p style="font-size: 0;" ng-class="{'table-animation':$index==0}" ng-repeat="item in list1">
                        <span ng-bind="item.deviceName"></span>
                        <span ng-bind="item.status"></span>
                    </p>
                    <p ng-show="list1==''||list1==null||list1==undefined">
                        <span style="width: 100%">暂无故障维修数据</span>
                    </p>
                </div>
            </div>
            <div class="home-title" style="margin-top: 10px">
                <div class="home-title-name">巡检计划</div>
                <p class="home-title-total">今天{{todayPlanNum||'0'}}个</p>
                <p class="home-title-num">已执行{{executedPlanNum||'0'}}个，未执行{{notExecutedPlanNum||'0'}}个</p>
            </div>
            <div id="patrolTable" class="home-table">
                <div style="width: 100%">
                    <p style="font-size: 0;" ng-class="{'table-animation2':$index==0}" ng-repeat="item in list2">
                        <span ng-bind="item.deviceName"></span>
                        <span ng-bind="item.status"></span>
                    </p>
                    <p ng-show="list2==''||list2==null||list2==undefined">
                        <span style="width: 100%">暂无巡检计划数据</span>
                    </p>
                </div>
            </div>
            <div class="home-title" style="margin-top: 10px">
                <div class="home-title-name">润滑计划</div>
                <p class="home-title-total">今天{{todayPlanNum||'0'}}个</p>
                <p class="home-title-num">已执行{{executedPlanNum||'0'}}个，未执行{{notExecutedPlanNum||'0'}}个</p>
            </div>
            <div id="maintainTable" class="home-table">
                <div style="width: 100%">
                    <p style="font-size: 0;" ng-class="{'table-animation3':$index==0}" ng-repeat="item in list3">
                        <span ng-bind="item.deviceName"></span>
                        <span ng-bind="item.status"></span>
                    </p>
                    <p ng-show="list3==''||list3==null||list3==undefined">
                        <span style="width: 100%">暂无润滑计划数据</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%;padding-left: 370px;box-sizing: border-box;margin-top: -8px;">
        <h1 style="padding-left: 9px;box-sizing: border-box;font-size: 26px;height: 39px;line-height: 43px;">统计报表</h1>
        <div class="rightinfo mainContain" id="mainContain1">
            <div style="padding: 20px 0;width: 100%;background: #edf6fa;border-radius: 10px" class="queryDiv" >
                <ul>
                    <li>
                        <label for="name" >
                            <span style="width: 100px;text-align: right">设备名称:</span>
                            <input type="text" id="name" ng-model="name" placeholder="请输入设备名称">
                        </label>
                        <label for="departmentManage" >
                            <span style="width: 100px;text-align: right">部门:</span>
                            <select id="departmentManage" ng-model="departmentManage" ng-options="deviceTypeListDetail.id as deviceTypeListDetail.name for deviceTypeListDetail in departmentManageLists">
                                <option value="">请选择部门</option>
                            </select>
                        </label>
                        <label for="beginTime" >
                            <span style="width: 100px;text-align: right">开始时间:</span>
                            <input type="date" id="beginTime" ng-model="beginTime">
                        </label>
                        <label for="endTime" >
                            <span style="width: 100px;text-align: right">结束时间:</span>
                            <input type="date" id="endTime" ng-model="endTime">
                        </label>
                        <label>
                            <button style="margin-left: 10px;" class="btn" ng-click="onQuery()">查询</button>
                        </label>
                    </li>
                </ul>
            </div>
            <div style="padding: 20px 0;width: 100%;min-height:485px;background: #edf6fa;border-radius: 10px;margin-top: 20px">
                <h1 style="padding-left: 0;box-sizing: border-box;font-size: 32px;text-align: center;margin-bottom: 25px;">
                    热媒锅炉&nbsp;&nbsp;&nbsp;&nbsp;设备编号：HS-RMGL-002
                </h1>

                <div style="text-align: center">
                    <div style="width: 32%;display: inline-block;min-width: 362px;margin-bottom: 20px;" id="container" class="maintj"></div>
                    <div style="width: 32%;min-width: 362px;margin-bottom: 20px;display: inline-block;height: 175px;background: white" id="container1" class="maintj">
                        <!--<img src="../../images/img07.png" alt="">-->
                        <!--<p style="position: absolute;left: 0;top: 155px;text-align: center;width: 100%;font-size: 14px">故障部位</p>-->
                    </div>
                    <div style="width: 32%;display: inline-block;margin-bottom: 20px;min-width: 362px;" id="container2" class="maintj"></div>
                </div>
                <ul style="padding: 10px 40px;box-sizing: border-box;font-size: 0">
                    <li style="display: inline-block;width: 50%;height: 30px;line-height: 30px;font-size: 16px">点检计划执行率：99%</li>
                    <li style="display: inline-block;width: 50%;height: 30px;line-height: 30px;font-size: 16px">MTBF： 6小时</li>
                    <li style="display: inline-block;width: 50%;height: 30px;line-height: 30px;font-size: 16px">润滑计划执行率：90%</li>
                    <li style="display: inline-block;width: 50%;height: 30px;line-height: 30px;font-size: 16px">MTTR：24小时</li>
                    <li style="display: inline-block;width: 50%;height: 30px;line-height: 30px;font-size: 16px">检修计划执行率：92%</li>
                    <li style="display: inline-block;width: 50%;height: 30px;line-height: 30px;font-size: 16px">完好率：84%</li>
                    <li style="display: inline-block;width: 50%;height: 30px;line-height: 30px;font-size: 16px">检修计划占比：67%</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script>

//     // 本月润滑计划
//     new Highcharts.Chart({
//         credits: {
//             enabled:false,
//             text: 'Example.com',
//             position:{
//                 align:'center'
//             },
//             href: 'http://www.example.com'
//         },
//         chart: {
//             plotBackgroundColor: null,
//             plotBorderWidth: null,
//             plotShadow: false,
//             type: "pie",
//             height:175,
//             width:405,
//             renderTo:"container1"
//         },
//         title: {
//             text: '本月润滑计划',
//             floating:true,
//             y:160,
//             style:{
//                 fontSize:'14px'
//             }
//         },
//         tooltip: {
//             pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
//         },
//         plotOptions: {
//             pie: {
//                 allowPointSelect: true,
//                 cursor: 'pointer',
//                 dataLabels: {
//                     enabled: false
//                 },
//                 showInLegend: true
//             }
//         },
//         legend: {
//             align: 'left',
//             verticalAlign: 'top',
//             layout: 'vertical',
//             x: 0,
//             y: 0,
//             floating: true
//         },
//         series: [{
//             name: '占比',
//             colorByPoint: true,
//             data: [{
//                 name: '日常保养',
//                 y: 20
//             }, {
//                 name: '常规润滑',
//                 y: 20
// //                sliced: true,
// //                selected: true
//             }, {
//                 name: '二级检修保养',
//                 y: 20
//             }, {
//                 name: '三级检修保养',
//                 y: 20
//             }, {
//                 name: '项目检修保养',
//                 y: 10
//             }, {
//                 name: '年度检修保养',
//                 y: 10
//             }]
//         }]
//     });
    //设备运行状态

</script>