<div class="mainContain">
    <!--当前页的导航 start-->
    <div class="cureent-nav">
        <p><span>当前位置：</span><span>登录</span>&gt;
            <a title="刷新" class="reload pull-right" ng-click="reload()" href="javascript:void(0)"></a>
        </p>
    </div>
    <!--当前页的导航 end-->
    <!--div start-->
    <div class="queryDiv">
        <p><label>姓名</label><input type="text" id="userName" ng-model="username" placeholder="请输入姓名"/></p>
        <p><label>密码</label><input type="password" id="passWord" ng-model="password" placeholder="请输入密码"/></p>
        <input type="submit" ng-click="onLogin()" value="确定" class="btn">
    </div>
</div>

