<!--选择备注红旗 start-->
<div class="ImportantNote redFlag">
    <p><input type="radio" name="flag"/><span class="greyN flagWhole"></span><input type="radio" name="flag"/><span class="redN flagWhole"></span><input type="radio" name="flag"/><span class="orangeN flagWhole"></span><input type="radio" name="flag"/><span class="yellowN flagWhole"></span><input type="radio" name="flag"/><span class="greenN flagWhole"></span><input type="radio" name="flag"/><span class="qinN flagWhole"></span><input type="radio" name="flag"/><span class="blueN flagWhole"></span><input type="radio" name="flag"/><span class="purpleN flagWhole"></span></p>
    <p><textarea>输入备注内容</textarea></p>
    <div class="submitBtn1 remark" style="text-align: center;">
        <input style="margin-right:13px;" type="button" value="保存" class="btn">
        <input type="button" value="取消" class="btnNoAct" onClick="hideDiv('redFlag')">
    </div>

</div>
<!--选择备注红旗 end-->