<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tech.yozo.factoryrp">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
            android:name="tech.yozo.factoryrp.FactoryrpApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.LoginActivity"
                android:label="@string/app_name"
                android:theme="@style/NoTitleFullscreen"
                android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.MainActivity"
                android:label="@string/manufacturer"/>
        <activity
                android:name=".scan.CaptureActivity"
                android:label="@string/title_scan_device"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.DeviceDetailActivity"
                android:label="@string/title_device_info">
        </activity>
        <activity
                android:name=".ui.RepairDetailActivity"
                android:label="@string/title_device_repair_record">
        </activity>
        <activity
                android:name=".ui.RepairAddActivity"
                android:label="@string/title_device_add_record"
                android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
                android:name=".ui.RepairRecordListActivity"
                android:label="@string/title_repair_order">
        </activity>
        <activity
                android:name=".ui.PartsDetailActivity"
                android:label="@string/title_parts_info">
        </activity>
        <activity
                android:name=".ui.DeviceAddActivity"
                android:label="@string/action_add_device"
                android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
                android:name=".ui.TroubleReportActivity"
                android:label="@string/action_ask_repair"
                android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
                android:name=".ui.DeviceSelectActivity"
                android:label="@string/title_select_device">
        </activity>
        <activity
                android:name=".ui.PartsSelectActivity"
                android:label="@string/title_select_parts">
        </activity>
        <activity
                android:name=".scan.ScanActivity"
                android:label="@string/title_scan_device">
        </activity>
        <activity
                android:name=".ui.AboutUsActivity"
                android:label="@string/about_us">
        </activity>
        <activity
                android:name=".ui.RepairValidateActivity"
                android:label="@string/title_repair_validate">
        </activity>
        <activity
                android:name=".ui.EngineerSelectActivity"
                android:label="@string/title_select_maintainer">
        </activity>
        <activity
                android:name=".ui.InspectDeviceActivity"
                android:label="@string/title_inspect_devices">
        </activity>
        <activity
                android:name=".ui.InspectDetailActivity"
                android:label="@string/title_inspect_detail">
        </activity>
        <activity
                android:name=".ui.MaintainListActivity"
                android:label="@string/title_maintain_task">
        </activity>
        <activity
                android:name=".ui.MaintainDetailActivity"
                android:label="@string/title_maintain_detail">
        </activity>
        <activity android:name=".ui.RepairDetailSimpleActivity">
        </activity>
        <activity android:name=".ui.TroubleAuditActivity"
                  android:label="@string/title_trouble_audit">
        </activity>
        <activity android:name=".ui.DeviceQRCodeActivity"
                  android:label="@string/title_qrcode_gen">
        </activity>
        <activity android:name=".ui.ChangePasswdActivity"
                  android:label="@string/title_change_passwd">
        </activity>
    </application>

</manifest>