.inforight{
    float: left;
    margin-left: 10px;
}
/*.ImportantNote textarea{*/
    /*resize: none;*/
/*}*/


.contentBody{
    /*background-color: #00a2d4;*/
    padding: 16px;
}
.contentBody .tableListDiv{
    width: 100%;
    border: 1px solid #e6e6e6;
}
.contentBody .tableListDiv ul{
    width: 100%;
    position: relative;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.contentBody .tableListDiv .tableUl{
    width: 100%;
    border-top:none ;
}
.contentBody .tableListDiv li{
    /*float: left;*/
    /*width: 33%;*/
    display: inline-block;
    height: 32px;
    line-height: 32px;
}
.contentBody .tableListDiv .emptyTd{
    width: 5%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;z-index: 5;
    line-height: 27px;
}
.contentBody .tableListDiv .deviceName{
    position: relative;
    padding-left: 4%;
    padding-right: 300px;
}
.contentBody .tableListDiv .menuCF{
    position: relative;
    display: inline-block;
    width: 10%;
    padding-left: 4%;
}
.contentBody .tableListDiv .menuCM{
    position: relative;
    display: inline-block;
    width: 25%;
}
.contentBody .tableListDiv .menuCE{
    position: relative;
    padding-right: 300px;
    width: 30%;
    display: inline-block;
}

.contentBody .tableListDiv .ccc{
    position: absolute;
    right: 0;
    width: 30%;
    text-align: center;
    top: 0;
    z-index: 5;
}

.contentBody .tableListDiv .a_btn{
    margin-right: 20px;
    color: #00a4ac;
}
.contentBody .tableListDiv .a_btn:hover{
    color: #f63007;
}
.contentBody .tableListDiv .emptyTd a{
    font-size: 24px;
}
.checkBoxUl{
    padding-left: 20px;
    box-sizing: border-box;
    max-height: 400px;
    overflow: auto;

}
.subRoleDiv{
    padding-left: 30px;
    box-sizing: border-box;
}
.checkBoxUl li{
    display: inline-block;
    width: auto;
    /*height: 30px;*/
    line-height: 30px;
    padding: 5px;
    margin-right: 16px;
}
.checkBoxUlRole li{
    display: block;
}

.checkBoxUl li input[type='checkbox']{
    margin-right: 8px;
}

.errP{
    color: red;
}



#mainContain1 .queryDiv ul li label span{
    width: auto;
}
#addP p{
    text-align: left;
}

input[type="number"]{
    text-indent: 5px !important;
    line-height: 30px;
    border-radius: 2px 2px 2px 2px !important;
    border: 1px solid #e6e6e6;
}

.contactCompanyListPop{
    min-width: 720px;
}
.contactCompanyListPop table{
    width: 100%;
}


.ccTr{
    background-color: #ff6f09;!important;
}
#contactCompanyListPop .ccTr:hover{
    background: #ff6f09;!important;
}
#deviceAddressPop .ccTr:hover{
    background: #ff6f09;!important;
}
.changedDiv{
    position: absolute;
    right: 5px;
    top: -6px;
    width: 28px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

.processAuditor{
    position: relative;
    min-height: 350px;
}
.processAuditor .processAuditorLeft{
    position: absolute;
    width: 40%;
    left: 12px;
    height: 320px;
    /*border: 1px solid rgb(230,230,230);*/
}
.processAuditor .processAuditorRight{
    position: absolute;
    width: 40%;
    right: 12px;
    height: 320px;
    /*border: 1px solid rgb(230,230,230);*/
}

.ImportantNote .changeTable{
    min-width: auto;width: 100%;
    /*min-height: 320px;*/
}
.changeTable tr{
    cursor: pointer;
}











