.inforight{
    float: left;
    margin-left: 10px;
}
/*.ImportantNote textarea{*/
    /*resize: none;*/
/*}*/


.contentBody{
    /*background-color: #00a2d4;*/
    padding: 16px;
}
.contentBody .tableListDiv{
    width: 100%;
    border: 1px solid #e6e6e6;
}
.contentBody .tableListDiv ul{
    width: 100%;
    position: relative;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.contentBody .tableListDiv .tableUl{
    width: 100%;
    border-top:none ;
}
.contentBody .tableListDiv li{
    /*float: left;*/
    /*width: 33%;*/
    display: inline-block;
    height: 32px;
    line-height: 32px;
}
.contentBody .tableListDiv .emptyTd{
    width: 5%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;z-index: 5;
    line-height: 27px;
}
.contentBody .tableListDiv .deviceName{
    position: relative;
    padding-left: 4%;
    padding-right: 300px;
}
.contentBody .tableListDiv .menuCF{
    position: relative;
    display: inline-block;
    width: 10%;
    padding-left: 4%;
}
.contentBody .tableListDiv .menuCM{
    position: relative;
    display: inline-block;
    width: 25%;
}
.contentBody .tableListDiv .menuCE{
    position: relative;
    padding-right: 300px;
    width: 30%;
    display: inline-block;
}

.contentBody .tableListDiv .ccc{
    position: absolute;
    right: 0;
    width: 30%;
    text-align: center;
    top: 0;
    z-index: 5;
}

.contentBody .tableListDiv .a_btn{
    margin-right: 20px;
    color: #00a4ac;
}
.contentBody .tableListDiv .a_btn:hover{
    color: #f63007;
}
.contentBody .tableListDiv .emptyTd a{
    font-size: 24px;
}
.checkBoxUl{
    padding-left: 20px;
    box-sizing: border-box;
    max-height: 400px;
    overflow: auto;

}
.subRoleDiv{
    padding-left: 30px;
    box-sizing: border-box;
}
.checkBoxUl li{
    display: inline-block;
    width: auto;
    /*height: 30px;*/
    line-height: 30px;
    padding: 5px;
    margin-right: 16px;
}
.checkBoxUlRole li{
    display: block;
}

.checkBoxUl li input[type='checkbox']{
    margin-right: 8px;
}

.errP{
    color: red;
}



#mainContain1 .queryDiv ul li label span{
    width: auto;
}
#addP p{
    text-align: left;
}

input[type="number"]{
    text-indent: 5px !important;
    line-height: 30px;
    border-radius: 2px 2px 2px 2px !important;
    border: 1px solid #e6e6e6;
}

.contactCompanyListPop{
    min-width: 720px;
}
.contactCompanyListPop table{
    width: 100%;
}


.ccTr{
    background-color: #ff6f09;!important;
}
#contactCompanyListPop .ccTr:hover{
    background: #ff6f09;!important;
}
#deviceAddressPop .ccTr:hover{
    background: #ff6f09;!important;
}
#iPlanDevicePopup .ccTr:hover{
    background: #ff6f09;!important;
}
.changedDiv{
    position: absolute;
    right: 1px;
    top: -5px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

.processAuditor{
    position: relative;
    min-height: 350px;
}
.processAuditor .processAuditorLeft{
    position: absolute;
    width: 40%;
    left: 12px;
    height: 320px;
    /*border: 1px solid rgb(230,230,230);*/
}
.processAuditor .processAuditorRight{
    position: absolute;
    width: 40%;
    right: 12px;
    height: 320px;
    /*border: 1px solid rgb(230,230,230);*/
}

.ImportantNote .changeTable{
    min-width: auto;width: 100%;
    /*min-height: 320px;*/
}
.changeTable tr{
    cursor: pointer;
}
.popup_div{
    padding-left: 104px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: -8px;
    width: 100%;
}
.popup_div_table{
    width: 614px;
}
.ImportantNote .popup_div_table tr th{
    padding: 5px 0;
}
.popup_div_table button{
    background-color: #00a2d4;
    padding:5px 8px;
    width: 80px;
    border-radius: 3px;
    color: #e6e6e6;
    cursor: pointer;
    outline: none;
}
#addP1{
    padding:16px;
    box-sizing: border-box;
}
.popup_div_table_XJXM{
    box-sizing: border-box;
    width: 100%;
}

.ImportantNote .popup_div_table_XJXM tbody tr:hover{
    background: none;
}
.add_P_tr input,.ImportantNote .add_P_tr select{
    width: 110px;
}

.ImportantNote .add_P_tr td{
    padding: 5px;
}
.displayNone{
    display: none;
}
.displayBlock{
    display: block;
}

textarea{
    resize: none;
}

#iPlanPopup_div input,#iPlanPopup_div select{
    width: 252px;
}
#iPlanPopup_div p,#iPlanDevicePopup_div p{
    text-align: left;
}
.executorsPopup{
    min-width: 840px;
}
.iPlan_popup_table{
    width: 100%;
}

#iPlanDevicePopup_div{
    position: relative;
}
.iPlanDevicePopup_div_btn{
    position: absolute;
    right: 20px;
    top: 40px;
    width: 80px;
    height: 80px;
    background-color: #71B9FE;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    color: white;
}

#p_t_l input,#p_t_l  select{
    width: 252px;
}
.ImportantNote #p_t_l p{
    text-align: left;
}


#uploadFileDiv{
    margin-top: 10px;
}
#uploadFileDiv .choose-book{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}

#uploadFileDiv .choose-book input[type="file"]{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
}

#uploadFileDiv .uploadFileBtn{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    /*width: 80px;*/
    color: #71B9FE;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    outline: none;
}
.uploadImgLi{
    display: inline-block;vertical-align: middle;margin-right: 5px;position: relative;
}
.topDeleteDiv{
    position: absolute;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,.2);
    text-align: right;
    line-height: 30px;
    opacity: 0.5;
    /*display: none;*/
}
.padding-left-187{
    padding-left: 187px;
}


.home-left{
    max-width: 360px;

}
.home-title{
    background-color: #edf6fa;
    position: relative;
    max-width: 360px;
    border: 1px solid #edf6fa;
}
.home-title p{
    color:#252323;
}
.home-title-name{
    max-width: 360px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #252323;
    padding-left: 10px;
    box-sizing: border-box;
    text-align: left;
}
.home-title-total{
    position: absolute;
    right: 10px;
    top: 5px;
}
.home-title-num{
    position: absolute;
    right: 10px;
    top: 25px;
}
.home-table span i{
    font-style: inherit;
}
.home-table{
    height: 170px;
    width: 360px;
    border: 1px solid #cae6f3;
    border-top: none;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}
.home-table span{
    border: 1px solid #cae6f3;
    height: 34px;
    border-left: none;
    border-right: none;
}
.home-table span:first-child{
    border-right: 1px solid #cae6f3;
}
.home-table span{
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
    width: 50%;
    border-bottom: none;
    box-sizing: border-box;
}
.table-animation,.table-animation2,.table-animation3{
    /*margin-top: -34px;*/
    transition: margin-top 1s;
}
.maintj{
    vertical-align: middle;
}