<style>
.btn {
    width: auto;
    min-width: 80px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 5px 20px 0 0;
    cursor: pointer;
    background: #4da7fd
}

.btns {
    min-width: 70px;
    width: auto;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 5px 20px 0 0;
    cursor: pointer;
    background: #ff8208
}

.remarkDiv {
    padding: 10px;
}

.mainContain .orderDetailList ul {
    min-height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f6f6f6;
    height: auto;
}
.mainContain .orderDetailList h1{
    width: 100%;
}
/*.mainContain .orderDetailList ul:first-child{*/
/*background: #4da7fd;*/
/*}*/
/*.mainContain .orderDetailList ul:first-child li{*/
/*background: #4da7fd;*/
/*color: #fff;*/
/*}*/
.mainContain .orderDetailList ul li {
    width: 33%;
    float: left;
    border: none;
    clear: none;

}

.mainContain .orderDetailList .alignPattern tr td {
    padding: 0 3px;
    text-indent: 0;
    text-align: center;
}
.mainContain .orderDetailList .alignPattern tr th {
    padding: 0 3px;
    text-indent: 0;
    text-align: center;
}

.mainContain .orderDetailInfo .orderDetailInfoList table tr th {
    background: #e7ecf2;
}

.mainContain .orderDetailList .diTabl tr td {
    text-indent: 2px;
    padding-left: 0;
}

.mainContain .orderDetailList .appCheatList ul.tabList li {
    border: none;
    float: left;
    overflow: hidden;
    width: 200px;
    text-align: center;
    clear: none;
    background-color: #f6f6f6;
    margin-right: 20px;
    cursor: pointer;
    text-indent: 0;
    border: none;
    margin-bottom: 5px;
}

.mainContain .orderDetailList h4 {
    width: 100%;
}

.mainContain ol {
    margin: 5px 10px 0px 10px;
}

.mainContain ol li {
    border: none;
    float: left;
    overflow: hidden;
    width: auto;
    text-align: left;
    clear: none;
    line-height: 25px;

    margin-right: 12px;

}

.mainContain .orderDetailList .appCheatList ul {
    border: none;
}

.mainContain .orderDetailList .appCheatList ul.tabList li.activeApp {
    background-color: #4da7fd;
    color: #fff;
    text-indent: 0;
    border: none;
}

.page-list .pagination span {
    text-indent: 0;
}

.mainContain .orderDetailList ul li {
    border: none;
}

.mainContain .orderDetailList h3 {
    padding: 5px 5px 0px 25px;
    color: #333;
    font-size: 17px;
}

.loanq tr {
    border-bottom: 1px solid #ccc;
    line-height: 35px;
}

.loanq tr th {
    background-color: #fff;
    text-align: center;
}

/*.borderLine{*/
/*border-bottom: 1px solid #ccc;*/
/*}*/
.againResualt {

    width: 876px;
    position: absolute;
    left: 150px;
    top: 10px;
}

.againResualt > li {
    border-bottom: 1px solid #e6e6e6;
    width: 730px;
    line-height: 35px !important;
    height: 35px !important;

}

.againResualt > li:hover {
    background: #e6e6e6;
}

.checkResult {
    position: absolute;
    left: 335px;
    width: 330px;
    top: 0px;

}

.checkResult > li {
    width: 330px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    cursor: pointer;
}

.detailAgainstCheat {
    position: absolute;
    width: 90px;
    left: 922px;
}

.borderLine {
    border-bottom: 1px dashed #ccc;
    width: 1026px;
}

.borderLine > span {
    font-weight: bold;
}

.btn {
    float: none !important;
}

.conclusion {
    position: absolute;
    left: 672px;
    top: 0;
}
.bg-color{
    background-color: #CCCCCC;
}
.clickNav{
    position: fixed;
    width: 65px;
    background-color: #ffffff;
    margin: 10px;
    top: calc(50% - 576/2)!important;
    z-index: 10000;
    right: 0;
    box-shadow: 0px 0px 2px 2px #DDDDDD;
}
.clickNav >ul>li{
    padding: 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: #808080;
    height: 70px!important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.tableListDiv .titles{
    background: #e7ecf2;
}
.tableListDiv .titles li{
    line-height: 45px;
}
.tableListDiv ul{
    min-height: 45px;
    display: inline-block;
    width: 100%;
    border: 1px solid #e6e6e6;
    margin-top: -5px;
}
.tableListDiv ul .detail{
    clear: both;
    background: #f6f6f6;
    position: relative;
    height: auto;
    padding-bottom: 15px;
}
.tableListDiv ul .detail svg{
    position: absolute;
    top: -23px;
    left: 97px;
}
.tableListDiv ul .detail p{
    display: inline-block;
    width: 100%;
    margin: 15px auto auto 98px;
}
.tableListDiv ul .detail p label span{
    margin-right: 0;
}
.tableListDiv ul .detail p span{
    margin-right: 100px;
}
.tableListDiv ul li{
    width: 14.2%;
    height: auto;
    line-height: 45px;
    float: left;
    text-align: center;
    position: relative;
}
.tableListDiv ul li svg{
    position: absolute;
    top: 14px;
    left: 48px;
    cursor: pointer;
}
.has-switch{
    top:8px;
    margin-right: 10px;;
}
.has-switch span{
    font-size: 12px !important;
}
.has-switch label{
    font-size: 12px !important;
}
.businessAuth p input{
    width: 150px !important;
}
.addCompanyInfo .businessAuth p input{
    width: 155px !important;
}
.addCompanyInfo .businessAuth p select{
    width: 155px !important;
    border: 1px solid #e6e6e6;
    height: 35px;
    line-height: 35px;
}
.addCompanyInfo .businessAuth p{
    text-align: left;
    font-size: 14px;
}
.addCompanyInfo .businessAuth p input[type='radio']{
    width: auto !important;
    border: none;
    box-shadow: none;
    margin-top: -3px;
}
.trMore{
    position: relative;
    display: block;
}
.trMore svg{
    position: absolute;
}
.result p{
    min-width: 135px;padding-left: 15px;
}
#companyContainer ul{
    border: none;
    border-right: 1px solid #e6e6e6;
}
#companyContainer ul li{
    border-bottom: 1px solid #e6e6e6;
    /* border: none; */
    border-left: 1px solid #e6e6e6;
}
.mainContain .orderDetailList table tr td:hover{
    background: #e7ecf2;
}
.mainContain .tableListDiv{
    margin-bottom: 10px;
}
.mainContain .tableListDiv tr th{
    background: #e7ecf2;
}
.mainContain .orderDetailList .tableBorder{
    width: 99%;
    margin: auto !important;
}
.mainContain .orderDetailList table tr th:hover{
    background: #e7ecf2;
}
.mainContain .orderDetailList{
    margin-bottom: 10px;
}
.mainContain .orderDetailList .ProcessOpinion .FormDiv label{
    position: relative;
}
.mainContain .orderDetailList .ProcessOpinion .FormDiv label span{
    width: 160px;
    display: inline-block;
    text-align: right;
}
.mainContain .orderDetailList .ProcessOpinion .FormDiv label input{
    width: 270px !important;
}
.mainContain .orderDetailList .ProcessOpinion .FormDiv label select{
    width: 270px !important;
    height: 35px;
}
.mainContain .orderDetailList .ProcessOpinion .FormDiv .title{
    width: 100%;
    display: block;
    background: #e7ecf2;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    color: #4da7fd;
    margin: auto auto auto auto;
    cursor: inherit;
}
.mainContain .orderDetailList .ProcessOpinion .FormDiv label i{
    position: absolute;
    right: 5px;
    top:1px;
}
</style>
<div class="mainContain">
<!--基本资料 start-->
<div class="tableListDiv data-container jurisdiction">
    <h3 style=" padding: 5px 5px 0px 13px;height: 52px;line-height: 30px;font-size: 17px;font-weight: bold;">基本资料</h3>
    <ul class="titles">
        <li>姓名</li>
        <li>手机号</li>
        <li>身份证号码</li>
        <li>当前额度(万元)</li>
        <li>额度状态</li>
    </ul>
    <ul>
        <li>
            <svg t="1503639637670" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="20" height="20"><path d="M512 832a32 32 0 0 0 32-32v-256h256a32 32 0 0 0 0-64h-256V224a32 32 0 0 0-64 0v256H224a32 32 0 0 0 0 64h256v256a32 32 0 0 0 32 32" fill="#B3B3B3"></path></svg>
            1
        </li>
        <li>淘宝指标</li>
        <li>IOS联通</li>
        <li>简单规则</li>
        <li> 22</li>
        <div class="detail hide">
            <svg width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon points="0,24 24,24 12,12" style="fill:#f6f6f6;stroke:#e6e6e6;stroke-width:1;stroke-bottom:none;"/>
            </svg>
            <ul style="margin-top:0">
                <li>序号</li>
                <li>申请时间</li>
                <li>授信金额(万元)</li>
                <li>贷款期限(个月)</li>
                <li>订单状态</li>
            </ul>
            <ul style="border: 0">
                <li>11</li>
                <li>22</li>
                <li>333</li>
                <li>444</li>
                <li>555</li>
            </ul>
            <ul style="border: 0">
                <li>11</li>
                <li>22</li>
                <li>333</li>
                <li>444</li>
                <li>555</li>
            </ul>
        </div>
    </ul>
    <ul>
        <li style="width: 100%;line-height: 45px;"><tm-pagination conf="paginationConf"></tm-pagination></li>
    </ul>
</div>
<!--基本资料 end-->
<!--淘宝资料 start-->

<!--添加备注 start-->
<div class="orderDetailList ">
    <h3 style="margin-bottom: 20px;">添加备注 <button  onClick="popupDiv('NoteDiv')" class="btn" style="margin-left: 30px">添加</button> </h3>
    <!--<p style="background-color: #e7ecf2;font-size: 16px;text-indent: 20px; color:#4da7fd;">总备注</p>-->
    <div class="remarkDiv">
        <table class="tableBorder">
            <thead>
            <tr style="background: #e7ecf2">
                <th>姓名</th>
                <!--<th>部门</th>-->
                <!--<th>备注类型</th>-->
                <!--<th>报单结果</th>-->
                <th>备注时间</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="RemarkList in RemarkLists">
                <td>{{RemarkList.operatorName||'--'}}</td>
                <!--<td>{{RemarkList.operatorDep||'--'}}</td>-->
                <!--<td>{{RemarkList.step||'--'}}</td>-->
                <!--<td>{{RemarkList.step||'--'}}</td>-->
                <td>{{RemarkList.createTime||'--'| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{RemarkList.remark||'--'}}</td>
            <tr ng-show="RemarkLists==''||RemarkLists==null||RemarkLists==undefined">
                <td colspan="6" style="text-align: center">暂无备注信息！</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--添加备注弹出框 start-->
<div style="min-width: 400px" class="ImportantNote NoteDiv">
    <div class="headline">
        <span>添加备注</span>
        <img style="left: 94%;" onClick="hideDiv('NoteDiv')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 30px 50px;" class="businessAuth">
        <div class="imgDiv">
            <textarea id="operAdvice" ng-model="operAdvice" placeholder="请输入备注内容"></textarea>
        </div>
        <div class="submitBtn1" style="text-align: center;margin-top: 25px;">
            <button ng-click="addRemark()" class="btn">确定</button>
            <button type="button" class="btn" style="background: #ccc;" onClick="hideDiv('NoteDiv')">关闭</button>
        </div>
    </div>
</div>
<!--处理意见 start-->
<div id="orderdetail_advice" class="orderDetailList" style="height: auto;">
    <h3>确认推送信息</h3>
    <div class="ProcessOpinion">
        <!--<textarea style="width:40%; height: 290px;margin-left: 10px;" id="ProcessOpinion" ng-blur="saveData()" ng-model="ProcessOpinion" placeholder="请输入处理意见"></textarea>-->
        <div style="width:99%;height: auto;background: #fff;border: 1px solid #e6e6e6;margin: auto;float: none;" class="FormDiv">
            <p style="font-size: 14px;margin:0px 0 5px;">
                <label class="title">企业相关</label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;" for="orderCode">
                    <span style="margin-right: 5px;">贷款编号:</span>
                    <input ng-disabled="1" placeholder="请输入贷款编号" style="width: 200px;" type="text" id="orderCode" ng-model="orderCode" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">企业名称:</span>
                    <input ng-disabled="1" placeholder="请输入企业名称" style="width: 200px;" type="text" ng-model="companyName" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">营业执照编号:</span>
                    <input ng-disabled="1" placeholder="请输入营业执照编号" style="width: 200px;" type="text" ng-model="businessLicense" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">企业组织代码证编号:</span>
                    <input placeholder="代码证编号(必须带有'-')" style="width: 200px;" type="text" id="organizationCode" ng-model="organizationCode" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">企业中征码:</span>
                    <input placeholder="请输入企业中征码" style="width: 200px;" type="text" id="pbCreditCode" ng-model="pbCreditCode" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">企业所属行业:</span>
                    <input placeholder="请输入企业所属行业" style="width: 200px;" type="text" id="companyIndustry" ng-model="companyIndustry" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">企业规模:</span>
                    <input placeholder="请输入企业规模" style="width: 200px;" type="text" id="companySize" ng-model="companySize" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">企业联系人姓名:</span>
                    <input placeholder="请输入企业联系人姓名" style="width: 200px;" type="text" id="companyLinkman" ng-model="companyLinkman" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">企业联系人手机号码:</span>
                    <input placeholder="请输入企业联系人手机号码" style="width: 200px;" type="text" id="companyLinkmanTel" ng-model="companyLinkmanTel" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">隶属省份:</span>
                    <select name="province" id="provinceSN" ng-model="provinceSN" ng-options="provinces.id as provinces.name for provinces in provinceCity" ng-change="showCity(provinceSN)">
                        <option value="">请选择省</option>
                    </select>
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">隶属城市:</span>
                    <select name="city" id="cityCode" ng-model="cityCode" ng-options="city.id as city.name for city in Citys">
                        <option value="">请选择市</option>
                    </select>
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">企业通讯地址:</span>
                    <input placeholder="请输入企业通讯地址" style="width: 200px;" type="text" id="companyAddress" ng-model="companyAddress" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">对公客户分类:</span>
                    <select name="corporateType" id="corporateType" ng-model="corporateType">
                        <option value="">请选择客户分类</option>
                        <option value="010100">企业</option>
                        <option value="100000">个体工商户</option>
                    </select>
                </label>
                <!--<label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">-->
                    <!--<span style="margin-right: 5px;">法人姓名:</span>-->
                    <!--<input placeholder="请输入法人姓名" style="width: 200px;" type="text" id="legalName" ng-model="legalName" />-->
                <!--</label>-->
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">注册资金:</span>
                    <input placeholder="请输入注册资金" style="width: 200px;" type="text" id="registeredCapital" ng-model="registeredCapital" />
                    <i>万元</i>
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">实际控制人姓名:</span>
                    <input ng-disabled="1" placeholder="请输入实际控制人姓名" style="width: 200px;" type="text" id="name" ng-model="name" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">实际控制人身份证号:</span>
                    <input ng-disabled="1" placeholder="请输入实际控制人身份证号" style="width: 200px;" type="text" id="idcard" ng-model="idcard" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">实际控制人手机号码:</span>
                    <input ng-disabled="1" placeholder="请输入实际控制人手机号码" style="width: 200px;" type="text" id="mobile" ng-model="mobile" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">证件有效日期:</span>
                    <input placeholder="证件有效日期(20170101)" style="width: 200px;" type="text" id="documentsAging" ng-model="documentsAging" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">邮编:</span>
                    <input placeholder="请输入邮编" style="width: 200px;" type="text" id="postalCode" ng-model="postalCode" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">学历:</span>
                    <select id="education" ng-model="education" ng-options="educationDetail.id as educationDetail.name for educationDetail in educations" >
                        <option value="">请选择学历</option>
                    </select>
                </label>
            </p>
            <p style="font-size: 14px;margin:0px 0 5px;">
                <label class="title">店铺相关
                    <button style="margin-left: 30px;" ng-click="getStoryInfo()" class="btn" type="button">获取指标</button>
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">店铺Url:</span>
                    <input placeholder="店铺Url" style="width: 200px;" type="text" id="shopUrl" ng-model="shopUrl" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">年销售额:</span>
                    <input placeholder="年销售额（大于等于1000000.00）" style="width: 200px;" type="text" id="annualSalesVolume" ng-model="annualSalesVolume" />
                    <i>元</i>
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;" for="clickFarmingRate">
                    <span style="margin-right: 5px;">刷单率:</span>
                    <input placeholder="请输入刷单率" type="text" style="width: 200px;" id='clickFarmingRate' ng-model="clickFarmingRate" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">退款率:</span>
                    <input placeholder="请输入退款率" type="text" style="width: 200px;" id="refundRate" ng-model="refundRate" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">店铺经营年限:</span>
                    <input placeholder="店铺经营年限(大于等于1)" style="width: 200px;" type="text" id="storeAge" ng-model="storeAge" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">描述相符:</span>
                    <input placeholder="请输入描述相符" style="width: 200px;" type="text" id="dsrDescribe" ng-model="dsrDescribe" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">描述相符行业平均:</span>
                    <input placeholder="行业平均(大于等于-10)" style="width: 200px;" type="text" id="dsrDescribeAverage" ng-model="dsrDescribeAverage" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">服务质量:</span>
                    <input placeholder="请输入服务质量" style="width: 200px;" type="text" id="drsServiceQuality" ng-model="drsServiceQuality" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">服务质量行业平均:</span>
                    <input placeholder="行业平均(大于等于-10)" style="width: 200px;" type="text" id="drsServiceQualityAverage" ng-model="drsServiceQualityAverage" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">物流质量:</span>
                    <input placeholder="请输入物流质量" style="width: 200px;" type="text" id="drsLogisticsQuality" ng-model="drsLogisticsQuality" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">物流质量行业平均:</span>
                    <input placeholder="行业平均(大于等于-10)" style="width: 200px;" type="text" id="drsLogisticsQualityAverage" ng-model="drsLogisticsQualityAverage" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">30天纠纷率:</span>
                    <input placeholder="<=“30天纠纷率行业平均”的值的0.5倍" style="width: 200px;" type="text" id="disputeRate" ng-model="disputeRate" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">30天纠纷率行业平均:</span>
                    <input placeholder="30天纠纷率行业平均" style="width: 200px;" type="text" id="disputeRateAverage" ng-model="disputeRateAverage" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">处罚扣分:</span>
                    <input placeholder="请输入处罚扣分(小于等于4且为整数)" style="width: 200px;" type="text" id="punishPoints" ng-model="punishPoints" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">客单价同比:</span>
                    <input placeholder="请输入客单价同比(大于等于-0.5)" style="width: 200px;" type="text" id="unitPriceYearOnYear" ng-model="unitPriceYearOnYear" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">付费流量占比:</span>
                    <input placeholder="请输入付费流量占比(小于等于0.6)" style="width: 200px;" type="text" id="ratioOfPaidTraffic" ng-model="ratioOfPaidTraffic" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">销售额（扣除退款）同比:</span>
                    <input placeholder="销售额（扣除退款）同比(大于等于-0.5)" style="width: 200px;" type="text" id="salesYearOnYear" ng-model="salesYearOnYear" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">负债经营率:</span>
                    <input placeholder="(小于等于1.5)" style="width: 200px;" type="text" id="debtRatio" ng-model="debtRatio" />
                </label>

                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">建议风险等级:</span>
                    <select id="riskRating" ng-model="riskRating">
                        <option value="">选择风险等级(一（优）至五（劣）五级)</option>
                        <option value="1">一级</option>
                        <option value="2">二级</option>
                        <option value="3">三级</option>
                        <option value="4">四级</option>
                        <option value="5">五级</option>
                    </select>
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">原始数据文件状态:</span>
                    <input disabled="disabled" value="未上传" style="width: 200px;" type="text" ng-show="yssjStatus==0"  />
                    <input disabled="disabled" value="已上传" style="width: 200px;" type="text" ng-show="yssjStatus==1" />
                    <input disabled="disabled" value="未知" style="width: 200px;" type="text" ng-show="yssjStatus==''||yssjStatus==null||yssjStatus==undefined" />
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">证据链文件状态:</span>
                    <input disabled="disabled" value="未上传" style="width: 200px;" type="text" ng-show="zjlStatus==0"  />
                    <input disabled="disabled" value="已上传" style="width: 200px;" type="text" ng-show="zjlStatus==1" />
                    <input disabled="disabled" value="未知" style="width: 200px;" type="text" ng-show="zjlStatus==''||zjlStatus==null||zjlStatus==undefined" />
                </label>
            </p>
            <p style="font-size: 14px;margin:0px 0 5px;">
                <label class="title">额度相关</label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">建议贷款额度:</span>
                    <input placeholder="大于等于10000.00小于等于500000.00" style="width: 200px;" type="text" id="lineOfCredit" ng-model="lineOfCredit" />
                    <i>元</i>
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">建议贷款期限:</span>
                    <select id="loanPayTerm" ng-model="loanPayTerm">
                        <option value="">选择贷款期限</option>
                        <option value="12">12个月</option>
                    </select>
                </label>
                <label style="height: 35px;line-height: 35px;margin: 0 0 10px 26px;">
                    <span style="margin-right: 5px;">建议还款方式:</span>
                    <select id="repaymentMethod" ng-model="repaymentMethod">
                        <option value="">选择还款方式</option>
                        <option value="1">先息后本</option>
                    </select>
                </label>
            </p>
            <p style="margin: 20px 0;" class="align_center">
                <label style="height: 35px;line-height: 35px;margin: 0 0 0 26px;">
                    <button ng-click="pushToBank()" class="btn" id="handleOrder">提交</button>
                </label>
            </p>
        </div>
        <!--<p class="sendMessageP"><button class="sendMessage">发送短信</button></p>-->
    </div>
</div>
<!--处理意见 end-->
</div>
<div class="ImportantNote transferInfo">
    <div class="headline">
        <span>重要提示</span>
        <img onclick="hideDiv('transferInfo')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>

        <div class="submitBtn1" style="text-align: right;">
            <button ng-click="goBack()" type="button" class="btn">返回上一页</button>
        </div>
    </div>
</div>
<!--转交信息 end-->
<!--转交信息 start-->
<div class="ImportantNote moneyLimited">
    <div class="headline">
        <span>重要提示</span>
        <img  onclick="hideDiv('moneyLimited')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>

        <div class="submitBtn1" style="text-align: right;">
            <input onclick="hideDiv('moneyLimited')" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--转交信息 end-->
<!--基本信息失效 start-->
<div class="ImportantNote baseInfoReset">
    <div class="headline">
        <span>重要提示</span>
        <img onclick="hideDiv('baseInfoReset')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22"
             height="22">
    </div>
    <div class="businessAuth">
        <p>
            <img src="image/comm/attentionPlease.png" alt="注意："/>
            <span class="Message">确定将 <span style="color: orange">{{userName}}</span> 的基本信息进行失效操作？</span>
        </p>

        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="baseInfoResetSure()" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--基本信息失效 end-->

<!--淘宝认证失效 start-->
<div class="ImportantNote taoBaoInfoReset">
    <div class="headline">
        <span>重要提示</span>
        <img onclick="hideDiv('taoBaoInfoReset')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22"
             height="22">
    </div>
    <div class="businessAuth">
        <p>
            <img src="image/comm/attentionPlease.png" alt="注意："/>
            <span class="Message">确定将 <span style="color: orange">{{userName}}</span> 的淘宝认证信息进行失效操作？</span>
        </p>

        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="taoBaoInfoResetSure()" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--淘宝认证失效 end-->

<!--工资流水失效 start-->
<div class="ImportantNote salaryRecordReset">
    <div class="headline">
        <span>重要提示</span>
        <img onclick="hideDiv('salaryRecordReset')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22"
             height="22">
    </div>
    <div class="businessAuth">
        <p>
            <img src="image/comm/attentionPlease.png" alt="注意："/>
            <span class="Message">确定将 <span style="color: orange">{{userName}}</span> 的工资流水信息进行失效操作？</span>
        </p>

        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="salaryRecordResetSure()" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--工资流水失效 end-->

<!--人行征信失效 start-->
<div class="ImportantNote pbcRecordReset">
    <div class="headline">
        <span>重要提示</span>
        <img onclick="hideDiv('pbcRecordReset')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22"
             height="22">
    </div>
    <div class="businessAuth">
        <p>
            <img src="image/comm/attentionPlease.png" alt="注意："/>
            <span class="Message">确定将 <span style="color: orange">{{userName}}</span> 的人行征信信息进行失效操作？</span>
        </p>

        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="pbcRecordResetSure()" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--人行征信失效 end-->

<!--签约信息失效 start-->
<div class="ImportantNote signRecordReset">
    <div class="headline">
        <span>重要提示</span>
        <img onclick="hideDiv('signRecordReset')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22"
             height="22">
    </div>
    <div class="businessAuth">
        <p>
            <img src="image/comm/attentionPlease.png" alt="注意："/>
            <span class="Message">确定将 <span style="color: orange">{{userName}}</span> 的签约认证进行失效操作？</span>
        </p>

        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="signRecordResetSure()" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--签约信息失效 end-->
<!--保存成功start-->
<div class="ImportantNote SaveSuccess">
    <div class="headline">
        <span>重要提示</span>
        <img onclick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22"
             height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>

        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--保存成功end-->
<!--图片查看通用弹出框start-->
<div style="min-width: 400px" class="ImportantNote imgShow">
    <div class="headline">
        <span>图片查看</span>
        <img style="left: 95%;" onClick="hideDiv('imgShow')" class="companyCloseImg"
             src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <div class="imgDiv">
            <a href="{{chooled}}" rel="{{chooled}}"><img class="artZoom" ng-show="chooled!=''" alt="请重填身份证照片"
                                                         style="cursor: pointer;margin: 0" src="{{chooled}}"
                                                         width="700"/></a>
        </div>
        <div class="submitBtn1" style="text-align: right;">
            <input type="button" value="关闭" class="btnNoAct" onClick="hideDiv('imgShow')">
        </div>
    </div>
</div>
<!--图片查看通用弹出框start-->
<!--重构失效 start-->
<div class="ImportantNote resetFuc">
    <div class="headline">
        <span>重要提示</span>
        <img onclick="hideDiv('resetFuc')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22"
             height="22">
    </div>
    <div class="businessAuth">
        <p>
            <img src="image/comm/attentionPlease.png" alt="注意："/>
            <span class="Message"></span>
        </p>

        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="resetFucSure()" type="button" value="确定" class="btn">
            <input onclick="hideDiv('resetFuc')" type="button" value="取消" class="btn">
        </div>
    </div>
</div>
<!--重构失效 end-->
<!--查询中 end-->
<div class="ImportantNote loading">
    <div class="businessAuth">
        <p><img src="image/comm/wait.gif" alt="查询中"/><span class="Message">正在刷新报告，请耐心等待......</span></p>
    </div>
</div>
<!--查询中 end-->
<!--添加共同借款人有企业 start-->
<div style="min-width: 400px" class="ImportantNote addCommonLoader">
    <div class="headline">
        <a style="width: 100%;text-align: left; text-indent: 24px;" ng-class="{'activeLoader': activePerson  == true} "  href="javascript:void(0);" ng-click="addPerson()">添加共同借款人</a>
        <!--<a ng-class="{'activeLoader': activeCompany == true} " href="javascript:void(0);" ng-click="addCompany()">企业</a>-->
    </div>
    <div style="padding: 30px 50px;height: 310px;" class="businessAuth">
        <!--个人 start-->
        <div ng-show="activePerson" class="imgDiv">
            <!--<p><span style="width: 123px;text-align: right">上传人行征信：</span><label style="text-align: left" for="yes"><input id="yes1" type="checkbox" ng-model="needCredit"/>是</label></p>-->
            <p><span style="width: 70px;text-align: right" >姓名：</span><input type="text" placeholder="请输入共同借款人姓名" ng-model="jointLoanUserName" id="firPersonN" style="width: 195px !important;"/></p>
            <p><span style="width: 70px;text-align: right" >手机号码：</span><input type="text" placeholder="请输入共同借款人手机号码" ng-model="jointLoanPhone" id="jointLoanPhone" maxlength="12" style="width: 195px !important;"/></p>
            <p><span style="width: 70px;text-align: right" >身份证号：</span><input type="text" placeholder="请输入共同借款人身份证号码" ng-model="jointLoanIDcard" id="jointLoanIDcard" maxlength="18" style="width: 195px !important;"/></p>
            <div class="submitBtn1" style="text-align: center;margin-top: 25px;">
                <button id="commonBtnStatus" ng-click="addCommonLoanerP()" class="btn store">保存</button>
                <button type="button" class="btn" onclick="hideDiv('addCommonLoader')">取消</button>
            </div>
        </div>
    </div>
</div>
<!--添加共同借款人有企业 end-->
<!--添加放款条件弹出框 start-->
<div style="min-width: 400px" class="ImportantNote addConditions">
    <div class="headline">
        <span>添加放款条件资料</span>
        <img style="left: 94%;" onClick="hideDiv('addConditions')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 30px 50px;" class="businessAuth">
        <div class="imgDiv">
            <p><span>添加放款条件资料：</span>
                <select name="selectedCommonCondId" id="selectedCommonCondId"  ng-model="selectedCommonCondId" ng-options="queryConNameDetail.id as queryConNameDetail.name for queryConNameDetail in queryConName">
                    <option value="">请选择放款条件资料</option>
                </select>
            </p>
            <textarea ng-model="remark" placeholder="请输入备注内容"></textarea>
        </div>
        <div class="submitBtn1" style="text-align: center;margin-top: 25px;">
            <button ng-click="addLoanconditions()" class="btn">确定</button>
            <button type="button" class="btn" onClick="hideDiv('addConditions')">关闭</button>
        </div>
    </div>
</div>
<!--添加放款条件弹出框 end-->

<!--添加企业信息 addCompanyInfo start-->
<!--<div style="min-width: 400px" class="ImportantNote addCompanyInfo">-->
<!--<div class="headline">-->
<!--<span>添加企业</span>-->
<!--<img style="left: 94%;" onClick="hideDiv('addCompanyInfo')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">-->
<!--</div>-->
<!--<div style="padding: 30px 50px;" class="businessAuth">-->
<!--<p style="margin-bottom: 20px;">-->
<!--<label style="width: 341px;display: inline-block;">-->
<!--<span style="width: 180px;text-align: right">实际控制人是否为股东:</span>-->
<!--<input ng-model="shPerson" type="radio" name="isSHPerson" value="1"/>是-->
<!--<input ng-model="shPerson" type="radio" name="isSHPerson" value="0"/>否-->
<!--</label>-->
<!--<label style="width: 337px;display: inline-block;">-->
<!--<span style="width: 180px;text-align: right">公司类型:</span>-->
<!--<input ng-model="companyType" type="radio" name="companyType" value="100000"/>个体工商户-->
<!--<input ng-model="companyType" type="radio" name="companyType" value="010100"/>企业-->
<!--</label>-->
<!--<label for="realControllerId" style="width:auto;margin-left: 0">-->
<!--<span style="width: 180px;text-align: right">选择实际控制人:</span>-->
<!--<select ng-change="realControllerChange(realControllerId)" name="realControllerId" id="realControllerId" ng-model="realControllerId" ng-options="RealController.userId as RealController.userName for RealController in RealControllers">-->
<!--<option value="">请选择实际控制人</option>-->
<!--</select>-->
<!--</label>-->
<!--</p>-->
<!--<p>-->
<!--<label for="shopName" style="width:auto;margin-left: 0">-->
<!--<span style="width: 180px;text-align: right">选择店铺:</span>-->
<!--<select name="shopName" id="shopName" ng-model="shopName" ng-options="storeInfo.nickName as storeInfo.shopName for storeInfo in storeInfos">-->
<!--<option value="">请选择店铺</option>-->
<!--</select>-->
<!--</label>-->
<!--<label for="companyName" style="width:auto;">-->
<!--<span style="width: 180px;text-align: right">公司名称:</span>-->
<!--<input ng-model="companyName" id="companyName" type="text" placeholder="请输入公司名称" />-->
<!--</label>-->
<!--<label for="licenceNo" style="width:auto;">-->
<!--<span style="width: 180px;text-align: right">营业执照号:</span>-->
<!--<input ng-model="licenceNo" id="licenceNo" type="text" placeholder="请输入营业执照号" />-->
<!--</label>-->
<!--</p>-->
<!--<p style="margin: 10px 0 10px;text-align: center;text-align: center"><a style="color: #71B9FE;font-size: 14px;text-decoration: none" ng-click="addHouse()" href="javascript:void(0)">+添加股东</a></p>-->
<!--<p ng-repeat="channelsTypeDetail in channelsTypes" style="margin-bottom: 20px;" ng-init="outerIndex = $index+1" class="{{$index}} sectionNew">-->
<!--<label>-->
<!--<span style="width: 180px;text-align: right">股东{{$index+1}}姓名:</span>-->
<!--<input type="text" name="shareHolderName{{outerIndex}}" id="shareHolderName{{outerIndex}}" placeholder="请输入股东姓名" ng-model="channelsTypeDetail.shareHolderName"/>-->
<!--</label>-->
<!--<label>-->
<!--<span style="width: 180px;text-align: right">股东{{$index+1}}电话:</span>-->
<!--<input type="text" name="shareHolderPhone{{outerIndex}}" id="shareHolderPhone{{outerIndex}}" placeholder="请输入股东电话" ng-model="channelsTypeDetail.shareHolderPhone"/>-->
<!--</label>-->
<!--<label>-->
<!--<span style="width: 180px;text-align: right">股东{{$index+1}}身份证:</span>-->
<!--<input type="text" name="shareHolderCardNo{{outerIndex}}" id="shareHolderCardNo{{outerIndex}}" placeholder="请输入股东身份证" ng-model="channelsTypeDetail.shareHolderCardNo"/>-->
<!--</label>-->
<!--<label>-->
<!--<a style="color: #71B9FE;font-size: 14px;text-decoration: none" href="javascript:void(0)" ng-click="delHouse(channelsTypeDetail,$index)">移除</a>-->
<!--</label>-->
<!--</p>-->
<!--<div class="submitBtn1" style="text-align: center;margin-top: 25px;">-->
<!--<button ng-click="addCompanySure()" class="btn">确定</button>-->
<!--<button type="button" class="btn" onClick="hideDiv('addCompanyInfo')">关闭</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--添加企业信息 end-->

<!--单个删除弹出框start-->
<div class="ImportantNote deleteCommonLoanContainer">
    <div class="headline">
        <span>删除{{titleName}}</span>
        <img onClick="hideDiv('deleteCommonLoanContainer')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <p>确定要删除 <span style="color: #ff0000;">{{CommonLoanName}}</span> 该{{titleName}}？</p>
        <div class="submitBtn1" style="text-align: center;">
            <input type="button" value="删除" style="" class="btn" ng-click="deleteCommonLoanSure()"/>
            <input type="button" value="取消" class="btn" onClick="hideDiv('deleteCommonLoanContainer')">
        </div>
    </div>
</div>

<!--单个删除弹出框end-->
<!--放款条件 文件列表 start-->
<div class="ImportantNote fileList">
    <div class="headline">
        <span>文件列表</span>
        <img onClick="hideDiv('fileList')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <div style="overflow: auto;min-width: 400px;width: auto" class="tableDiv" id="disSaler1">
            <table style="width: 100%;">
                <thead>
                <tr>
                    <td>序号</td>
                    <td>资料名称</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr id="memberChoose" ng-repeat="fileDetail in fileLists">
                    <td>{{$index+1}}</td>
                    <td>{{fileName}}</td>
                    <td><a style="color: #4da7fd" href="{{fileDetail}}" target="_blank">下载</a></td>
                </tr>
                <tr ng-show="fileLists==''||fileLists==null||fileLists==undefined">
                    <td style="text-align: center" colspan="3">暂无上传的文件！</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="submitBtn1" style="text-align: right;">
            <input type="button" value="关闭" style="background: #4da7fd" class="btn" onClick="hideDiv('fileList')">
        </div>
    </div>
</div>
<!--放款条件 文件列表 end-->
<!--转交弹出框 start-->
<div class="ImportantNote transfer">
    <div class="headline">
        <span>请选择转交候选人</span>
        <img onClick="hideDiv('transfer')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <div class="tableDiv">
            <table>
                <thead>
                <tr>
                    <td>选择</td>
                    <!--<td>电话号码</td>-->
                    <td>待处理人</td>
                </tr>
                </thead>
                <tbody>
                <tr id="memberChoose1" ng-repeat="transfer in transfers">
                    <td><input value="{{transfer.employeeCodes}}" ng-model="EmployeChoose" type="radio" name="person"/></td>
                    <!--<td>{{transfer.phone}}</td>-->
                    <td>{{transfer.employeeNames}}</td>
                </tr>
                <tr ng-show="transfers==''||transfers==undefined||transfers==null">
                    <td colspan="3" style="text-align: center">未获取到数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="submitBtn1" style="text-align: center;">
            <button type="button" ng-click="transferMember(transfer);" value="" class="btn">确定</button>
            <button type="button" value="" class="btn" onClick="hideDiv('transfer')">取消</button>
        </div>
    </div>
</div>
<!--转交弹出框 end-->
<script>
    function tabChangeInfo(obj){
        var names = $(obj).attr('title');
        $("#"+names).css("display","block").siblings().css("display","none");
        $(obj).addClass("activeApp").siblings().removeClass("activeApp");
    }
    function wholeDis(obj){
        var cont = $(obj).attr("name");

        $(obj).append("<span style='z-index:100000;position:absolute;top: 35px;left: 50%;display: inline-block;height: 1px;width: 18px;background-color:#FFFFFF;'></span><img style='position:absolute;top: 22px;left: 50%;' src='image/comm/arrow1.png' width='18' height='14;'/><div id='displayWholeInformation' style='position: absolute;border: 1px solid #ccc;border-radius:5px;background: #fff;z-index: 999;padding: 5px 10px;;top: 35px;left: 200px;width: 600px!important; height: auto!important;max-height: 500px;overflow: auto;overflow-x: hidden;'>" +
                cont+"</div>");
    }
    function wholeHide(obj){
        $(obj).find("div#displayWholeInformation").css("display","none");
        $(obj).find("div#displayWholeInformation").prev().hide();

    }

    /*隐性负债验证优化start*/
    function wholeDisDebt(obj){
        var cont = $(obj).attr("name");
        $(obj).append(" <img src='image/comm/diffClosed.png' onclick='wholeHideDebt(event,this)' style='cursor: pointer;display: inline-block;width: 18;height: 18px;position: absolute;z-index:1000;right: -45px;top: 40px;'/><div onclick='wholeNoDisDebt(event)' id='displayWholeInformation1' style='position: absolute;border: 1px solid #ccc;border-radius:5px;background: #fff;z-index: 999;padding: 10px 10px;top: 30px;left: 200px;width: 600px!important; height: auto!important;max-height: 500px;overflow: auto;overflow-x: hidden;border-top: 35px solid #e7ecf2;'>" +
                cont+"<br /><button onclick='wholeHideDebt1(event,this)' style='cursor: pointer;outline:none;display: inline-block;margin-left: calc(50% - 25px);'class='btn'>关闭</button>   "+
                "</div>");
    }
    function wholeNoDisDebt(event){
        event.stopPropagation();
    }
    function wholeHideDebt(event,obj){
        event.stopPropagation();
        $(obj).next().hide();
        $(obj).hide();
    }
    function wholeHideDebt1(event,obj){
        event.stopPropagation();
        $(obj).parent().hide();
        $(obj).parent().prev().hide();
    }
    /*隐性负债验证优化end*/


    function newLineBySign(msgs){

        ss=$.trim(msgs);


        if(ss.indexOf("\\n")>0) {
            var result='';
            result=ss.replace(/(\\n)/g,"$1\n");

            result=result.replace(/(\\n)/g,"");
            return result;
        }else{
            return ss;
        }


    }

    /*锚点start*/
    function clickNav(obj){
        var $index = ''
        $index = $(obj).index();
        $('#clickNav ul li').eq($index).addClass('anchor').siblings().removeClass('anchor');
        if($index==0){

        }else if($index==1){
            document.getElementById('applyHistory').scrollIntoView();

        }else if($index==2){
            document.getElementById('payWater').scrollIntoView();

        }else if($index==3){

            document.getElementById('operatorsReport').scrollIntoView();

        }else if($index==4){

            document.getElementById('operatorData').scrollIntoView();

        }else if($index==5){

            document.getElementById('againstReportCur').scrollIntoView();

        }else if($index==6){

            document.getElementById('privateData').scrollIntoView();

        }else{
            document.getElementById('applyHistory').scrollIntoView();
        }
    }
    /*锚点end*/
</script>
