<div class="mainContain">
    <!--查询div start-->
    <div class="queryDiv">
        <!--查询条件 start-->
        <ul id="form_content">
            <li>
                <label  for="cusName"><span style="width: 90px;">用户姓名：</span>
                    <input id="cusName" ng-model="cusName" name="userName" type="text" placeholder="请输入用户姓名" ng-model="cusName">
                </label>
                <label for="telephone">
                    <span  style="width: 90px;">用户电话：</span>
                    <input type="text" placeholder="请输入用户电话" id="telephone" ng-model="telephone">
                </label>
                <label for="SendStartDate">
                    <span style="width: 100px;">推送起始时间：</span>
                    <input type="date" id="SendStartDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="SendStartDate">
                </label>
                <label for="SendEndDate">
                    <span style="width: 100px;">推送结束时间：</span>
                    <input type="date" id="SendEndDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="SendEndDate">
                </label>
            </li>
            <li>
                <label for="bankPayStatus">
                    <span>推送状态：</span>
                    <select id="bankPayStatus" ng-model="bankPayStatus">
                        <option value="">选择推送状态</option>
                        <option value="0">已提交</option>
                        <option value="-1">提交失败</option>
                        <option value="-2">跳过</option>

                    </select>
                </label>
                <label for="bankPayStatus">
                    <span>设备类型：</span>
                    <select id="deviceType" ng-model="deviceType">
                        <option value="">选择设备类型</option>
                        <option value="iPhone">iPhone</option>
                        <option value="Android">Android</option>


                    </select>
                </label>

            </li>
            <!--<div ng-show="moreInformation">-->
                <li>
                    <label for="userPhones">
                        <span>批量电话：</span>
                        <textarea class="batchPhone" id="userPhones" ng-model="userPhones" placeholder="请输入客户电话，多个号码查询请用'任意字符'隔开" ></textarea>
                    </label>
                </li>
            <!--</div>-->
            <div style="display:flex;">
                <button id="clear_btn" style="margin: 10px 0 0 27px;background: #4da7fd" class="btn" ng-click="clearSearch()">清空</button>
                <button id="search_btn" style="margin:10px 0 0 30px;" class="btn" ng-click="onQuery()">查询</button>
                <!--<li class="moreChoose"  ng-click="morePack()"  ng-class="{true: 'open', false: ''}[isActive]">更多选项<i></i></li>-->
            </div>

        </ul>
        <!--查询条件 end-->
    </div>
    <!--查询div end-->
    <!--table start-->
    <div class="tableListDiv data-container">
        <table>
            <thead id="apply_infos_header">
            <tr>
              <th>序号</th>
                <th>申请用户</th>
                <th>用户电话</th>
                <th>推送时间</th>

                <th>银行产品</th>
                <th>推送状态</th>
                <th>设备类型</th>
                <th class="risk_control">操作</th>

            </tr>
            </thead>
            <tbody id="apply_infos_table">
            <tr data-appid = "{{orderListDetail.id}}" ng-class="{'':dataYoungLoan=='','bg-gray':orderListDetail.id == dataYoungLoan}" ng-repeat="orderListDetail in orderList" onmouseover="changeColorHad(this)" onmouseout="changeColorHide(this)">    

                <td class="firstTd">{{$index+1}}</td>
                <td>{{orderListDetail.userName||'--'}}</td>
                <td>{{orderListDetail.userPhone||'--'}}</td>
                <td>{{orderListDetail.created||'--'}}</td>

                <td>青春贷</td>

                <td ng-show="orderListDetail.status==0">已提交</td>
                <td ng-show="orderListDetail.status==-1">提交失败</td>
                <td ng-show="orderListDetail.status==-2">跳过</td>
                <td>{{orderListDetail.deviceType||'--'}}</td>
                <td><a ng-click="onhandle($event,orderListDetail)" href="javascript:void(0)" id="handle">查看</a></td>

            </tr>

            </tbody>
            <tfoot>
            <tr>
                <td style="text-align: center" colspan="8"><tm-pagination conf="paginationConf"></tm-pagination></td>
            </tr>
            </tfoot>
        </table>

    </div>
    <!--table end-->
</div>
<!--查询中 end-->
<script type="text/javascript">
     function changeColorHad(obj){
        $(obj).addClass('bgg-gray');
        window.localStorage.setItem('style', JSON.stringify({background: '#ccc'}))
    }
     function changeColorHide(obj){
		 $(obj).removeClass('bgg-gray');
     }
</script>

