<div class="mainContain">
    <!--查询div start-->
    <div class="queryDiv">
        <!--查询条件 start-->
        <ul id="form_content">
            <li>
                <label for="cusName"><span>销售姓名：</span>
                    <input id="cusName" ng-model="cusName" name="userName" type="text" placeholder="请输入用户姓名" ng-model="cusName">
                </label>
                <label>
                    <button id="search_btn" class="btn" ng-click="onQuery()">查询</button>
                </label>
            </li>
        </ul>
        <!--查询条件 end-->

    </div>
    <!--查询div end-->
    <!--table start-->
    <div class="tableListDiv data-container">
        <table>
            <thead id="apply_infos_header">
            <tr>
                <th><input type="checkbox" value="1" onclick="selAll(this)" id="allSelected"/>全部</th>
                <th>销售姓名</th>
                <th>导入时间</th>
                <th>导入客户数</th>
                <th class="risk_control">操作</th>
            </tr>
            </thead>
            <tbody id="apply_infos_table">
            <tr ng-repeat="orderListDetail in orderList">
                <td class="firstTd">{{$index+1}}<input style="margin-left: 5px;" type="checkbox" name="che"  value="{{orderListDetail.userId}}"/></td>
                <td>{{orderListDetail.userName}}</td>
                <td>{{orderListDetail.userPhone}}</td>
                <td>{{orderListDetail.excuteUserName}}</td>
                <td><a ng-click="outPost(orderListDetail)" href="javascript:void(0)" id="handle">导出</a></td>
            </tr>
            <tr>
                <td><a ng-click="outPostAll()" href="javascript:void(0)">批量导出</a></td>
                <td colspan="4"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td style="text-align: center" colspan="5"><tm-pagination conf="paginationConf"></tm-pagination></td>
            </tr>
            </tfoot>
        </table>

    </div>
    <!--table end-->
</div>
<!--选择备注红旗 start-->
<div class="ImportantNote redFlag">
    <p><input   type="radio" name="flag" ng-value="0" ng-model="editMarkValue" ng-click="onFlagSelected(0)"/><span class="greyN flagWhole"></span>
        <input  type="radio" name="flag"  ng-value="1" ng-model="editMarkValue" ng-click="onFlagSelected(1)"/><span class="redN flagWhole"></span>
        <input  type="radio" name="flag"  ng-value="2" ng-model="editMarkValue" ng-click="onFlagSelected(2)"/><span class="orangeN flagWhole"></span>
        <input  type="radio" name="flag" ng-value="3" ng-model="editMarkValue" ng-click="onFlagSelected(3)"/><span class="yellowN flagWhole"></span>
        <input  type="radio" name="flag" ng-value="4" ng-model="editMarkValue" ng-click="onFlagSelected(4)" /><span class="greenN flagWhole"></span>
        <input  type="radio" name="flag" ng-value="5" ng-model="editMarkValue" ng-click="onFlagSelected(5)" /><span class="qinN flagWhole"></span>
        <input  type="radio" name="flag" ng-value="6" ng-model="editMarkValue" ng-click="onFlagSelected(6)" /><span class="blueN flagWhole"></span>
        <input  type="radio" name="flag" ng-value="7" ng-model="editMarkValue" ng-click="onFlagSelected(7)" /><span class="purpleN flagWhole"></span>

    </p>
    <p><textarea style="color: #4d4d4d;" ng-model="editMarkContent"></textarea></p>
    <div class="submitBtn1 remark" style="text-align: center;">
        <input style="margin-right:13px;" type="button" value="保存" class="btn" ng-click="onBzContent()">
        <input type="button" value="取消" class="btnNoAct" onClick="hideDiv('redFlag')">
    </div>
</div>
<!--选择备注红旗 end-->
<!--保存成功start-->
<div class="ImportantNote SaveSuccess">
    <div class="headline">
        <span>重要提示</span>
        <img onClick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22"
             height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>

        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--保存成功end-->
<!--统一分配 start-->
<div class="ImportantNote statisticWhole">
    <div class="headline">
        <span>请选择分配人</span>
        <img onClick="hideDiv('statisticWhole')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <div class="tableDiv" id="disSaler1">
            <table>
                <thead>
                <tr>
                    <td>选择</td>
                    <td>电话号码</td>
                    <td>待处理人</td>
                </tr>
                </thead>
                <tbody>
                <tr id="memberChoose" ng-repeat="transfer in transfers">
                    <td><input value="{{transfer.id}}" ng-model="EmployeChoose" type="radio" name="person"/></td>
                    <td>{{transfer.phone}}</td>
                    <td>{{transfer.name}}</td>
                </tr>
                <tr ng-show="transfers==''||transfers==undefined||transfers==null">
                    <td colspan="2" style="text-align: center">未获取到数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="submitBtn1" style="text-align: right;">
            <input type="button" value="确定" class="btn" ng-click="statisticDistrubuteOrder()">
            <input type="button" value="取消" style="background: #4da7fd" class="btn" onClick="hideDiv('statisticWhole')">
        </div>
    </div>
</div>
<!--统一分配 end-->
