<style>
    .mainContain .queryDiv ul li label{
        margin-right: 10px;
        margin-left: 10px;
    }
    .mainContain .tableListDiv tr th{
        font-weight: normal;
        line-height: 30px;
    }
    .articalwithhold select{
        width: 155px;
        height: 35px;
        line-height: 35px;
        border: 1px solid #e6e6e6;
    }
    .articalwithhold .businessAuth p{
        font-size: 14px;
    }
    .ImportantNote .businessAuth .tableDiv{
        overflow: inherit;
    }
    .ImportantNote .businessAuth h4{
        margin: 10px auto 10px auto;
        font-weight: bold;
        color: #5dc373;
        font-size: 14px;
    }
</style>
<div class="mainContain">
    <!--查询div start-->
    <div class="queryDiv">
        <!--查询条件 start-->
        <ul id="form_content">
            <li>
                <label  for="cusName"><span>用户姓名：</span>
                    <input id="cusName" ng-model="cusName" name="userName" type="text" placeholder="请输入用户姓名" >
                </label>
                <label for="telephone">
                    <span>用户电话：</span>
                    <input type="text" placeholder="请输入用户电话" id="telephone" ng-model="telephone">
                </label>
                <label for="SendStartDate">
                    <span>推送开始时间：</span>
                    <input type="date" id="SendStartDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="SendStartDate">
                </label>
                <label for="SendEndDate">
                    <span>推送结束时间：</span>
                    <input type="date" id="SendEndDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="SendEndDate">
                </label>
                <label for="loanStatus">
                    <span>放款状态：</span>
                    <select ng-model="loanStatus" name="" id="loanStatus">
                        <option value="">选择放款状态</option>
                        <option value="STAY_DEAL">待处理</option>
                        <option value="LOAN_SUCCESS">放款成功</option>
                        <option value="LOAN_FAIL">放款失败</option>
                    </select>
                </label>
                <label for="loanStartDate">
                    <span>放款开始时间：</span>
                    <input type="date" id="loanStartDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="loanStartDate">
                </label>
                <label for="loanEndDate">
                    <span>放款结束时间：</span>
                    <input type="date" id="loanEndDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="loanEndDate">
                </label>
                <button id="clear_btn" style="margin: 10px 0 0 27px;background: #4da7fd" class="btn" ng-click="clearSearch()">清空</button>
                <button id="search_btn" style="margin:10px 0 0 30px;" class="btn" ng-click="onQuery()">查询</button>
            </li>
        </ul>
        <!--查询条件 end-->
    </div>
    <!--查询div end-->
    <!--table start-->
    <div class="tableListDiv data-container">
        <table>
            <thead id="apply_infos_header">
            <tr>
                <!--<th><input type="checkbox" value="1" onclick="selAll(this)" id="allSelected"/>全部</th>-->
                <th>序号</th>
                <th>申请用户</th>
                <th>用户电话</th>
                <th>用户身份证</th>
                <th>推送时间</th>
                <th>放款时间</th>
                <!--<th>银行产品</th>-->
                <!--<th>银行推送状态</th>-->
                <th>订单状态</th>
                <th>订单放款状态</th>
                <th>代扣状态</th>
                <th>放款金额(元)</th>
                <th>贷款周期(个月)</th>
                <th>放款失败原因</th>
                <!--<th>未代扣金额（元）</th>-->
                <!--<th>总代扣金额（元）</th>-->
                <!--<th>风控经理</th>-->
                <!--<th>推荐号</th>-->
                <th class="risk_control">操作</th>
                <!--<th class="risk_control">备注</th>-->
            </tr>
            </thead>
            <tbody id="apply_infos_table">
            <tr data-appid = "{{orderListDetail.id}}" ng-class="{'':dataHadSentToBank=='','bg-gray':orderListDetail.id == dataHadSentToBank}" ng-repeat="orderListDetail in orderList" onmouseover="changeColorHad(this)" onmouseout="changeColorHide(this)">    
                <!--<td class="firstTd">{{$index+1}}<input style="margin-left: 5px;" type="checkbox" name="che"  value="{{orderListDetail.userId}}"/></td>-->
                <td class="firstTd">{{$index+1}}</td>
                <td>{{orderListDetail.userName.substr(0,orderListDetail.userName.length-1) + '*'||'--'}}</td>
                <td>{{orderListDetail.userPhone.substring(0, 3) + '****'+orderListDetail.userPhone.substring(7, 11)||'--'}}</td>
                <td>{{orderListDetail.userIdcardNo.substr(0,1) + '****************' +orderListDetail.userIdcardNo.substr(orderListDetail.userIdcardNo.length-1,orderListDetail.userIdcardNo.length)||'--'}}</td>
                <td>{{orderListDetail.createTime||'--'}}</td>
                <td>{{orderListDetail.loanTime||'--'}}</td>
                <td>
                    <span ng-show="orderListDetail.orderStatus=='PENDING'">待处理</span>
                    <span ng-show="orderListDetail.orderStatus=='AGREE_LOAN'">同意提款</span>
                    <span ng-show="orderListDetail.orderStatus=='GIVE_UP'">放弃提款</span>
                    <span ng-show="orderListDetail.orderStatus==null||orderListDetail.orderStatus==undefined||orderListDetail.orderStatus==''">--</span>
                </td>
                <td>
                    <span ng-show="orderListDetail.loanStatus=='STAY_DEAL'">待处理</span>
                    <span ng-show="orderListDetail.loanStatus=='LOAN_SUCCESS'">放款成功</span>
                    <span ng-show="orderListDetail.loanStatus=='LOAN_FAIL'">放款失败</span>
                    <span ng-show="orderListDetail.loanStatus==null||orderListDetail.loanStatus==undefined||orderListDetail.loanStatus==''">--</span>
                </td>
                <td ng-show="orderListDetail.cutFeeStatus=='STAY_DEAL'">待处理</td>
                <td ng-show="orderListDetail.cutFeeStatus=='SUCCESS'">代扣成功</td>
                <td ng-show="orderListDetail.cutFeeStatus=='FAIL'">代扣失败</td>
                <td ng-show="orderListDetail.cutFeeStatus==null||orderListDetail.cutFeeStatus==undefined||orderListDetail.cutFeeStatus==''">--</td>
                <td>{{orderListDetail.money/100||'--'}}</td>
                <td>{{orderListDetail.termMonth||'--'}}</td>
                <td>{{orderListDetail.remark||'--'}}</td>
                <td>
                    <!--<button ng-class="{'cutBtn':orderListDetail.canBeCuted == true,'cutBtnDisabled':orderListDetail.canBeCuted==false}" ng-disabled="orderListDetail.canBeCuted==false" ng-show="orderListDetail.loan==1&&(orderListDetail.cutStatus==0||orderListDetail.cutStatus==1)&&orderListDetail.cutfee>0" ng-click="articalWithholdFuc(orderListDetail)">代扣</button>-->
                    <button ng-class="{'cutBtn':orderListDetail.canBeCuted == true,'cutBtnDisabled':orderListDetail.canBeCuted==false}" ng-show="orderListDetail.cutFeeStatus=='STAY_DEAL'||orderListDetail.cutFeeStatus=='FAIL'" ng-click="articalWithholdFuc(orderListDetail)">代扣</button>
                    <a ng-click="onhandle($event,orderListDetail)" href="javascript:void(0)" id="handle">查看详情</a>
                </td>
                <!--<td>-->
                    <!--<a title="{{orderListDetail.remark||'该订单暂无备注信息'}}" class="noteIcon" href="javascript:void (0)"-->
                       <!--ng-click="onFlagEdit(orderListDetail)"-->
                       <!--ng-class="{'noNote': orderListDetail.remarkFlag == 0 ||orderListDetail.remarkFlag == ''||orderListDetail.remarkFlag == null, 'redNote':orderListDetail.remarkFlag == 1 , 'orangeNote':orderListDetail.remarkFlag == 2,'yellowNote':orderListDetail.remarkFlag == 3,'greenNote':orderListDetail.remarkFlag == 4,'cyanNote':orderListDetail.remarkFlag == 5,'blueNote':orderListDetail.remarkFlag == 6,'purpleNote':orderListDetail.remarkFlag == 7,} ">-->
                    <!--</a>-->
                <!--</td>-->
            </tr>
            <!--<tr>-->
                <!--<td><a ng-click="statisticWholePop()" href="javascript:void(0)">统一分配</a></td>-->
                <!--<td colspan="13"></td>-->
            <!--</tr>-->
            </tbody>
            <tfoot>
            <tr>
                <td style="text-align: center" colspan="16"><tm-pagination conf="paginationConf"></tm-pagination></td>
            </tr>
            </tfoot>
        </table>

    </div>
    <!--table end-->
</div>
<!--选择备注红旗 start-->
<div class="ImportantNote redFlag">
    <p><input   type="radio" name="flag" value="0" ng-model="editMarkValue" ng-click="onFlagSelected(0)"/><span class="greyN flagWhole"></span>
        <input  type="radio" name="flag"  value="1" ng-model="editMarkValue" ng-click="onFlagSelected(1)"/><span class="redN flagWhole"></span>
        <input  type="radio" name="flag"  value="2" ng-model="editMarkValue" ng-click="onFlagSelected(2)"/><span class="orangeN flagWhole"></span>
        <input  type="radio" name="flag" value="3" ng-model="editMarkValue" ng-click="onFlagSelected(3)"/><span class="yellowN flagWhole"></span>
        <input  type="radio" name="flag" value="4" ng-model="editMarkValue" ng-click="onFlagSelected(4)" /><span class="greenN flagWhole"></span>
        <input  type="radio" name="flag" value="5" ng-model="editMarkValue" ng-click="onFlagSelected(5)" /><span class="qinN flagWhole"></span>
        <input  type="radio" name="flag" value="6" ng-model="editMarkValue" ng-click="onFlagSelected(6)" /><span class="blueN flagWhole"></span>
        <input  type="radio" name="flag" value="7" ng-model="editMarkValue" ng-click="onFlagSelected(7)" /><span class="purpleN flagWhole"></span>

    </p>
    <p><textarea style="color: #4d4d4d;" ng-model="editMarkContent"></textarea></p>
    <div class="submitBtn1 remark" style="text-align: center;">
        <input style="margin-right:13px;" type="button" value="保存" class="btn" ng-click="onBzContent()">
        <input type="button" value="取消" style="background: #4da7fd" class="btn" onClick="hideDiv('redFlag')">
    </div>
</div>
<!--选择备注红旗 end-->
<!--保存成功start-->
<div class="ImportantNote SaveSuccess">
    <div class="headline">
        <span>重要提示</span>
        <img onClick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22"
             height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>

        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--保存成功end-->
<!--统一分配 start-->
<div class="ImportantNote statisticWhole">
    <div class="headline">
        <span>请选择分配人</span>
        <img onClick="hideDiv('statisticWhole')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div class="businessAuth">
        <div class="tableDiv" id="disSaler1">
            <table>
                <thead>
                <tr>
                    <td>选择</td>
                    <td>电话号码</td>
                    <td>待处理人</td>
                </tr>
                </thead>
                <tbody>
                <tr id="memberChoose" ng-repeat="transfer in transfers">
                    <td><input value="{{transfer.id}}" ng-model="EmployeChoose" type="radio" name="person"/></td>
                    <td>{{transfer.phone}}</td>
                    <td>{{transfer.name}}</td>
                </tr>
                <tr ng-show="transfers==''||transfers==undefined||transfers==null">
                    <td colspan="2" style="text-align: center">未获取到数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="submitBtn1" style="text-align: right;">
            <input type="button" value="确定" class="btn" ng-click="statisticDistrubuteOrder()">
            <input type="button" value="取消" style="background: #4da7fd" class="btn" onClick="hideDiv('statisticWhole')">
        </div>
    </div>
</div>
<!--统一分配 end-->
<!--保存成功start-->
<div class="ImportantNote SaveSuccess">
    <div class="headline">
        <span>重要提示</span>
        <img onClick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22"
             height="22">
    </div>
    <div class="businessAuth">
        <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>

        <div class="submitBtn1" style="text-align: right;">
            <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
        </div>
    </div>
</div>
<!--保存成功end-->
<!--手动代扣 start-->
<div class="ImportantNote articalwithhold">
    <div class="headline">
        <span>手动代扣</span>
        <img onClick="hideDiv('articalwithhold')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22"
             height="22">
    </div>
    <div class="businessAuth" style="padding: 20px 30px;">
        <p style="width: 450px;  font-size: 13px; text-align: center;">
            注意： 此操作将对客户 <span id="users" style="color: red;"></span> 发起一笔手动代扣服务费，<span  style="color: red;">请确保提前通知客户，确保客户银行卡有足够余额，再发起代扣操作！！！</span>
        </p>
        <!--<p style="margin-top: 20px;">-->
            <!--<label for="bankCard">银行卡号：-->
                <!--<select name="bankCard" id="bankCard" ng-model="bankCard">-->
                    <!--<option value="">请选择银行卡号</option>-->
                <!--</select>-->
                <!--<span style="margin-left: 5px;visibility: hidden;">元</span>-->
            <!--</label>-->
        <!--</p>-->
        <!--<p style="margin-top: 20px;">-->
            <!--<label for="WithholdingChannel">代扣通道：-->
                <!--<select name="WithholdingChannel" id="WithholdingChannel" ng-model="WithholdingChannel">-->
                    <!--<option value="">请选择代扣通道</option>-->
                <!--</select>-->
                <!--<span style="margin-left: 5px;visibility: hidden;">元</span>-->
            <!--</label>-->
        <!--</p>-->
        <p style="margin-top: 20px;">
            <label for="withHoldMoney">代扣金额：
                <input id="withHoldMoney" type="text" ng-model="withHoldMon" placeholder="请输入未代扣金额">
                <span style="margin-left: 5px;">元</span>
            </label>
        </p>
        <div class="submitBtn1" style="text-align: center;">
            <input ng-click="WithholdFucSure()" type="button" value="确认代扣" class="btn">
            <input style="background: #e6e6e6;color: #333;"  onClick="hideDiv('articalwithhold')" type="button" value="取消" class="btn">
        </div>
    </div>
</div>
<!--手工代扣 end-->
<!--查看优啦订单详情 start-->
<div class="ImportantNote YouLaLoanAuditDetail">
    <div class="headline">
        <span>还款详情</span>
        <img onClick="hideDiv('YouLaLoanAuditDetail')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
    </div>
    <div style="padding: 10px 20px;" class="businessAuth">
        <div style="width: auto" class="tableDiv" id="YouLaLoanAuditDetail2">
            <h4>优啦速贷账户明细</h4>
            <table>
                <tr>
                    <th>用户名</th>
                    <td>{{userName||'--'}}</td>
                    <th>电话</th>
                    <td>{{userPhone||'--'}}</td>
                    <th>身份证号码</th>
                    <td>{{userIdcardNo||'--'}}</td>
                    <th>银行卡号</th>
                    <td>{{userBankNo||'--'}}</td>
                    <th>应还总金额（元）</th>
                    <td>{{fastOrderAccount.planSumMoney/100||'0'}}</td>
                </tr>
                <tr>
                    <th>已还总金额（元）</th>
                    <td>{{fastOrderAccount.paySumMoney/100||'0'}}</td>
                    <th>应还本金（元）</th>
                    <td>{{fastOrderAccount.planRepayment/100||'0'}}</td>
                    <th>已还本金（元）</th>
                    <td>{{fastOrderAccount.payRepayment/100||'0'}}</td>
                    <th>应还利息（元）</th>
                    <td>{{fastOrderAccount.planIntereset/100||'0'}}</td>
                    <th>已还利息（元）</th>
                    <td>{{fastOrderAccount.payIntereset/100||'0'}}</td>
                </tr>
                <tr>
                    <th>应还罚息（元）</th>
                    <td>{{fastOrderAccount.planOver/100||'0'}}</td>
                    <th>已还罚息（元）</th>
                    <td>{{fastOrderAccount.payOver/100||'0'}}</td>
                    <th>逾期天数（天）</th>
                    <td>{{fastOrderAccount.overDay/100||'0'}}天</td>
                    <th>执行利率</th>
                    <td>{{fastOrderAccount.exeRate||'0'}}%</td>
                    <th>逾期利率</th>
                    <td>{{fastOrderAccount.overRate||'0'}}%</td>
                </tr>
                <tr>
                    <th>账户状态</th>
                    <td>
                        <span ng-show="fastOrderAccount.status=='NOT_SETTLE'">未结清</span>
                        <span ng-show="fastOrderAccount.status=='SETTLE D'">已结清</span>
                        <span ng-show="fastOrderAccount.status=='OVERDUE'">逾期</span>
                        <span ng-show="fastOrderAccount.status=='OVERDUE_SETTLED'">逾期已结清</span>
                        <span ng-show="fastOrderAccount.status==''||fastOrderAccount.status==null||fastOrderAccount.status==undefined">--</span>
                    </td>
                    <th>贷款周期</th>
                    <td>{{fastOrderAccount.termMonth||'0'}}个月</td>
                    <th>已还期数</th>
                    <td>{{fastOrderAccount.excuteTermMonth||'0'}}个月</td>
                    <th>下期应还日</th>
                    <td>{{fastOrderAccount.nextPayDate||'--'}}</td>
                    <th>最近收款日期</th>
                    <td>{{fastOrderAccount.lastPayTime||'--'}}</td>
                </tr>
            </table>
        </div>
        <div style="width: auto" class="tableDiv" id="YouLaLoanAuditDetail1">
            <h4>优啦速贷还款明细表</h4>
            <table>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>应还本金（元）</th>
                    <th>已还本金（元）</th>
                    <th>应还利息（元）</th>
                    <th>已还利息（元）</th>
                    <th>应还罚息（元）</th>
                    <th>已还罚息（元）</th>
                    <th>状态</th>
                    <th>期数</th>
                </tr>
                </thead>
                <tbody>
                <tr id="YouLaLoanAuditDetail" ng-repeat="payDetail in payDetails">
                    <td>{{$index+1}}</td>
                    <td>{{payDetail.planRepayment||'0'}}</td>
                    <td>{{payDetail.payRepayment||'0'}}</td>
                    <td>{{payDetail.planIntereset||'0'}}</td>
                    <td>{{payDetail.payIntereset||'0'}}</td>
                    <td>{{payDetail.planOver||'0'}}</td>
                    <td>{{payDetail.payOver||'0'}}</td>
                    <td>
                        <span ng-show="payDetail.status=='NOT_SETTLE'">未结清</span>
                        <span ng-show="payDetail.status=='SETTLE D'">已结清</span>
                        <span ng-show="payDetail.status=='OVERDUE'">逾期</span>
                        <span ng-show="payDetail.status=='OVERDUE_SETTLED'">逾期已结清</span>
                    </td>
                    <td>{{payDetail.batchNo||'0'}}</td>
                </tr>
                <tr ng-show="payDetails==''||payDetails==undefined||payDetails==null">
                    <td colspan="9" style="text-align: center">未获取到数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="submitBtn1" style="text-align: right;">
            <input type="button" value="关闭" class="btn" onClick="hideDiv('YouLaLoanAuditDetail')">
        </div>
    </div>
</div>
<!--查看优啦订单详情 end-->
<script type="text/javascript">
     function changeColorHad(obj){
        $(obj).addClass('bgg-gray');
        window.localStorage.setItem('style', JSON.stringify({background: '#ccc'}))
    }
     function changeColorHide(obj){
		 $(obj).removeClass('bgg-gray');
     }
</script>
