<div class="mainContain">
    <!--查询div start-->
    <div class="queryDiv">
        <!--查询条件 start-->
        <ul id="form_content">
            <li>
                <label  for="cusName"><span style="width: 100px;">姓名：</span>
                    <input id="cusName" ng-model="cusName" name="userName" type="text" placeholder="请输入用户姓名" ng-model="cusName">
                </label>
                <label for="telephone">
                    <span  style="width: 100px;">电话：</span>
                    <input type="text" placeholder="请输入用户电话" id="telephone" ng-model="telephone">
                </label>
                <label for="pushDate">
                    <span style="width: 100px;">推送时间：</span>
                    <input type="date" id="pushDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="pushDate">
                </label>
                <label for="zongwangDate">
                    <span style="width: 100px;">众网放款时间:</span>
                    <input type="date" id="zongwangDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="zongwangDate">
                </label>
            </li>
            <li>
                <label for="recommendation">
                    <span style="width: 100px;">推荐号：</span>
                    <input type="text" placeholder="请输入推荐号" id="recommendation" ng-model="recommendation">
                </label>
                <label for="loanOrderStatus">
                    <span style="width: 100px;">订单放款状态：</span>
                    <select id="loanOrderStatus" ng-model="loanOrderStatus">
                        <option value="">选择订单放款状态</option>
                        <option value="CREATED">已创建</option>
                        <option value="APPLIED">已申请</option>
                        <option value="AUDIT_PASSED">审核通过</option>
                        <option value="AUDIT_REJECT">审核拒绝</option>
                        <option value="LOAN_SUCCESS">放款成功</option>
                        <option value="LOAN_FAIL">放款失败</option>
                        <option value="SERVICR_OVERTIME">服务超时</option>
                        <option value="SERVICR_FAILED">服务失败</option>
                    </select>
                </label>
                <label><button id="clear_btn" style="margin: 10px 0 0 27px;background: #4da7fd" class="btn" ng-click="clearSearch()">清空</button><button id="search_btn" style="margin:10px 0 0 30px;" class="btn" ng-click="onQuery()">查询</button></label>
            </li>

        </ul>
        <!--查询条件 end-->
    </div>
    <!--查询div end-->
    <!--table start-->
    <div class="tableListDiv data-container">
        <table>
            <thead id="apply_infos_header">
            <tr>
                <th>序号</th>
                <th>申请用户</th>
                <th>用户电话</th>
                <th>身份证号码</th>
                <th>推送时间</th>
                <th>众网放款时间</th>
                <th>订单放款状态</th>
                <th>放款金额（元）</th>
                <th>贷款周期</th>
                <th>放款失败原因</th>
                <th>推荐号</th>
                <th class="risk_control" ng-click="detailSearch()">详情</th>
            </tr>
            </thead>
            <tbody id="apply_infos_table">
                <tr data-appid = "{{orderListDetail.id}}" ng-class="{'':dataPublic=='','bg-gray':orderListDetail.id == dataPublic}" ng-repeat="orderListDetail in orderList" onmouseover="changeColorHad(this)" onmouseout="changeColorHide(this)">
                   <td class="firstTd">{{$index+1}}</td>
                   <td>{{orderListDetail.userName||'--'}}</td>
                   <td>{{orderListDetail.secrectPhone||'--'}}</td>
                   <td>{{orderListDetail.userIdNo||'--'}}</td>
                   <td>{{orderListDetail.pushTime||'--' | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                   <td>{{orderListDetail.loanTime||'--' | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                   <td>{{orderListDetail.statusName||'--'}}</td>
                   <td>{{orderListDetail.loanAmount/100||'--'}}</td>
                   <td>{{orderListDetail.loanTerm||'--'}}个月</td>
                   <td>{{orderListDetail.extraParams||'--'}}</td>
                   <td>{{orderListDetail.recommendedNo||'--'}}</td>
                   <td><a ng-click="onhandle($event,orderListDetail)" href="javascript:void(0)" id="handle">查看</a></td>
               </tr>
            </tbody>
            <tfoot>
            <tr>
                <td style="text-align: center" colspan="13"><tm-pagination conf="paginationConf"></tm-pagination></td>
            </tr>
            </tfoot>
        </table>

    </div>
    <!--table end-->
</div>
<!--查询中 end-->
<script type="text/javascript">
     function changeColorHad(obj){
        $(obj).addClass('bgg-gray');
        window.localStorage.setItem('style', JSON.stringify({background: '#ccc'}))
    }
     function changeColorHide(obj){
		 $(obj).removeClass('bgg-gray');
     }
</script>

