<style>
    .queryDiv input{
        width: 165px;
    }
    .queryDiv select{
        width: 165px;
    }
    .mainContain .queryDiv ul li label{
        margin-left: 15px;
    }
    .mainContain .queryDiv ul li label span{
        width: auto;;
    }
</style>
<div class="mainContain">
    <!--查询div start-->
    <div class="queryDiv">
        <!--查询条件 start-->
        <ul id="form_content">
            <li>
                <label for="cusName"><span>用户姓名：</span>
                    <input id="cusName" ng-model="cusName" name="userName" type="text" placeholder="请输入用户姓名" ng-model="cusName">
                </label>
                <label for="telephone">
                    <span>用户电话：</span>
                    <input type="text" placeholder="请输入用户电话" id="telephone" ng-model="telephone">
                </label>
                <label for="zzCodeExists">
                    <span>企业中征码：</span>
                    <select ng-model="zzCodeExists" name="" id="zzCodeExists">
                        <option value="">是否有企业中征码</option>
                        <option value="1">有</option>
                        <option value="0">无</option>
                    </select>
                </label>
                <label for="startDate">
                    <span>创建放款单开始时间：</span>
                    <input type="date" id="startDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="startDate">
                </label>
                <label>
                    <span>创建放款单结束时间：</span>
                    <input type="date" id="endDate" placeholder="yyyy-MM-dd" min="20160601 | date:'yyyyMMdd" max="20201231 | date:'yyyyMMdd" required="" ng-model="endDate">
                </label>
            </li>
            <li>
                <label style="display: flex;align-items: center;">
                    <span>备注状态：</span>
                    <p style="display: flex;align-items: center;">
                        <input  type="radio" name="remarkFlag" value="0" ng-model="remarkFlag" ng-blur="putFlagToCook(0)"/><span class="greyN flagWhole"></span>
                        <input  type="radio" name="remarkFlag" value="1" ng-model="remarkFlag" ng-blur="putFlagToCook(1)"/><span class="redN flagWhole"></span>
                        <input  type="radio" name="remarkFlag" value="2" ng-model="remarkFlag" ng-blur="putFlagToCook(2)"/><span class="orangeN flagWhole"></span>
                        <input  type="radio" name="remarkFlag" value="3" ng-model="remarkFlag" ng-blur="putFlagToCook(3)"/><span class="yellowN flagWhole"></span>
                        <input  type="radio" name="remarkFlag" value="4" ng-model="remarkFlag" ng-blur="putFlagToCook(4)"/><span class="greenN flagWhole"></span>
                        <input  type="radio" name="remarkFlag" value="5" ng-model="remarkFlag" ng-blur="putFlagToCook(5)"/><span class="qinN flagWhole"></span>
                        <input  type="radio" name="remarkFlag" value="6" ng-model="remarkFlag" ng-blur="putFlagToCook(6)"/><span class="blueN flagWhole"></span>
                        <input  type="radio" name="remarkFlag" value="7" ng-model="remarkFlag" ng-blur="putFlagToCook(7)"/><span class="purpleN flagWhole"></span>
                    </p>
                </label>
            </li>
            <li>
                <label for="userPhones">
                    <span>批量电话：</span>
                    <textarea class="batchPhone" id="userPhones" ng-model="userPhones" placeholder="请输入客户电话，多个号码查询请用'任意字符'隔开" ></textarea>
                </label>
            </li>
            <li>
                <label>
                    <button id="clear_btn" style="margin: 10px 0 0 27px;background: #4da7fd" class="btn" ng-click="clearSearch()">清空</button>
                    <button id="search_btn" style="margin:10px 0 0 30px;" class="btn" ng-click="onQuery()">查询</button>
                </label>
            </li>
        </ul>
        <!--查询条件 end-->
    </div>
    <!--查询div end-->
    <!--table start-->
    <div class="tableListDiv data-container">
        <table>
            <thead id="apply_infos_header">
            <tr>
                <!--<th><input type="checkbox" value="1" onclick="selAll(this)" id="allSelected"/>全部</th>-->
                <th>序号</th>
                <th>申请用户</th>
                <th>用户电话</th>
                <th>创建放款单时间</th>
                <th>产品类型</th>
                <th>订单放款状态</th>
                <th>资金通道</th>
                <th>放款额度(万元)</th>
                <th>贷款期限(个月)</th>
                <th>企业中征码</th>
                <th>操作</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody id="apply_infos_table">
            <tr ng-repeat="orderDetail in orderList">
                <!--<td class="firstTd">{{$index+1}}<input style="margin-left: 5px;" type="checkbox" name="che"  value="{{orderDetail.id}}"/></td>-->
                <td class="firstTd">{{$index+1}}</td>
                <td>{{orderDetail.userName||'--'}}</td>
                <td>{{orderDetail.secrectPhone||'--'}}</td>
                <td>{{orderDetail.created||'--'|date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{orderDetail.productType||'--'}}

                </td>
                <td>{{orderDetail.status||'--'}}

                </td>
                <td>{{orderDetail.channelProductCode||'--'}}</td>
                <td>{{orderDetail.withdrawAmount||'0'}}</td>
                <td>{{orderDetail.loanTerm||'--'}}</td>
                <td>{{orderDetail.zzCode||'--'}}</td>
                <td><a ng-click="onhandle($event,orderDetail)" href="javascript:void(0)" id="handle">处理</a></td>
                <td>
                    <a title="{{orderListDetail.flag||'该订单暂无备注信息'}}" class="noteIcon" href="javascript:void (0)"
                       ng-click="onFlagEdit(orderListDetail)"
                       ng-class="{'noNote': orderListDetail.flagValue == 0 ||orderListDetail.flagValue == ''||orderListDetail.flagValue == null, 'redNote':orderListDetail.flagValue == 1 , 'orangeNote':orderListDetail.flagValue == 2,'yellowNote':orderListDetail.flagValue == 3,'greenNote':orderListDetail.flagValue == 4,'cyanNote':orderListDetail.flagValue == 5,'blueNote':orderListDetail.flagValue == 6,'purpleNote':orderListDetail.flagValue == 7,} ">
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td><a ng-click="statisticWholePop()" href="javascript:void(0)">统一分配</a></td>
                <td colspan="12"><tm-pagination conf="paginationConf"></tm-pagination></td>
            </tr>
            </tfoot>
        </table>

    </div>
    <!--table end-->
    <!--保存成功start-->
    <div class="ImportantNote SaveSuccess">
        <div class="headline">
            <span>重要提示</span>
            <img onClick="hideDiv('SaveSuccess')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22"  height="22">
        </div>
        <div class="businessAuth">
            <p><img src="image/comm/attentionPlease.png" alt="注意："/><span class="Message"></span></p>

            <div class="submitBtn1" style="text-align: right;">
                <input ng-click="reload()" onClick="hideDiv('SaveSuccess')" type="button" value="确定" class="btn">
            </div>
        </div>
    </div>
    <!--保存成功end-->
    <!--统一分配 start-->
    <div class="ImportantNote statisticWhole">
        <div class="headline">
            <span>请选择分配人</span>
            <img onClick="hideDiv('statisticWhole')" class="companyCloseImg" src="image/comm/diffClosed.png" width="22" height="22">
        </div>
        <div class="businessAuth">
            <div class="tableDiv" id="disSaler1">
                <table>
                    <thead>
                    <tr>
                        <td>选择</td>
                        <td>电话号码</td>
                        <td>待处理人</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="memberChoose" ng-repeat="transfer in transfers">
                        <td><input value="{{transfer.id}}" ng-model="EmployeChoose" type="radio" name="person"/></td>
                        <td>{{transfer.phone}}</td>
                        <td>{{transfer.name}}</td>
                    </tr>
                    <tr ng-show="transfers==''||transfers==undefined||transfers==null">
                        <td colspan="2" style="text-align: center">未获取到数据</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="submitBtn1" style="text-align: right;">
                <input type="button" value="确定" class="btn" ng-click="statisticDistrubuteOrder()">
                <input type="button" value="取消" style="background: #4da7fd" class="btn" onClick="hideDiv('statisticWhole')">
            </div>
        </div>
    </div>
    <!--统一分配 end-->

    <!--查询中 end-->
    <div class="ImportantNote loading">
        <div class="businessAuth">
            <p><img src="image/comm/wait.gif" alt="查询中"/><span class="Message">正在查询中，请耐心等待......</span></p>
        </div>
    </div>
    <!--查询中 end-->
    <script type="text/javascript">
        function changeColorHad(obj){
            $(obj).addClass('bgg-gray');
            window.localStorage.setItem('style', JSON.stringify({background: '#ccc'}))
        }
        function changeColorHide(obj){
            $(obj).removeClass('bgg-gray');
        }
    </script>
